{{! Reusable Transformation Action Card Row Partial }}
<tr
  class="erps-data-table__row erps-data-table__row--hoverable {{#if (eq actionCard.system.mode 'attackChain')}}{{#unless actionCard.system.embeddedItem.type}}erps-data-table__row--warning{{/unless}}{{/if}}"
  data-item-id="{{actionCard.id}}"
  data-drag="true"
  data-document-class="Item"
  {{#if actionCard.system.description}}
  title="{{actionCard.system.description}}"
  {{/if}}
>
  <td class="erps-data-table__cell erps-data-table__cell--name">
    <div class="erps-data-table__name-content">
      <img
        src="{{actionCard.img}}"
        title="{{actionCard.name}}"
        width="24"
        height="24"
      />
      <span>{{actionCard.name}}</span>
    </div>
  </td>
  <td class="erps-data-table__cell erps-data-table__cell--center">
    {{#if actionCard.system.embeddedItem._id}}
      <div class="erps-data-table__embedded-item">
        <img
          src="{{actionCard.system.embeddedItem.img}}"
          title="{{actionCard.system.embeddedItem.name}}"
          width="18"
          height="18"
        />
        <span>{{actionCard.system.embeddedItem.name}}</span>
      </div>
    {{else}}
      {{#if (eq actionCard.system.mode "attackChain")}}
        <span class="erps-data-table__empty-state">{{localize "EVENTIDE_RP_SYSTEM.General.None"}}</span>
      {{else}}
        <div class="erps-data-table__embedded-item">
          <span>{{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.SavedDamageMode"}}</span>
        </div>
      {{/if}}
    {{/if}}
  </td>
  <td class="erps-data-table__cell erps-data-table__cell--center">
    {{#if (eq actionCard.system.mode "attackChain")}}
      <div class="erps-data-table__mode-info" title="Attack Chain: {{actionCard.system.attackChain.firstStat}} + {{actionCard.system.attackChain.secondStat}}">
        <span class="erps-data-table__mode-stats">
          {{actionCard.system.attackChain.firstStat}} + {{actionCard.system.attackChain.secondStat}}
        </span>
        {{#if (ne actionCard.system.attackChain.damageCondition "never")}}
          <i class="fas fa-sword" title="Damage on {{actionCard.system.attackChain.damageCondition}}"></i>
        {{/if}}
        {{#if (ne actionCard.system.attackChain.statusCondition "never")}}
          <i class="fas fa-magic" title="Status on {{actionCard.system.attackChain.statusCondition}}"></i>
        {{/if}}
      </div>
    {{else if (eq actionCard.system.mode "savedDamage")}}
      <div class="erps-data-table__mode-info" title="Saved Damage: {{actionCard.system.savedDamage.formula}} {{actionCard.system.savedDamage.type}}">
        <span class="erps-data-table__mode-stats">{{actionCard.system.savedDamage.formula}}</span>
        <i class="fas fa-heart-broken" title="{{actionCard.system.savedDamage.type}}"></i>
      </div>
    {{else}}
      <span class="erps-data-table__empty-state">{{localize "EVENTIDE_RP_SYSTEM.General.Unknown"}}</span>
    {{/if}}
  </td>
  <td class="erps-data-table__cell erps-data-table__cell--controls">
    <a
      class="erps-data-table__control erps-data-table__control--edit"
      data-action="editEmbeddedActionCard"
      data-action-card-id="{{actionCard.id}}"
      title="{{localize 'EVENTIDE_RP_SYSTEM.UI.Edit'}}"
    >
      <i class="fas fa-edit"></i>
    </a>
    {{#if editable}}
      <a
        class="erps-data-table__control erps-data-table__control--delete"
        data-action="removeActionCard"
        data-action-card-id="{{actionCard.id}}"
        title="{{localize 'EVENTIDE_RP_SYSTEM.UI.Remove'}}"
      >
        <i class="fas fa-trash"></i>
      </a>
    {{/if}}
  </td>
</tr>
