{{!-- Action Card Attributes Tab --}}
<section class="tab action-card-attributes {{tab.cssClass}}" data-group="primary" data-tab="attributes">
  <div class="eventide-sheet__scrollable-container">

    {{!-- Mode Selection --}}
    <div class="erps-form__section">
      <div class="erps-form__header">{{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.Mode"}}</div>

      <div>
        <label class="erps-input-label">
          {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.SelectMode"}}
        </label>
        <select class="erps-select" name="system.mode">
          <option value="attackChain" {{#if (eq system.mode "attackChain")}}selected{{/if}}>
            {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.AttackChainMode"}}
          </option>
          <option value="savedDamage" {{#if (eq system.mode "savedDamage")}}selected{{/if}}>
            {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.SavedDamageMode"}}
          </option>
        </select>
        <p class="erps-form__hint">{{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.ModeHint"}}</p>
      </div>

      {{!-- Advance Initiative Toggle --}}
      <div class="eventide-sheet__toggle-group">
        <label class="erps-toggles erps-toggles--label-left">
          <input
            type="checkbox"
            class="erps-toggles__input"
            name="system.advanceInitiative"
            id="system.advanceInitiative"
            {{checked system.advanceInitiative}}
          />
          <div class="erps-toggles__container">
            <span class="erps-toggles__label" title='{{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.AdvanceInitiative.label"}}'>
              {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.AdvanceInitiative.label"}}
            </span>
            <span class="erps-toggles__track">
              <span class="erps-toggles__thumb"></span>
            </span>
          </div>
        </label>
      </div>

      {{!-- Attempt Inventory Reduction Toggle --}}
      <div class="eventide-sheet__toggle-group">
        <label class="erps-toggles erps-toggles--label-left">
          <input
            type="checkbox"
            class="erps-toggles__input"
            name="system.attemptInventoryReduction"
            id="system.attemptInventoryReduction"
            {{checked system.attemptInventoryReduction}}
          />
          <div class="erps-toggles__container">
            <span class="erps-toggles__label" title='{{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.AttemptInventoryReduction.label"}}'>
              {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.AttemptInventoryReduction.label"}}
            </span>
            <span class="erps-toggles__track">
              <span class="erps-toggles__thumb"></span>
            </span>
          </div>
        </label>
      </div>

      {{!-- GM Only Toggle --}}
      <div class="eventide-sheet__toggle-group">
        <label class="erps-toggles erps-toggles--label-left">
          <input
            type="checkbox"
            class="erps-toggles__input"
            name="system.gmOnly"
            id="system.gmOnly"
            {{checked system.gmOnly}}
          />
          <div class="erps-toggles__container">
            <span class="erps-toggles__label" title='{{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.GmOnly.hint"}}'>
              {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.GmOnly.label"}}
            </span>
            <span class="erps-toggles__track">
              <span class="erps-toggles__thumb"></span>
            </span>
          </div>
        </label>
      </div>
    </div>

    {{!-- Attack Chain Configuration --}}
    {{#if (eq system.mode "attackChain")}}
    <div class="erps-form__section">
      <div class="erps-form__header">{{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.AttackChain"}}</div>
        <div class="grid grid-2col">
          <div>
            <label class="erps-input-label">
              {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.FirstStat"}}
            </label>
            <select class="erps-select" name="system.attackChain.firstStat">
              {{#each abilities as |name key|}}
                {{#unless (eq key "unaugmented")}}
                  <option value="{{key}}" {{#if (eq ../system.attackChain.firstStat key)}}selected{{/if}}>
                    {{localize (lookup @root.config.abilities key)}}
                  </option>
                {{/unless}}
              {{/each}}
            </select>
            <p class="erps-form__hint">{{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.FirstStatHint"}}</p>
          </div>
          <div>
            <label class="erps-input-label">
              {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.SecondStat"}}
            </label>
            <select class="erps-select" name="system.attackChain.secondStat">
              {{#each abilities as |name key|}}
                {{#unless (eq key "unaugmented")}}
                  <option value="{{key}}" {{#if (eq ../system.attackChain.secondStat key)}}selected{{/if}}>
                    {{localize (lookup @root.config.abilities key)}}
                  </option>
                {{/unless}}
              {{/each}}
            </select>
            <p class="erps-form__hint">{{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.SecondStatHint"}}</p>
          </div>
        </div>

        {{!-- Damage Configuration --}}
        <div class="erps-form__subsection">
          <div class="erps-form__header erps-form__header--small">{{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.DamageConfig"}}</div>

          <div class="grid grid-3col">
            <div>
              <label class="erps-input-label">
                {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.DamageCondition"}}
              </label>
              {{> components/condition-select name="system.attackChain.damageCondition" currentValue=system.attackChain.damageCondition}}
              <p class="erps-form__hint">{{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.DamageConditionHint"}}</p>
            </div>
            <div>
              <label class="erps-input-label">
                {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.DamageFormula"}}
              </label>
              <input
                type="text"
                class="erps-input"
                name="system.attackChain.damageFormula"
                value="{{system.attackChain.damageFormula}}"
                placeholder="1d6"
              />
            </div>
            <div>
              <label class="erps-input-label">
                {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.DamageType"}}
              </label>
              <select class="erps-select" name="system.attackChain.damageType">
                <option value="damage" {{#if (eq system.attackChain.damageType "damage")}}selected{{/if}}>
                  {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.Damage"}}
                </option>
                <option value="heal" {{#if (eq system.attackChain.damageType "heal")}}selected{{/if}}>
                  {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.Heal"}}
                </option>
              </select>
            </div>
            {{#if (or (eq system.attackChain.damageCondition "rollValue") (eq system.attackChain.damageCondition "rollUnderValue") (eq system.attackChain.damageCondition "rollOnValue"))}}
            <div>
              <label class="erps-input-label">
                {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.DamageThreshold"}}
              </label>
              <input
                type="number"
                class="erps-input"
                name="system.attackChain.damageThreshold"
                value="{{system.attackChain.damageThreshold}}"
                min="1"
                placeholder="15"
              />
            </div>
            {{/if}}
          </div>
        </div>

        {{!-- Status Configuration --}}
        <div class="erps-form__subsection">
          <div class="erps-form__header erps-form__header--small">{{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.StatusConfig"}}</div>

          <div class="grid grid-2col">
            <div>
              <label class="erps-input-label">
                {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.StatusCondition"}}
              </label>
              {{> components/condition-select name="system.attackChain.statusCondition" currentValue=system.attackChain.statusCondition}}
              <p class="erps-form__hint">{{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.StatusConditionHint"}}</p>
            </div>
            {{#if (or (eq system.attackChain.statusCondition "rollValue") (eq system.attackChain.statusCondition "rollUnderValue") (eq system.attackChain.statusCondition "rollOnValue"))}}
            <div>
              <label class="erps-input-label">
                {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.StatusThreshold"}}
              </label>
              <input
                type="number"
                class="erps-input"
                name="system.attackChain.statusThreshold"
                value="{{system.attackChain.statusThreshold}}"
                min="1"
                placeholder="15"
              />
            </div>
            {{/if}}
          </div>
        </div>


            {{!-- Self-Effects Configuration --}}
    <div class="erps-form__subsection">
      <div class="erps-form__header erps-form__header--small">{{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.Config.SelfEffectsHeader"}}</div>

      <div class="grid grid-2col">
        <div>
          <label class="erps-input-label">
            {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.SelfEffectsCondition"}}
          </label>
          {{> components/condition-select name="system.selfEffectsConfig.condition" currentValue=system.selfEffectsConfig.condition}}
          <p class="erps-form__hint">{{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.SelfEffectsConditionHint"}}</p>
        </div>
        {{#if (or (eq system.selfEffectsConfig.condition "rollValue") (eq system.selfEffectsConfig.condition "rollUnderValue") (eq system.selfEffectsConfig.condition "rollOnValue"))}}
        <div>
          <label class="erps-input-label">
            {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.SelfEffectsThreshold"}}
          </label>
          <input
            type="number"
            class="erps-input"
            name="system.selfEffectsConfig.threshold"
            value="{{system.selfEffectsConfig.threshold}}"
            min="1"
            max="30"
            placeholder="15"
          />
        </div>
        {{/if}}
      </div>
    </div>


      </div>

    {{!-- Transformation Configuration --}}
    <div class="erps-form__section">
      <div class="erps-form__header">{{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.TransformationConfig"}}</div>

      <div class="grid grid-2col">
        <div>
          <label class="erps-input-label">
            {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.TransformationCondition"}}
          </label>
          {{> components/condition-select name="system.transformationConfig.condition" currentValue=system.transformationConfig.condition}}
          <p class="erps-form__hint">{{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.TransformationConditionHint"}}</p>
        </div>
        {{#if (or (eq system.transformationConfig.condition "rollValue") (eq system.transformationConfig.condition "rollUnderValue") (eq system.transformationConfig.condition "rollOnValue"))}}
        <div>
          <label class="erps-input-label">
            {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.TransformationThreshold"}}
          </label>
          <input
            type="number"
            class="erps-input"
            name="system.transformationConfig.threshold"
            value="{{system.transformationConfig.threshold}}"
            min="1"
            max="30"
            placeholder="15"
          />
        </div>
        {{/if}}
      </div>
    </div>
    {{/if}}

    {{!-- Saved Damage Configuration --}}
    {{#if (eq system.mode "savedDamage")}}
    <div class="erps-form__section">
      <div class="erps-form__header">{{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.SavedDamage"}}</div>

      <div class="grid grid-2col">
        <div>
          <label class="erps-input-label">
            {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.SavedFormula"}}
          </label>
          <input
            type="text"
            class="erps-input"
            name="system.savedDamage.formula"
            value="{{system.savedDamage.formula}}"
            placeholder="1d6"
          />
        </div>
        <div>
          <label class="erps-input-label">
            {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.SavedType"}}
          </label>
          <select class="erps-select" name="system.savedDamage.type">
            <option value="damage" {{#if (eq system.savedDamage.type "damage")}}selected{{/if}}>
              {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.Damage"}}
            </option>
            <option value="heal" {{#if (eq system.savedDamage.type "heal")}}selected{{/if}}>
              {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.Heal"}}
            </option>
          </select>
        </div>
      </div>
    </div>
    {{/if}}



  </div>
</section>
