<section class="tab action-card-config {{tab.cssClass}}" 
         data-group="primary" data-tab="config">
  <div class="eventide-sheet__scrollable-container">
    
    {{!-- Repetitions Section --}}
  <div class="erps-form__section">
    <h3 class="erps-form__header">{{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.Config.RepetitionsHeader"}}</h3>
    <div class="grid grid-4col">
      <div class="erps-form__group">
        <label class="erps-input-label" for="{{item.id}}-repetitions">
          {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.Repetitions.label"}}
        </label>
        <input type="text"
               id="{{item.id}}-repetitions"
               name="system.repetitions"
               value="{{item.system.repetitions}}"
               placeholder="1"
               class="erps-input"
               data-dtype="String" />
        <p class="erps-form__hint">{{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.Repetitions.hint"}}</p>
      </div>

      <div class="erps-form__group">
        <label class="erps-input-label" for="{{item.id}}-timing-override">
          {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.TimingOverride.label"}}
        </label>
        <input type="number"
               id="{{item.id}}-timing-override"
               name="system.timingOverride"
               value="{{item.system.timingOverride}}"
               min="0"
               step="0.1"
               class="erps-input"
               data-dtype="Number" />
        <p class="erps-form__hint">{{{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.TimingOverride.hint"}}}</p>
      </div>

      <div class="erps-form__group">
        <label class="erps-input-label" for="{{item.id}}-status-application-limit">
          {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.StatusApplicationLimit.label"}}
        </label>
        <input type="number"
               id="{{item.id}}-status-application-limit"
               name="system.statusApplicationLimit"
               value="{{item.system.statusApplicationLimit}}"
               min="0"
               step="1"
               class="erps-input"
               data-dtype="Number" />
        <p class="erps-form__hint">{{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.StatusApplicationLimit.hint"}}</p>
      </div>

      <div class="erps-form__group">
        <label class="erps-input-label" for="{{item.id}}-self-effects-application-limit">
          {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.SelfEffectsApplicationLimit"}}
        </label>
        <input type="number"
               id="{{item.id}}-self-effects-application-limit"
               name="system.selfEffectsApplicationLimit"
               value="{{item.system.selfEffectsApplicationLimit}}"
               min="0"
               step="1"
               class="erps-input"
               data-dtype="Number" />
        <p class="erps-form__hint">{{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.SelfEffectsApplicationLimitHint"}}</p>
      </div>
    </div>
  </div>

  {{!-- Boolean Configuration Section --}}
  <div class="erps-form__section">
    <h3 class="erps-form__header">{{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.Config.BehaviorHeader"}}</h3>
    
    {{!-- Repeat to Hit Toggle --}}
    <div class="eventide-sheet__toggle-group">
      <label class="erps-toggles erps-toggles--label-left">
        <input
          type="checkbox"
          class="erps-toggles__input"
          name="system.repeatToHit"
          id="system.repeatToHit"
          {{checked system.repeatToHit}}
        />
        <div class="erps-toggles__container">
          <span class="erps-toggles__label" title='{{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.RepeatToHit.hint"}}'>
            {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.RepeatToHit.label"}}
          </span>
          <span class="erps-toggles__track">
            <span class="erps-toggles__thumb"></span>
          </span>
        </div>
      </label>
      <p class="erps-form__hint">{{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.RepeatToHit.hint"}}</p>
    </div>

    {{!-- Damage Application Toggle --}}
    <div class="eventide-sheet__toggle-group">
      <label class="erps-toggles erps-toggles--label-left">
        <input
          type="checkbox"
          class="erps-toggles__input"
          name="system.damageApplication"
          id="system.damageApplication"
          {{checked system.damageApplication}}
        />
        <div class="erps-toggles__container">
          <span class="erps-toggles__label" title='{{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.DamageApplication.hint"}}'>
            {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.DamageApplication.label"}}
          </span>
          <span class="erps-toggles__track">
            <span class="erps-toggles__thumb"></span>
          </span>
        </div>
      </label>
      <p class="erps-form__hint">{{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.DamageApplication.hint"}}</p>
    </div>

    {{!-- Cost On Repetition Toggle --}}
    <div class="eventide-sheet__toggle-group">
      <label class="erps-toggles erps-toggles--label-left">
        <input
          type="checkbox"
          class="erps-toggles__input"
          name="system.costOnRepetition"
          id="system.costOnRepetition"
          {{checked system.costOnRepetition}}
        />
        <div class="erps-toggles__container">
          <span class="erps-toggles__label" title='{{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.CostOnRepetition.hint"}}'>
            {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.CostOnRepetition.label"}}
          </span>
          <span class="erps-toggles__track">
            <span class="erps-toggles__thumb"></span>
          </span>
        </div>
      </label>
      <p class="erps-form__hint">{{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.CostOnRepetition.hint"}}</p>
    </div>

    {{!-- Fail On First Miss Toggle --}}
    <div class="eventide-sheet__toggle-group">
      <label class="erps-toggles erps-toggles--label-left">
        <input
          type="checkbox"
          class="erps-toggles__input"
          name="system.failOnFirstMiss"
          id="system.failOnFirstMiss"
          {{checked system.failOnFirstMiss}}
        />
        <div class="erps-toggles__container">
          <span class="erps-toggles__label" title='{{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.FailOnFirstMiss.hint"}}'>
            {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.FailOnFirstMiss.label"}}
          </span>
          <span class="erps-toggles__track">
            <span class="erps-toggles__thumb"></span>
          </span>
        </div>
      </label>
      <p class="erps-form__hint">{{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.FailOnFirstMiss.hint"}}</p>
    </div>

    {{!-- Enforce Status Choice Toggle --}}
    <div class="eventide-sheet__toggle-group">
      <label class="erps-toggles erps-toggles--label-left">
        <input
          type="checkbox"
          class="erps-toggles__input"
          name="system.enforceStatusChoice"
          id="system.enforceStatusChoice"
          {{checked system.enforceStatusChoice}}
        />
        <div class="erps-toggles__container">
          <span class="erps-toggles__label" title='{{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.EnforceStatusChoice.hint"}}'>
            {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.EnforceStatusChoice.label"}}
          </span>
          <span class="erps-toggles__track">
            <span class="erps-toggles__thumb"></span>
          </span>
        </div>
      </label>
      <p class="erps-form__hint">{{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.EnforceStatusChoice.hint"}}</p>
    </div>

    {{!-- Self-Target Toggle --}}
    <div class="eventide-sheet__toggle-group">
      <label class="erps-toggles erps-toggles--label-left">
        <input
          type="checkbox"
          class="erps-toggles__input"
          name="system.selfTarget"
          id="system.selfTarget"
          {{checked system.selfTarget}}
        />
        <div class="erps-toggles__container">
          <span class="erps-toggles__label" title='{{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.SelfTarget.hint"}}'>
            {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.SelfTarget.label"}}
          </span>
          <span class="erps-toggles__track">
            <span class="erps-toggles__thumb"></span>
          </span>
        </div>
      </label>
      <p class="erps-form__hint">{{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.SelfTarget.hint"}}</p>
    </div>

    {{!-- Scale Self-Effects Per Target Toggle --}}
    <div class="eventide-sheet__toggle-group">
      <label class="erps-toggles erps-toggles--label-left">
        <input
          type="checkbox"
          class="erps-toggles__input"
          name="system.selfEffectsScalePerTarget"
          id="system.selfEffectsScalePerTarget"
          {{checked system.selfEffectsScalePerTarget}}
        />
        <div class="erps-toggles__container">
          <span class="erps-toggles__label" title='{{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.SelfEffectsScalePerTarget.hint"}}'>
            {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.SelfEffectsScalePerTarget.label"}}
          </span>
          <span class="erps-toggles__track">
            <span class="erps-toggles__thumb"></span>
          </span>
        </div>
      </label>
      <p class="erps-form__hint">{{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.SelfEffectsScalePerTarget.hint"}}</p>
    </div>
  </div>

  {{!-- Intensify Behavior Section --}}
  <div class="erps-form__section">
    <h3 class="erps-form__header">{{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.Config.IntensifyBehaviorHeader"}}</h3>
    <p class="erps-form__hint">{{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.Config.IntensifyBehaviorHint"}}</p>
    
    {{!-- Target Effects --}}
    <fieldset class="erps-fieldset">
      <legend class="erps-fieldset__legend">{{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.Config.IntensifyTargetEffects"}}</legend>
      <div class="grid grid-3col">
        <div class="erps-form__group">
          <label class="erps-input-label" for="{{item.id}}-intensify-add-target">
            {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.Config.IntensifyAdd"}}
          </label>
          <input type="number"
                 id="{{item.id}}-intensify-add-target"
                 name="system.intensifyBehavior.target.add"
                 value="{{item.system.intensifyBehavior.target.add}}"
                 min="0"
                 step="1"
                 class="erps-input"
                 data-dtype="Number" />
        </div>

        <div class="erps-form__group">
          <label class="erps-input-label" for="{{item.id}}-intensify-advantage-target">
            {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.Config.IntensifyAdvantage"}}
          </label>
          <input type="number"
                 id="{{item.id}}-intensify-advantage-target"
                 name="system.intensifyBehavior.target.advantage"
                 value="{{item.system.intensifyBehavior.target.advantage}}"
                 min="0"
                 step="1"
                 class="erps-input"
                 data-dtype="Number" />
        </div>

        <div class="erps-form__group">
          <label class="erps-input-label" for="{{item.id}}-intensify-disadvantage-target">
            {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.Config.IntensifyDisadvantage"}}
          </label>
          <input type="number"
                 id="{{item.id}}-intensify-disadvantage-target"
                 name="system.intensifyBehavior.target.disadvantage"
                 value="{{item.system.intensifyBehavior.target.disadvantage}}"
                 min="0"
                 step="1"
                 class="erps-input"
                 data-dtype="Number" />
        </div>

        <div class="erps-form__group">
          <label class="erps-input-label" for="{{item.id}}-intensify-ac-target">
            {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.Config.IntensifyAC"}}
          </label>
          <input type="number"
                 id="{{item.id}}-intensify-ac-target"
                 name="system.intensifyBehavior.target.acChange"
                 value="{{item.system.intensifyBehavior.target.acChange}}"
                 min="0"
                 step="1"
                 class="erps-input"
                 data-dtype="Number" />
        </div>

        <div class="erps-form__group">
          <label class="erps-input-label" for="{{item.id}}-intensify-multiply-target">
            {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.Config.IntensifyMultiply"}}
          </label>
          <input type="number"
                 id="{{item.id}}-intensify-multiply-target"
                 name="system.intensifyBehavior.target.multiply"
                 value="{{item.system.intensifyBehavior.target.multiply}}"
                 min="0"
                 step="1"
                 class="erps-input"
                 data-dtype="Number" />
        </div>

        <div class="erps-form__group">
          <label class="erps-input-label" for="{{item.id}}-intensify-divide-target">
            {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.Config.IntensifyDivide"}}
          </label>
          <input type="number"
                 id="{{item.id}}-intensify-divide-target"
                 name="system.intensifyBehavior.target.divide"
                 value="{{item.system.intensifyBehavior.target.divide}}"
                 min="0"
                 step="1"
                 class="erps-input"
                 data-dtype="Number" />
        </div>

        <div class="erps-form__group">
          <label class="erps-input-label" for="{{item.id}}-intensify-multiplybuff-target">
            {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.Config.IntensifyMultiplyBuff"}}
          </label>
          <input type="number"
                 id="{{item.id}}-intensify-multiplybuff-target"
                 name="system.intensifyBehavior.target.multiplyBuff"
                 value="{{item.system.intensifyBehavior.target.multiplyBuff}}"
                 min="0"
                 step="1"
                 class="erps-input"
                 data-dtype="Number" />
        </div>

        <div class="erps-form__group">
          <label class="erps-input-label" for="{{item.id}}-intensify-multiplydebuff-target">
            {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.Config.IntensifyMultiplyDebuff"}}
          </label>
          <input type="number"
                 id="{{item.id}}-intensify-multiplydebuff-target"
                 name="system.intensifyBehavior.target.multiplyDebuff"
                 value="{{item.system.intensifyBehavior.target.multiplyDebuff}}"
                 min="0"
                 step="1"
                 class="erps-input"
                 data-dtype="Number" />
        </div>

        <div class="erps-form__group">
          <label class="erps-input-label" for="{{item.id}}-intensify-override-target">
            {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.Config.IntensifyOverride"}}
          </label>
          <input type="number"
                 id="{{item.id}}-intensify-override-target"
                 name="system.intensifyBehavior.target.override"
                 value="{{item.system.intensifyBehavior.target.override}}"
                 min="0"
                 step="1"
                 class="erps-input"
                 data-dtype="Number" />
        </div>
      </div>
    </fieldset>

    {{!-- Self Effects --}}
    <fieldset class="erps-fieldset">
      <legend class="erps-fieldset__legend">{{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.Config.IntensifySelfEffects"}}</legend>
      <div class="grid grid-3col">
        <div class="erps-form__group">
          <label class="erps-input-label" for="{{item.id}}-intensify-add-self">
            {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.Config.IntensifyAdd"}}
          </label>
          <input type="number"
                 id="{{item.id}}-intensify-add-self"
                 name="system.intensifyBehavior.self.add"
                 value="{{item.system.intensifyBehavior.self.add}}"
                 min="0"
                 step="1"
                 class="erps-input"
                 data-dtype="Number" />
        </div>

        <div class="erps-form__group">
          <label class="erps-input-label" for="{{item.id}}-intensify-advantage-self">
            {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.Config.IntensifyAdvantage"}}
          </label>
          <input type="number"
                 id="{{item.id}}-intensify-advantage-self"
                 name="system.intensifyBehavior.self.advantage"
                 value="{{item.system.intensifyBehavior.self.advantage}}"
                 min="0"
                 step="1"
                 class="erps-input"
                 data-dtype="Number" />
        </div>

        <div class="erps-form__group">
          <label class="erps-input-label" for="{{item.id}}-intensify-disadvantage-self">
            {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.Config.IntensifyDisadvantage"}}
          </label>
          <input type="number"
                 id="{{item.id}}-intensify-disadvantage-self"
                 name="system.intensifyBehavior.self.disadvantage"
                 value="{{item.system.intensifyBehavior.self.disadvantage}}"
                 min="0"
                 step="1"
                 class="erps-input"
                 data-dtype="Number" />
        </div>

        <div class="erps-form__group">
          <label class="erps-input-label" for="{{item.id}}-intensify-ac-self">
            {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.Config.IntensifyAC"}}
          </label>
          <input type="number"
                 id="{{item.id}}-intensify-ac-self"
                 name="system.intensifyBehavior.self.acChange"
                 value="{{item.system.intensifyBehavior.self.acChange}}"
                 min="0"
                 step="1"
                 class="erps-input"
                 data-dtype="Number" />
        </div>

        <div class="erps-form__group">
          <label class="erps-input-label" for="{{item.id}}-intensify-multiply-self">
            {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.Config.IntensifyMultiply"}}
          </label>
          <input type="number"
                 id="{{item.id}}-intensify-multiply-self"
                 name="system.intensifyBehavior.self.multiply"
                 value="{{item.system.intensifyBehavior.self.multiply}}"
                 min="0"
                 step="1"
                 class="erps-input"
                 data-dtype="Number" />
        </div>

        <div class="erps-form__group">
          <label class="erps-input-label" for="{{item.id}}-intensify-divide-self">
            {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.Config.IntensifyDivide"}}
          </label>
          <input type="number"
                 id="{{item.id}}-intensify-divide-self"
                 name="system.intensifyBehavior.self.divide"
                 value="{{item.system.intensifyBehavior.self.divide}}"
                 min="0"
                 step="1"
                 class="erps-input"
                 data-dtype="Number" />
        </div>

        <div class="erps-form__group">
          <label class="erps-input-label" for="{{item.id}}-intensify-multiplybuff-self">
            {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.Config.IntensifyMultiplyBuff"}}
          </label>
          <input type="number"
                 id="{{item.id}}-intensify-multiplybuff-self"
                 name="system.intensifyBehavior.self.multiplyBuff"
                 value="{{item.system.intensifyBehavior.self.multiplyBuff}}"
                 min="0"
                 step="1"
                 class="erps-input"
                 data-dtype="Number" />
        </div>

        <div class="erps-form__group">
          <label class="erps-input-label" for="{{item.id}}-intensify-multiplydebuff-self">
            {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.Config.IntensifyMultiplyDebuff"}}
          </label>
          <input type="number"
                 id="{{item.id}}-intensify-multiplydebuff-self"
                 name="system.intensifyBehavior.self.multiplyDebuff"
                 value="{{item.system.intensifyBehavior.self.multiplyDebuff}}"
                 min="0"
                 step="1"
                 class="erps-input"
                 data-dtype="Number" />
        </div>

        <div class="erps-form__group">
          <label class="erps-input-label" for="{{item.id}}-intensify-override-self">
            {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.Config.IntensifyOverride"}}
          </label>
          <input type="number"
                 id="{{item.id}}-intensify-override-self"
                 name="system.intensifyBehavior.self.override"
                 value="{{item.system.intensifyBehavior.self.override}}"
                 min="0"
                 step="1"
                 class="erps-input"
                 data-dtype="Number" />
        </div>
      </div>
    </fieldset>
  </div>
  </div>
</section>
