{{!-- Action Card Attributes Tab --}}
<section class="tab action-card-attributes {{tab.cssClass}}" data-group="primary" data-tab="attributes">
  <div class="eventide-sheet__scrollable-container">

    {{!-- Mode Selection --}}
    <div class="erps-form__section">
      <div class="erps-form__header">{{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.Mode"}}</div>

      <div>
        <label class="erps-input-label">
          {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.SelectMode"}}
        </label>
        <select class="erps-select" name="system.mode">
          <option value="attackChain" {{#if (eq system.mode "attackChain")}}selected{{/if}}>
            {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.AttackChainMode"}}
          </option>
          <option value="savedDamage" {{#if (eq system.mode "savedDamage")}}selected{{/if}}>
            {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.SavedDamageMode"}}
          </option>
        </select>
      </div>

      {{!-- Advance Initiative Toggle --}}
      <div class="eventide-sheet__toggle-group">
        <label class="erps-toggles erps-toggles--label-left">
          <input
            type="checkbox"
            class="erps-toggles__input"
            name="system.advanceInitiative"
            id="system.advanceInitiative"
            {{checked system.advanceInitiative}}
          />
          <div class="erps-toggles__container">
            <span class="erps-toggles__label" title='{{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.AdvanceInitiative.label"}}'>
              {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.AdvanceInitiative.label"}}
            </span>
            <span class="erps-toggles__track">
              <span class="erps-toggles__thumb"></span>
            </span>
          </div>
        </label>
      </div>

      {{!-- Attempt Inventory Reduction Toggle --}}
      <div class="eventide-sheet__toggle-group">
        <label class="erps-toggles erps-toggles--label-left">
          <input
            type="checkbox"
            class="erps-toggles__input"
            name="system.attemptInventoryReduction"
            id="system.attemptInventoryReduction"
            {{checked system.attemptInventoryReduction}}
          />
          <div class="erps-toggles__container">
            <span class="erps-toggles__label" title='{{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.AttemptInventoryReduction.label"}}'>
              {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.AttemptInventoryReduction.label"}}
            </span>
            <span class="erps-toggles__track">
              <span class="erps-toggles__thumb"></span>
            </span>
          </div>
        </label>
      </div>

      {{!-- GM Only Toggle --}}
      <div class="eventide-sheet__toggle-group">
        <label class="erps-toggles erps-toggles--label-left">
          <input
            type="checkbox"
            class="erps-toggles__input"
            name="system.gmOnly"
            id="system.gmOnly"
            {{checked system.gmOnly}}
          />
          <div class="erps-toggles__container">
            <span class="erps-toggles__label" title='{{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.GmOnly.hint"}}'>
              {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.GmOnly.label"}}
            </span>
            <span class="erps-toggles__track">
              <span class="erps-toggles__thumb"></span>
            </span>
          </div>
        </label>
      </div>
    </div>

    {{!-- Attack Chain Configuration --}}
    {{#if (eq system.mode "attackChain")}}
    <div class="erps-form__section">
      <div class="erps-form__header">{{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.AttackChain"}}</div>
        <div class="grid grid-2col">
          <div>
            <label class="erps-input-label">
              {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.FirstStat"}}
            </label>
            <select class="erps-select" name="system.attackChain.firstStat">
              {{#each abilities as |name key|}}
                {{#unless (eq key "unaugmented")}}
                  <option value="{{key}}" {{#if (eq ../system.attackChain.firstStat key)}}selected{{/if}}>
                    {{localize (lookup @root.config.abilities key)}}
                  </option>
                {{/unless}}
              {{/each}}
            </select>
          </div>
          <div>
            <label class="erps-input-label">
              {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.SecondStat"}}
            </label>
            <select class="erps-select" name="system.attackChain.secondStat">
              {{#each abilities as |name key|}}
                {{#unless (eq key "unaugmented")}}
                  <option value="{{key}}" {{#if (eq ../system.attackChain.secondStat key)}}selected{{/if}}>
                    {{localize (lookup @root.config.abilities key)}}
                  </option>
                {{/unless}}
              {{/each}}
            </select>
          </div>
        </div>

        {{!-- Damage Configuration --}}
        <div class="erps-form__subsection">
          <div class="erps-form__header erps-form__header--small">{{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.DamageConfig"}}</div>

          <div class="grid grid-3col">
            <div>
              <label class="erps-input-label">
                {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.DamageCondition"}}
              </label>
              <select class="erps-select" name="system.attackChain.damageCondition">
                <option value="never" {{#if (eq system.attackChain.damageCondition "never")}}selected{{/if}} title="{{localize 'EVENTIDE_RP_SYSTEM.Item.ActionCard.Never'}}">
                  {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.Never"}}
                </option>
                <option value="oneSuccess" {{#if (eq system.attackChain.damageCondition "oneSuccess")}}selected{{/if}} title="{{localize 'EVENTIDE_RP_SYSTEM.Item.ActionCard.OneSuccess'}}">
                  {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.OneSuccess"}}
                </option>
                <option value="twoSuccesses" {{#if (eq system.attackChain.damageCondition "twoSuccesses")}}selected{{/if}} title="{{localize 'EVENTIDE_RP_SYSTEM.Item.ActionCard.TwoSuccesses'}}">
                  {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.TwoSuccesses"}}
                </option>
                <option value="rollValue" {{#if (eq system.attackChain.damageCondition "rollValue")}}selected{{/if}} title="{{localize 'EVENTIDE_RP_SYSTEM.Item.ActionCard.RollValueHint'}}">
                  {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.RollValue"}}
                </option>
                <option value="rollUnderValue" {{#if (eq system.attackChain.damageCondition "rollUnderValue")}}selected{{/if}} title="{{localize 'EVENTIDE_RP_SYSTEM.Item.ActionCard.RollUnderValueHint'}}">
                  {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.RollUnderValue"}}
                </option>
                <option value="rollEven" {{#if (eq system.attackChain.damageCondition "rollEven")}}selected{{/if}} title="{{localize 'EVENTIDE_RP_SYSTEM.Item.ActionCard.RollEvenHint'}}">
                  {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.RollEven"}}
                </option>
                <option value="rollOdd" {{#if (eq system.attackChain.damageCondition "rollOdd")}}selected{{/if}} title="{{localize 'EVENTIDE_RP_SYSTEM.Item.ActionCard.RollOddHint'}}">
                  {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.RollOdd"}}
                </option>
                <option value="rollOnValue" {{#if (eq system.attackChain.damageCondition "rollOnValue")}}selected{{/if}} title="{{localize 'EVENTIDE_RP_SYSTEM.Item.ActionCard.RollOnValueHint'}}">
                  {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.RollOnValue"}}
                </option>
                <option value="zeroSuccesses" {{#if (eq system.attackChain.damageCondition "zeroSuccesses")}}selected{{/if}} title="{{localize 'EVENTIDE_RP_SYSTEM.Item.ActionCard.ZeroSuccessesHint'}}">
                  {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.ZeroSuccesses"}}
                </option>
                <option value="always" {{#if (eq system.attackChain.damageCondition "always")}}selected{{/if}} title="{{localize 'EVENTIDE_RP_SYSTEM.Item.ActionCard.AlwaysHint'}}">
                  {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.Always"}}
                </option>
                <option value="criticalSuccess" {{#if (eq system.attackChain.damageCondition "criticalSuccess")}}selected{{/if}} title="{{localize 'EVENTIDE_RP_SYSTEM.Item.ActionCard.CriticalSuccessHint'}}">
                  {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.CriticalSuccess"}}
                </option>
                <option value="criticalFailure" {{#if (eq system.attackChain.damageCondition "criticalFailure")}}selected{{/if}} title="{{localize 'EVENTIDE_RP_SYSTEM.Item.ActionCard.CriticalFailureHint'}}">
                  {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.CriticalFailure"}}
                </option>
              </select>
            </div>
            <div>
              <label class="erps-input-label">
                {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.DamageFormula"}}
              </label>
              <input
                type="text"
                class="erps-input"
                name="system.attackChain.damageFormula"
                value="{{system.attackChain.damageFormula}}"
                placeholder="1d6"
              />
            </div>
            <div>
              <label class="erps-input-label">
                {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.DamageType"}}
              </label>
              <select class="erps-select" name="system.attackChain.damageType">
                <option value="damage" {{#if (eq system.attackChain.damageType "damage")}}selected{{/if}}>
                  {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.Damage"}}
                </option>
                <option value="heal" {{#if (eq system.attackChain.damageType "heal")}}selected{{/if}}>
                  {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.Heal"}}
                </option>
              </select>
            </div>
            {{#if (or (eq system.attackChain.damageCondition "rollValue") (eq system.attackChain.damageCondition "rollUnderValue") (eq system.attackChain.damageCondition "rollOnValue"))}}
            <div>
              <label class="erps-input-label">
                {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.DamageThreshold"}}
              </label>
              <input
                type="number"
                class="erps-input"
                name="system.attackChain.damageThreshold"
                value="{{system.attackChain.damageThreshold}}"
                min="1"
                placeholder="15"
              />
            </div>
            {{/if}}
          </div>
        </div>

        {{!-- Status Configuration --}}
        <div class="erps-form__subsection">
          <div class="erps-form__header erps-form__header--small">{{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.StatusConfig"}}</div>

          <div class="grid grid-2col">
            <div>
              <label class="erps-input-label">
                {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.StatusCondition"}}
              </label>
              <select class="erps-select" name="system.attackChain.statusCondition">
                <option value="never" {{#if (eq system.attackChain.statusCondition "never")}}selected{{/if}} title="{{localize 'EVENTIDE_RP_SYSTEM.Item.ActionCard.Never'}}">
                  {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.Never"}}
                </option>
                <option value="oneSuccess" {{#if (eq system.attackChain.statusCondition "oneSuccess")}}selected{{/if}} title="{{localize 'EVENTIDE_RP_SYSTEM.Item.ActionCard.OneSuccess'}}">
                  {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.OneSuccess"}}
                </option>
                <option value="twoSuccesses" {{#if (eq system.attackChain.statusCondition "twoSuccesses")}}selected{{/if}} title="{{localize 'EVENTIDE_RP_SYSTEM.Item.ActionCard.TwoSuccesses'}}">
                  {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.TwoSuccesses"}}
                </option>
                <option value="rollValue" {{#if (eq system.attackChain.statusCondition "rollValue")}}selected{{/if}} title="{{localize 'EVENTIDE_RP_SYSTEM.Item.ActionCard.RollValueHint'}}">
                  {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.RollValue"}}
                </option>
                <option value="rollUnderValue" {{#if (eq system.attackChain.statusCondition "rollUnderValue")}}selected{{/if}} title="{{localize 'EVENTIDE_RP_SYSTEM.Item.ActionCard.RollUnderValueHint'}}">
                  {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.RollUnderValue"}}
                </option>
                <option value="rollEven" {{#if (eq system.attackChain.statusCondition "rollEven")}}selected{{/if}} title="{{localize 'EVENTIDE_RP_SYSTEM.Item.ActionCard.RollEvenHint'}}">
                  {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.RollEven"}}
                </option>
                <option value="rollOdd" {{#if (eq system.attackChain.statusCondition "rollOdd")}}selected{{/if}} title="{{localize 'EVENTIDE_RP_SYSTEM.Item.ActionCard.RollOddHint'}}">
                  {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.RollOdd"}}
                </option>
                <option value="rollOnValue" {{#if (eq system.attackChain.statusCondition "rollOnValue")}}selected{{/if}} title="{{localize 'EVENTIDE_RP_SYSTEM.Item.ActionCard.RollOnValueHint'}}">
                  {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.RollOnValue"}}
                </option>
                <option value="zeroSuccesses" {{#if (eq system.attackChain.statusCondition "zeroSuccesses")}}selected{{/if}} title="{{localize 'EVENTIDE_RP_SYSTEM.Item.ActionCard.ZeroSuccessesHint'}}">
                  {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.ZeroSuccesses"}}
                </option>
                <option value="always" {{#if (eq system.attackChain.statusCondition "always")}}selected{{/if}} title="{{localize 'EVENTIDE_RP_SYSTEM.Item.ActionCard.AlwaysHint'}}">
                  {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.Always"}}
                </option>
                <option value="criticalSuccess" {{#if (eq system.attackChain.statusCondition "criticalSuccess")}}selected{{/if}} title="{{localize 'EVENTIDE_RP_SYSTEM.Item.ActionCard.CriticalSuccessHint'}}">
                  {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.CriticalSuccess"}}
                </option>
                <option value="criticalFailure" {{#if (eq system.attackChain.statusCondition "criticalFailure")}}selected{{/if}} title="{{localize 'EVENTIDE_RP_SYSTEM.Item.ActionCard.CriticalFailureHint'}}">
                  {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.CriticalFailure"}}
                </option>
              </select>
            </div>
            {{#if (or (eq system.attackChain.statusCondition "rollValue") (eq system.attackChain.statusCondition "rollUnderValue") (eq system.attackChain.statusCondition "rollOnValue"))}}
            <div>
              <label class="erps-input-label">
                {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.StatusThreshold"}}
              </label>
              <input
                type="number"
                class="erps-input"
                name="system.attackChain.statusThreshold"
                value="{{system.attackChain.statusThreshold}}"
                min="1"
                placeholder="15"
              />
            </div>
            {{/if}}
          </div>
        </div>


            {{!-- Self-Effects Configuration --}}
    <div class="erps-form__subsection">
      <div class="erps-form__header erps-form__header--small">{{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.Config.SelfEffectsHeader"}}</div>

      <div class="grid grid-2col">
        <div>
          <label class="erps-input-label">
            {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.SelfEffectsCondition"}}
          </label>
          <select class="erps-select" name="system.selfEffectsConfig.condition">
            <option value="never" {{#if (eq system.selfEffectsConfig.condition "never")}}selected{{/if}} title="{{localize 'EVENTIDE_RP_SYSTEM.Item.ActionCard.Never'}}">
              {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.Never"}}
            </option>
            <option value="oneSuccess" {{#if (eq system.selfEffectsConfig.condition "oneSuccess")}}selected{{/if}} title="{{localize 'EVENTIDE_RP_SYSTEM.Item.ActionCard.OneSuccess'}}">
              {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.OneSuccess"}}
            </option>
            <option value="twoSuccesses" {{#if (eq system.selfEffectsConfig.condition "twoSuccesses")}}selected{{/if}} title="{{localize 'EVENTIDE_RP_SYSTEM.Item.ActionCard.TwoSuccesses'}}">
              {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.TwoSuccesses"}}
            </option>
            <option value="rollValue" {{#if (eq system.selfEffectsConfig.condition "rollValue")}}selected{{/if}} title="{{localize 'EVENTIDE_RP_SYSTEM.Item.Conditions.RollValueHint'}}">
              {{localize "EVENTIDE_RP_SYSTEM.Item.Conditions.RollValue"}}
            </option>
            <option value="rollUnderValue" {{#if (eq system.selfEffectsConfig.condition "rollUnderValue")}}selected{{/if}} title="{{localize 'EVENTIDE_RP_SYSTEM.Item.Conditions.RollUnderValueHint'}}">
              {{localize "EVENTIDE_RP_SYSTEM.Item.Conditions.RollUnderValue"}}
            </option>
            <option value="rollEven" {{#if (eq system.selfEffectsConfig.condition "rollEven")}}selected{{/if}} title="{{localize 'EVENTIDE_RP_SYSTEM.Item.Conditions.RollEvenHint'}}">
              {{localize "EVENTIDE_RP_SYSTEM.Item.Conditions.RollEven"}}
            </option>
            <option value="rollOdd" {{#if (eq system.selfEffectsConfig.condition "rollOdd")}}selected{{/if}} title="{{localize 'EVENTIDE_RP_SYSTEM.Item.Conditions.RollOddHint'}}">
              {{localize "EVENTIDE_RP_SYSTEM.Item.Conditions.RollOdd"}}
            </option>
            <option value="rollOnValue" {{#if (eq system.selfEffectsConfig.condition "rollOnValue")}}selected{{/if}} title="{{localize 'EVENTIDE_RP_SYSTEM.Item.Conditions.RollOnValueHint'}}">
              {{localize "EVENTIDE_RP_SYSTEM.Item.Conditions.RollOnValue"}}
            </option>
            <option value="zeroSuccesses" {{#if (eq system.selfEffectsConfig.condition "zeroSuccesses")}}selected{{/if}} title="{{localize 'EVENTIDE_RP_SYSTEM.Item.Conditions.ZeroSuccessesHint'}}">
              {{localize "EVENTIDE_RP_SYSTEM.Item.Conditions.ZeroSuccesses"}}
            </option>
            <option value="always" {{#if (eq system.selfEffectsConfig.condition "always")}}selected{{/if}} title="{{localize 'EVENTIDE_RP_SYSTEM.Item.Conditions.AlwaysHint'}}">
              {{localize "EVENTIDE_RP_SYSTEM.Item.Conditions.Always"}}
            </option>
            <option value="criticalSuccess" {{#if (eq system.selfEffectsConfig.condition "criticalSuccess")}}selected{{/if}} title="{{localize 'EVENTIDE_RP_SYSTEM.Item.Conditions.CriticalSuccessHint'}}">
              {{localize "EVENTIDE_RP_SYSTEM.Item.Conditions.CriticalSuccess"}}
            </option>
            <option value="criticalFailure" {{#if (eq system.selfEffectsConfig.condition "criticalFailure")}}selected{{/if}} title="{{localize 'EVENTIDE_RP_SYSTEM.Item.Conditions.CriticalFailureHint'}}">
              {{localize "EVENTIDE_RP_SYSTEM.Item.Conditions.CriticalFailure"}}
            </option>
          </select>
        </div>
        {{#if (or (eq system.selfEffectsConfig.condition "rollValue") (eq system.selfEffectsConfig.condition "rollUnderValue") (eq system.selfEffectsConfig.condition "rollOnValue"))}}
        <div>
          <label class="erps-input-label">
            {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.SelfEffectsThreshold"}}
          </label>
          <input
            type="number"
            class="erps-input"
            name="system.selfEffectsConfig.threshold"
            value="{{system.selfEffectsConfig.threshold}}"
            min="1"
            max="30"
            placeholder="15"
          />
        </div>
        {{/if}}
      </div>
    </div>


      </div>

    {{!-- Transformation Configuration --}}
    <div class="erps-form__section">
      <div class="erps-form__header">{{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.TransformationConfig"}}</div>

      <div class="grid grid-2col">
        <div>
          <label class="erps-input-label">
            {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.TransformationCondition"}}
          </label>
          <select class="erps-select" name="system.transformationConfig.condition">
            <option value="never" {{#if (eq system.transformationConfig.condition "never")}}selected{{/if}} title="{{localize 'EVENTIDE_RP_SYSTEM.Item.ActionCard.Never'}}">
              {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.Never"}}
            </option>
            <option value="oneSuccess" {{#if (eq system.transformationConfig.condition "oneSuccess")}}selected{{/if}} title="{{localize 'EVENTIDE_RP_SYSTEM.Item.ActionCard.OneSuccess'}}">
              {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.OneSuccess"}}
            </option>
            <option value="twoSuccesses" {{#if (eq system.transformationConfig.condition "twoSuccesses")}}selected{{/if}} title="{{localize 'EVENTIDE_RP_SYSTEM.Item.ActionCard.TwoSuccesses'}}">
              {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.TwoSuccesses"}}
            </option>
            <option value="rollValue" {{#if (eq system.transformationConfig.condition "rollValue")}}selected{{/if}} title="{{localize 'EVENTIDE_RP_SYSTEM.Item.ActionCard.RollValueHint'}}">
              {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.RollValue"}}
            </option>
            <option value="rollUnderValue" {{#if (eq system.transformationConfig.condition "rollUnderValue")}}selected{{/if}} title="{{localize 'EVENTIDE_RP_SYSTEM.Item.ActionCard.RollUnderValueHint'}}">
              {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.RollUnderValue"}}
            </option>
            <option value="rollEven" {{#if (eq system.transformationConfig.condition "rollEven")}}selected{{/if}} title="{{localize 'EVENTIDE_RP_SYSTEM.Item.ActionCard.RollEvenHint'}}">
              {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.RollEven"}}
            </option>
            <option value="rollOdd" {{#if (eq system.transformationConfig.condition "rollOdd")}}selected{{/if}} title="{{localize 'EVENTIDE_RP_SYSTEM.Item.ActionCard.RollOddHint'}}">
              {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.RollOdd"}}
            </option>
            <option value="rollOnValue" {{#if (eq system.transformationConfig.condition "rollOnValue")}}selected{{/if}} title="{{localize 'EVENTIDE_RP_SYSTEM.Item.ActionCard.RollOnValueHint'}}">
              {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.RollOnValue"}}
            </option>
            <option value="zeroSuccesses" {{#if (eq system.transformationConfig.condition "zeroSuccesses")}}selected{{/if}} title="{{localize 'EVENTIDE_RP_SYSTEM.Item.ActionCard.ZeroSuccessesHint'}}">
              {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.ZeroSuccesses"}}
            </option>
            <option value="always" {{#if (eq system.transformationConfig.condition "always")}}selected{{/if}} title="{{localize 'EVENTIDE_RP_SYSTEM.Item.ActionCard.AlwaysHint'}}">
              {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.Always"}}
            </option>
            <option value="criticalSuccess" {{#if (eq system.transformationConfig.condition "criticalSuccess")}}selected{{/if}} title="{{localize 'EVENTIDE_RP_SYSTEM.Item.ActionCard.CriticalSuccessHint'}}">
              {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.CriticalSuccess"}}
            </option>
            <option value="criticalFailure" {{#if (eq system.transformationConfig.condition "criticalFailure")}}selected{{/if}} title="{{localize 'EVENTIDE_RP_SYSTEM.Item.ActionCard.CriticalFailureHint'}}">
              {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.CriticalFailure"}}
            </option>
          </select>
        </div>
        {{#if (or (eq system.transformationConfig.condition "rollValue") (eq system.transformationConfig.condition "rollUnderValue") (eq system.transformationConfig.condition "rollOnValue"))}}
        <div>
          <label class="erps-input-label">
            {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.TransformationThreshold"}}
          </label>
          <input
            type="number"
            class="erps-input"
            name="system.transformationConfig.threshold"
            value="{{system.transformationConfig.threshold}}"
            min="1"
            max="30"
            placeholder="15"
          />
        </div>
        {{/if}}
      </div>
    </div>
    {{/if}}

    {{!-- Saved Damage Configuration --}}
    {{#if (eq system.mode "savedDamage")}}
    <div class="erps-form__section">
      <div class="erps-form__header">{{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.SavedDamage"}}</div>

      <div class="grid grid-2col">
        <div>
          <label class="erps-input-label">
            {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.SavedFormula"}}
          </label>
          <input
            type="text"
            class="erps-input"
            name="system.savedDamage.formula"
            value="{{system.savedDamage.formula}}"
            placeholder="1d6"
          />
        </div>
        <div>
          <label class="erps-input-label">
            {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.SavedType"}}
          </label>
          <select class="erps-select" name="system.savedDamage.type">
            <option value="damage" {{#if (eq system.savedDamage.type "damage")}}selected{{/if}}>
              {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.Damage"}}
            </option>
            <option value="heal" {{#if (eq system.savedDamage.type "heal")}}selected{{/if}}>
              {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.Heal"}}
            </option>
          </select>
        </div>
      </div>
    </div>
    {{/if}}



  </div>
</section>
