{{! Attributes Tab }}
<section class='tab attributes {{tab.cssClass}}' data-group='primary' data-tab='attributes'>
  <div class='resource'>
    <div class='grid grid-3col'>
      <div class='grid-span-1'>
        <label class='resource-label'>{{localize 'EVENTIDE_RP_SYSTEM.Item.Roll.Type.label'}}</label>
        <select name='system.roll.type'>
          {{#each rollTypes as |name key|}}
            <option value="{{key}}" {{#if (eq ../system.roll.type key)}}selected{{/if}}>{{localize (lookup @root.config.rollTypes key)}}</option>
          {{/each}}
        </select>
      </div>
      <div class="resource checkbox-resource">
        <label class="resource-label" for="system.targeted">{{localize 'EVENTIDE_RP_SYSTEM.Item.Roll.Targeted.label'}}</label>
        <div class="toggle-switch-wrapper">
          <input type="checkbox" class="base-form__toggle-switch-left" name="system.targeted" id="system.targeted" {{checked system.targeted}} />
          <label class="toggle-switch-display" for="system.targeted"></label>
        </div>
      </div>
       <div class='grid-span-1'>
        <label class='resource-label'>{{localize 'EVENTIDE_RP_SYSTEM.Item.Descriptors.UsageInfo.label'}}</label>
        <input type='text' name='system.usageInfo' value='{{system.usageInfo}}' placeholder='{{localize "EVENTIDE_RP_SYSTEM.Item.Descriptors.UsageInfo.placeholder"}}' />
      </div>
    </div>

    {{#ifCond system.roll.type "!==" "none"}}
      <div class='grid grid-2col'>
        <div class='grid-span-1'>
          <label class='resource-label'>{{localize 'EVENTIDE_RP_SYSTEM.Item.Roll.Ability.label'}}</label>
          <select name='system.roll.ability'>
            {{#each abilities as |name key|}}
              <option value="{{key}}" {{#if (eq ../system.roll.ability key)}}selected{{/if}}>
                {{#if (eq key "unaugmented")}}
                  {{localize "EVENTIDE_RP_SYSTEM.CombatOptions.Unaugmented"}}
                {{else}}
                  {{localize (lookup @root.config.abilities key)}}
                {{/if}}
              </option>
            {{/each}}
          </select>
        </div>
        <div class='grid-span-1'>
          <label class='resource-label'>{{localize 'EVENTIDE_RP_SYSTEM.Item.Roll.Bonus.label'}}</label>
          <input type='text' name='system.roll.bonus' value='{{system.roll.bonus}}' data-dtype='Number' />
        </div>
      </div>
    {{/ifCond}}

    {{#if (eq system.roll.type "roll")}}
      <div class='dice-adjustments'>
        <label class='resource-label'>{{localize 'EVENTIDE_RP_SYSTEM.Item.Roll.DiceAdjustments.label'}}</label>
        <div class='grid grid-3col'>
          <div class='grid-span-1'>
            <label class='resource-label'>{{localize 'EVENTIDE_RP_SYSTEM.Item.Roll.DiceAdjustments.Advantage.label'}}</label>
            <input 
              type='text' 
              name='system.roll.diceAdjustments.advantage' 
              value='{{system.roll.diceAdjustments.advantage}}' 
              data-dtype='Number'
              {{#if editable}}data-action='onDiceAdjustmentChange'{{/if}}
            />
          </div>
          <div class='grid-span-1'>
            <label class='resource-label'>{{localize 'EVENTIDE_RP_SYSTEM.Item.Roll.DiceAdjustments.Disadvantage.label'}}</label>
            <input 
              type='text' 
              name='system.roll.diceAdjustments.disadvantage' 
              value='{{system.roll.diceAdjustments.disadvantage}}' 
              data-dtype='Number'
              {{#if editable}}data-action='onDiceAdjustmentChange'{{/if}}
            />
          </div>
          <div class='grid-span-1'>
            <label class='resource-label'>{{localize 'EVENTIDE_RP_SYSTEM.Item.Roll.DiceAdjustments.Total.label'}}</label>
            <input 
              type='text' 
              name='system.roll.diceAdjustments.total' 
              value='{{system.roll.diceAdjustments.total}}' 
              data-dtype='Number' 
              disabled
            />
          </div>
        </div>
      </div>
    {{/if}}
  </div>
</section>