{{!-- Action Card Popup --}}
<div class="{{cssClass}} erps-form" autocomplete="off">
  {{> callout-box}}
  <div class="erps-form__content">
    {{> popup-header}}

    {{!-- Action Card Mode Display --}}
    <div class="erps-form__section erps-form__section--compact">
      <div class="erps-form__header erps-form__header--small erps-form__header--no-margin">
        {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.Mode"}}
      </div>
      <div class="erps-form__mode-display">
        {{#if (eq mode "attackChain")}}
          <span class="erps-form__mode-badge erps-form__mode-badge--attack-chain">
            <i class="fas fa-bolt"></i>
            {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.AttackChainMode"}}
          </span>
        {{else if (eq mode "savedDamage")}}
          <span class="erps-form__mode-badge erps-form__mode-badge--saved-damage">
            <i class="fas fa-heart-broken"></i>
            {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.SavedDamageMode"}}
          </span>
        {{/if}}
      </div>
    </div>

    {{!-- Action Card Description --}}
    {{#if actionCard.system.description}}
      <div class="erps-form__section">
        <div class="erps-form__header erps-form__header--small">{{actionCard.actor.name}}</div>
        <div class="erps-form__description">
          {{{actionCard.system.description}}}
        </div>
      </div>
    {{/if}}

    {{!-- Embedded Item Section --}}
    {{#unless (eq mode "savedDamage")}}
      <div class="erps-form__section">
        <div class="erps-form__header erps-form__header--small erps-form__header--no-margin">
          {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.EmbeddedItem"}}
        </div>

        <div class="erps-form__group erps-form__group--grid erps-form__group--grid-2">
          {{!-- Item Header with Image and Name --}}
          <div class="erps-form__group erps-form__group--compact">
            <div class="erps-form__embedded-item-header">
              <img src="{{embeddedItem.img}}" class="erps-form__image" />
              <div class="erps-form__embedded-item-info">
                <h4>{{embeddedItem.name}}</h4>
                <span class="erps-form__embedded-item-type">{{embeddedItem.type}}</span>
              </div>
            </div>
          </div>

          {{!-- Item Stats --}}
          <div class="erps-form__group erps-form__group--compact">
            <div class="erps-form__group erps-form__group--grid erps-form__group--grid-2 erps-form__group--compact">
              {{#if embeddedItem.cost}}
                <div class="erps-form__group erps-form__group--compact">
                  <label class="erps-form__label">{{localize "EVENTIDE_RP_SYSTEM.Item.Inventory.Cost.label"}}</label>
                  <div class="erps-form__description erps-form__description--data">{{embeddedItem.cost}}</div>
                </div>
              {{/if}}
              {{#if embeddedItem.usageInfo}}
                <div class="erps-form__group erps-form__group--compact">
                  <label class="erps-form__label">{{localize "EVENTIDE_RP_SYSTEM.Item.Descriptors.UsageInfo.label"}}</label>
                  <div class="erps-form__description erps-form__description--data">{{embeddedItem.usageInfo}}</div>
                </div>
              {{/if}}
              {{#if embeddedItem.formula}}
                <div class="erps-form__group erps-form__group--compact">
                  <label class="erps-form__label">{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Formula"}}</label>
                  <div class="erps-form__description erps-form__description--data">{{embeddedItem.formula}}</div>
                </div>
              {{/if}}
            </div>
          </div>
        </div>

        {{#if embeddedItem.description}}
          <div class="erps-form__description erps-form__description--compact">
            {{{embeddedItem.description}}}
          </div>
        {{/if}}
      </div>
    {{/unless}}

    {{!-- Mode-specific Configuration Display --}}
    {{#if (eq mode "attackChain")}}
      <div class="erps-form__section erps-form__section--compact">
        <div class="erps-form__header erps-form__header--small erps-form__header--no-margin">
          {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.ChainConfiguration"}}
        </div>

        <div class="erps-form__group erps-form__group--grid erps-form__group--grid-2 erps-form__group--compact">
          <div class="erps-form__group erps-form__group--compact">
            <label class="erps-form__label">{{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.FirstStat"}}</label>
            <div class="erps-form__description erps-form__description--data">{{attackChain.firstStat}}</div>
          </div>
          <div class="erps-form__group erps-form__group--compact">
            <label class="erps-form__label">{{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.SecondStat"}}</label>
            <div class="erps-form__description erps-form__description--data">{{attackChain.secondStat}}</div>
          </div>
        </div>

        {{#if (ne attackChain.damageCondition "never")}}
          <div class="erps-form__group erps-form__group--compact">
            <label class="erps-form__label">{{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.DamageConfig"}}</label>
            <div class="erps-form__description erps-form__description--data">
              <i class="fas fa-sword"></i>
              {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.DamageOn"}} {{attackChain.damageCondition}}
              {{#if attackChain.damageFormula}}
                <span class="erps-form__formula">{{attackChain.damageFormula}}</span>
              {{/if}}
            </div>
          </div>
        {{/if}}

        {{#if (ne attackChain.statusCondition "never")}}
          <div class="erps-form__group erps-form__group--compact">
            <label class="erps-form__label">{{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.StatusConfig"}}</label>
            <div class="erps-form__description erps-form__description--data">
              <i class="fas fa-magic"></i>
              {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.StatusOn"}} {{attackChain.statusCondition}}
              {{#if (eq attackChain.statusCondition "rollValue")}}
                <span class="erps-form__threshold">{{attackChain.statusThreshold}}</span>
              {{/if}}
            </div>
          </div>
        {{/if}}
      </div>
    {{else if (eq mode "savedDamage")}}
      <div class="erps-form__section erps-form__section--compact">
        <div class="erps-form__header erps-form__header--small erps-form__header--no-margin">
          {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.SavedDamageConfiguration"}}
        </div>

        <div class="erps-form__group erps-form__group--grid erps-form__group--grid-2 erps-form__group--compact">
          <div class="erps-form__group erps-form__group--compact">
            <label class="erps-form__label">{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Formula"}}</label>
            <div class="erps-form__description erps-form__description--data">{{savedDamage.formula}}</div>
          </div>
          <div class="erps-form__group erps-form__group--compact">
            <label class="erps-form__label">{{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.DamageType"}}</label>
            <div class="erps-form__description erps-form__description--data">{{savedDamage.type}}</div>
          </div>
        </div>
      </div>
    {{/if}}

    {{!-- Roll Section --}}
    {{> popup-roll}}
  </div>

  {{!-- Footer with buttons --}}
  {{> macro-footer}}
</div>
