{{!-- Action Card Popup --}}
<div class="{{cssClass}} erps-form" autocomplete="off">
  {{> callout-box}}
  <div class="erps-form__content">
    {{> popup-header}}

    {{!-- Action Card Mode Display --}}
    <div class="erps-form__section">
      <div class="erps-form__header erps-form__header--small">
        {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.Mode"}}
      </div>
      <div class="erps-form__mode-display">
        {{#if (eq mode "attackChain")}}
          <span class="erps-form__mode-badge erps-form__mode-badge--attack-chain">
            <i class="fas fa-bolt"></i>
            {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.AttackChainMode"}}
          </span>
        {{else if (eq mode "savedDamage")}}
          <span class="erps-form__mode-badge erps-form__mode-badge--saved-damage">
            <i class="fas fa-heart-broken"></i>
            {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.SavedDamageMode"}}
          </span>
        {{/if}}
      </div>
    </div>

    {{!-- Action Card Description --}}
    {{#if actionCard.system.description}}
      <div class="erps-form__section">
        <div class="erps-form__header erps-form__header--small">{{actionCard.actor.name}}</div>
        <div class="erps-form__description">
          {{{actionCard.system.description}}}
        </div>
      </div>
    {{/if}}

    {{!-- Embedded Item Section --}}
    <div class="erps-form__section">
      <div class="erps-form__header erps-form__header--small">
        {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.EmbeddedItem"}}
      </div>

      <div class="erps-form__embedded-item">
        <div class="erps-form__embedded-item-header">
          <img src="{{embeddedItem.img}}" class="erps-form__embedded-item-icon" />
          <div class="erps-form__embedded-item-info">
            <h4>{{embeddedItem.name}}</h4>
            <span class="erps-form__embedded-item-type">{{embeddedItem.type}}</span>
          </div>
        </div>

        {{#if embeddedItem.description}}
          <div class="erps-form__description erps-form__description--compact">
            {{{embeddedItem.description}}}
          </div>
        {{/if}}

        {{#if (or embeddedItem.cost embeddedItem.usageInfo embeddedItem.formula)}}
          <div class="erps-form__embedded-item-stats">
            {{#if embeddedItem.cost}}
              <div class="erps-form__stat">
                <span class="erps-form__stat-label">{{localize "EVENTIDE_RP_SYSTEM.Item.Inventory.Cost.label"}}</span>
                <span class="erps-form__stat-value">{{embeddedItem.cost}}</span>
              </div>
            {{/if}}
            {{#if embeddedItem.usageInfo}}
              <div class="erps-form__stat">
                <span class="erps-form__stat-label">{{localize "EVENTIDE_RP_SYSTEM.Item.Descriptors.UsageInfo.label"}}</span>
                <span class="erps-form__stat-value">{{embeddedItem.usageInfo}}</span>
              </div>
            {{/if}}
            {{#if embeddedItem.formula}}
              <div class="erps-form__stat">
                <span class="erps-form__stat-label">{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Formula"}}</span>
                <span class="erps-form__stat-value">{{embeddedItem.formula}}</span>
              </div>
            {{/if}}
          </div>
        {{/if}}
      </div>
    </div>

    {{!-- Mode-specific Configuration Display --}}
    {{#if (eq mode "attackChain")}}
      <div class="erps-form__section">
        <div class="erps-form__header erps-form__header--small">
          {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.ChainConfiguration"}}
        </div>

        <div class="erps-form__chain-stats">
          <div class="erps-form__stat">
            <span class="erps-form__stat-label">{{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.FirstStat"}}</span>
            <span class="erps-form__stat-value">{{attackChain.firstStat}}</span>
          </div>
          <div class="erps-form__stat">
            <span class="erps-form__stat-label">{{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.SecondStat"}}</span>
            <span class="erps-form__stat-value">{{attackChain.secondStat}}</span>
          </div>
        </div>

        {{#if (ne attackChain.damageCondition "never")}}
          <div class="erps-form__chain-effect">
            <i class="fas fa-sword"></i>
            <span>{{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.DamageOn"}} {{attackChain.damageCondition}}</span>
            {{#if attackChain.damageFormula}}
              <span class="erps-form__formula">{{attackChain.damageFormula}}</span>
            {{/if}}
          </div>
        {{/if}}

        {{#if (ne attackChain.statusCondition "never")}}
          <div class="erps-form__chain-effect">
            <i class="fas fa-magic"></i>
            <span>{{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.StatusOn"}} {{attackChain.statusCondition}}</span>
            {{#if (eq attackChain.statusCondition "rollValue")}}
              <span class="erps-form__threshold">{{attackChain.statusThreshold}}</span>
            {{/if}}
          </div>
        {{/if}}
      </div>
    {{else if (eq mode "savedDamage")}}
      <div class="erps-form__section">
        <div class="erps-form__header erps-form__header--small">
          {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.SavedDamageConfiguration"}}
        </div>

        <div class="erps-form__stat">
          <span class="erps-form__stat-label">{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Formula"}}</span>
          <span class="erps-form__stat-value">{{savedDamage.formula}}</span>
        </div>

        <div class="erps-form__stat">
          <span class="erps-form__stat-label">{{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.DamageType"}}</span>
          <span class="erps-form__stat-value">{{savedDamage.type}}</span>
        </div>
      </div>
    {{/if}}

    {{!-- Roll Section --}}
    {{> popup-roll}}
  </div>

  {{!-- Footer with buttons --}}
  {{> macro-footer}}
</div>
