<div class="{{cssClass}} base-form" autocomplete="off">
    {{> callout-box}}
    <div class="popup-form__main">
        {{> popup-header}}
        <div class="popup-form__subheader">{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Details"}}</div>
        
        {{#if item.system.description}}
        <div class="popup-form__content popup-form__content--description">
            <div class="popup-form__subheader">{{item.actor.name}}</div> 
            {{{item.system.description}}}
        </div>
        {{/if}}

        {{> popup-roll}}

        {{#if item.system.prerequisites}}
        <div class="popup-form__section">
            <div class="popup-form__subheader">{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Prerequisites"}}</div>
            <div class="popup-form__content popup-form__content--data">{{item.system.prerequisites}}</div>
        </div>
        {{/if}}

        {{#if item.system.usageInfo}}
        <div class="popup-form__section popup-form__section--usage">
            <div class="popup-form__content popup-form__content--usage">{{item.system.usageInfo}}</div>
        </div>
        {{/if}}
    </div>

    {{> macro-footer}}
</div>
