{{!-- Combat Power Popup --}}
<div class="{{cssClass}} erps-form" autocomplete="off">
    {{> callout-box}}
    <div class="erps-form__content">
        {{> popup-header}}
        <div class="erps-form__header">{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Details"}}</div>
        
        {{#if item.system.description}}
        <div class="erps-form__section">
            <div class="erps-form__header erps-form__header--small">{{item.actor.name}}</div> 
            <div class="erps-form__description">
                {{{item.system.description}}}
            </div>
        </div>
        {{/if}}

        {{> popup-roll}}

        {{#if item.system.prerequisites}}
        <div class="erps-form__section">
            <div class="erps-form__header erps-form__header--small">{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Prerequisites"}}</div>
            <div class="erps-form__description erps-form__description--compact">{{item.system.prerequisites}}</div>
        </div>
        {{/if}}

        {{#if item.system.usageInfo}}
        <div class="erps-form__section">
            <div class="erps-form__description erps-form__description--highlighted">{{item.system.usageInfo}}</div>
        </div>
        {{/if}}
    </div>

    {{> macro-footer}}
</div>
