<div class="{{cssClass}} base-form" autocomplete="off">
  <header class="base-form__callout-box">
    <div class="base-form__callout base-form__callout--information">
      <i class="fas fa-info-circle"></i>
      {{localize "EVENTIDE_RP_SYSTEM.Forms.ScriptExplanations.ChangeTargetStatus"}}
    </div>
  </header>

  <div class="base-form__content">
    <div class="base-form__group">
      <label class="base-form__label" for="statusSelector">
        {{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Status"}}:
      </label>
      <select class="base-form__select" id="statusSelector" name="statusSelector">
        {{#each statuses as |status|}}
          <option class="base-form__select-option" 
          value="{{status.id}}" 
          {{#if (eq status.id ../storedData.changeTargetStatus_statusSelector)}}selected{{/if}}>
            {{status.name}}
          </option>
        {{/each}}
      </select>
    </div>
    <div class="base-form__group">
      <label class="base-form__label" 
        for="adjustmentChange">
          {{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Effects"}}:
      </label>
      <select class="base-form__select" 
      id="adjustmentMode" 
      name="adjustmentMode">
        {{#each modes as |mode|}}
          <option value="{{toLowerCase mode}}" 
          {{#if (eq ../storedData.changeTargetStatus_adjustmentMode (toLowerCase mode))}}selected{{/if}}>
            {{mode}}
          </option>
        {{/each}}
      </select>
      <div class="base-form__number-input-wrapper">
        <button type="button" class="decrement" data-action="decrement">−</button>
        <input 
          class="base-form__number-input" 
          autofocus 
          type="number" 
          id="adjustmentChange" 
          name="adjustmentChange" 
          value="{{ifThen storedData.changeTargetStatus_adjustmentChange storedData.changeTargetStatus_adjustmentChange "0"}}" 
          placeholder="{{localize "EVENTIDE_RP_SYSTEM.Forms.Placeholders.ChangeValue"}}">
        <button type="button" class="increment" data-action="increment">+</button>
      </div>
    </div>
    <div class="base-form__group">
      <label class="base-form__label" 
      for="overrideChange">
        {{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.OverrideValues"}}:
      </label>
      <select class="base-form__select" 
      id="overrideMode" 
      name="overrideMode">
        {{#each modes as |mode|}}
          <option value="{{toLowerCase mode}}" 
          {{#if (eq ../storedData.changeTargetStatus_overrideMode (toLowerCase mode))}}selected{{/if}}>
            {{mode}}
          </option>
        {{/each}}
      </select>
      <div class="base-form__number-input-wrapper">
        <button type="button" class="decrement" data-action="decrement">−</button>
        <input 
          class="base-form__number-input" 
          type="number" 
          id="overrideChange" 
          name="overrideChange" 
          value="{{ifThen storedData.changeTargetStatus_overrideChange storedData.changeTargetStatus_overrideChange "0"}}" 
          placeholder="{{localize "EVENTIDE_RP_SYSTEM.Forms.Placeholders.ChangeValue"}}">
        <button type="button" class="increment" data-action="increment">+</button>
      </div>
    </div>
    <div class="base-form__group">
      <label class="base-form__label" 
      for="advantageChange">
        {{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.RollAdvantage"}}:
      </label>
      <select class="base-form__select" 
      id="advantageMode" 
      name="advantageMode">
        {{#each modes as |mode|}}
          <option value="{{toLowerCase mode}}" 
          {{#if (eq ../storedData.changeTargetStatus_advantageMode (toLowerCase mode))}}selected{{/if}}>
            {{mode}}
          </option>
        {{/each}}
      </select>
      <div class="base-form__number-input-wrapper">
        <button type="button" class="decrement" data-action="decrement">−</button>
        <input 
          class="base-form__number-input" 
          type="number" 
          id="advantageChange" 
          name="advantageChange" 
          value="{{ifThen storedData.changeTargetStatus_advantageChange storedData.changeTargetStatus_advantageChange "0"}}" 
          placeholder="{{localize "EVENTIDE_RP_SYSTEM.Forms.Placeholders.ChangeValue"}}">
        <button type="button" class="increment" data-action="increment">+</button>
      </div>
    </div>
    <div class="base-form__group">
      <label class="base-form__label" 
      for="disadvantageChange">
        {{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.RollDisadvantage"}}:
      </label>
      <select class="base-form__select" 
      id="disadvantageMode" 
      name="disadvantageMode">
        {{#each modes as |mode|}}
          <option value="{{toLowerCase mode}}" 
          {{#if (eq ../storedData.changeTargetStatus_disadvantageMode (toLowerCase mode))}}selected{{/if}}>
            {{mode}}
          </option>
        {{/each}}
      </select>
      <div class="base-form__number-input-wrapper">
        <button type="button" class="decrement" data-action="decrement">−</button>
        <input 
          class="base-form__number-input" 
          type="number" 
          id="disadvantageChange" 
          name="disadvantageChange" 
          value="{{ifThen storedData.changeTargetStatus_disadvantageChange storedData.changeTargetStatus_disadvantageChange "0"}}" 
          placeholder="{{localize "EVENTIDE_RP_SYSTEM.Forms.Placeholders.ChangeValue"}}">
        <button type="button" class="increment" data-action="increment">+</button>
      </div>
    </div>
  </div>
  
  {{> macro-footer}}
</div>