<div class="{{cssClass}}" autocomplete="off">
    <p>This script is for creating a custom damage message and applying the damage to your targeted token.</p>
    <div class="form-group">
      <label for="label">Label:</label>
      <input autofocus placeholder="Label" name="label" value="{{lookup storedData (lookup storageKeys 0)}}">
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <input placeholder="Description" name="description" value="{{lookup storedData (lookup storageKeys 1)}}">
    </div>
    <div class="form-group">
      <label for="formula">Formula:</label>
      <input placeholder="xdy + z" name="formula" value="{{lookup storedData (lookup storageKeys 2)}}">
    </div>
    <div class="form-group">
      <label for="isHeal">Is Heal:</label>
      <input type="checkbox" name="isHeal" {{checked heal}}>
    </div>
    <div class="form-group">
      <button type="submit">Damage</button>
      <button type="button" data-action="store">Store</button>
      <button type="button" data-action="close">Close</button>
    </div>
</div>