{{!-- Damage Targets Form --}}
<div class="{{cssClass}} erps-form" autocomplete="off">
  {{> callout-box}}
  <div class="erps-form__content">
    <div class="erps-form__description">{{{localize "EVENTIDE_RP_SYSTEM.Forms.ScriptExplanations.DamageTargets"}}}</div>
   
    <div class="erps-form__group">
      <label class="erps-form__label" for="label">{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Label"}}</label>
      <input 
        class="erps-input" 
        autofocus 
        type="text"
        id="label"
        name="label" 
        placeholder="{{localize "EVENTIDE_RP_SYSTEM.Forms.Placeholders.Label"}}" 
        value="{{lookup storedData (lookup storageKeys 0)}}">
    </div>
    
    <div class="erps-form__group">
      <label class="erps-form__label" for="description">{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Description"}}</label>
      <input 
        class="erps-input" 
        type="text"
        id="description"
        name="description" 
        placeholder="{{localize "EVENTIDE_RP_SYSTEM.Forms.Placeholders.Description"}}" 
        value="{{lookup storedData (lookup storageKeys 1)}}">
    </div>
    
    <div class="erps-form__group">
      <label class="erps-form__label" for="formula">{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Formula"}}</label>
      <input 
        class="erps-input" 
        type="text"
        id="formula"
        name="formula" 
        placeholder="{{localize "EVENTIDE_RP_SYSTEM.Forms.Placeholders.Formula"}}" 
        value="{{lookup storedData (lookup storageKeys 2)}}">
    </div>
    
    <div class="erps-form__group">
      <label class="erps-toggles erps-toggles--label-left" for="isHeal">
        <input 
          class="erps-toggles__input" 
          type="checkbox" 
          id="isHeal" 
          name="isHeal" 
          {{#if heal}}checked{{/if}}>
        <div class="erps-toggles__container">
          <span class="erps-toggles__label">{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.IsHeal"}}</span>
          <span class="erps-toggles__track">
            <span class="erps-toggles__thumb"></span>
          </span>
        </div>
      </label>
    </div>
  </div>
  
  {{> macro-footer}}
</div>