<div class="{{cssClass}} base-form" autocomplete="off">
   <header class="base-form__callout-box">
      {{#if (and (gt targetArray.length 0) (eq gmCheck "gm"))}}
        <div class="base-form__callout base-form__callout--information">
          <i class="fas fa-info-circle"></i>
          {{{localize "EVENTIDE_RP_SYSTEM.Forms.Callouts.Damage.TargetMode" count=targetArray.length}}}
        </div>
      {{else}}
        <div class="base-form__callout base-form__callout--information">
          <i class="fas fa-info-circle"></i>
          {{{localize "EVENTIDE_RP_SYSTEM.Forms.Callouts.Damage.SelectMode" count=selectedArray.length}}}
        </div>
      {{/if}}
    </header>
  <div class="base-form__content">
    <div class="base-form__description">{{{localize "EVENTIDE_RP_SYSTEM.Forms.ScriptExplanations.DamageTargets"}}}</div>
   
    <div class="base-form__group">
      <label class="base-form__label" for="label">{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Label"}}:</label>
      <input class="base-form__text-input" autofocus placeholder="{{localize "EVENTIDE_RP_SYSTEM.Forms.Placeholders.Label"}}" name="label" value="{{lookup storedData (lookup storageKeys 0)}}">
    </div>
    <div class="base-form__group">
      <label class="base-form__label" for="description">{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Description"}}:</label>
      <input class="base-form__text-input" placeholder="{{localize "EVENTIDE_RP_SYSTEM.Forms.Placeholders.Description"}}" name="description" value="{{lookup storedData (lookup storageKeys 1)}}">
    </div>
    <div class="base-form__group">
      <label class="base-form__label" for="formula">{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Formula"}}:</label>
      <input class="base-form__text-input" placeholder="{{localize "EVENTIDE_RP_SYSTEM.Forms.Placeholders.Formula"}}" name="formula" value="{{lookup storedData (lookup storageKeys 2)}}">
    </div>
    <div class="base-form__group base-form__group--checkbox">
      <label class="base-form__label--checkbox" for="isHeal">{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.IsHeal"}}:</label>
      <div class="toggle-switch-wrapper">
        <input class="base-form__toggle-switch" type="checkbox" name="isHeal" id="isHeal" {{checked heal}}>
        <label class="toggle-switch-display" for="isHeal"></label>
      </div>
    </div>
  </div>
  
  {{> macro-footer}}
</div>