<div class="{{cssClass}} base-form" autocomplete="off">
    <div class="">This script is designed to damage targets and heal selected tokens. If its in heal mode it will always heal selected over damaging targets.</div>
    <div class="base-form__group">
      <label class="base-form__label" for="label">Label:</label>
      <input class="base-form__text-input" autofocus placeholder="Label" name="label" value="{{lookup storedData (lookup storageKeys 0)}}">
    </div>
    <div class="base-form__group">
      <label class="base-form__label" for="description">Description:</label>
      <input class="base-form__text-input" placeholder="Description" name="description" value="{{lookup storedData (lookup storageKeys 1)}}">
    </div>
    <div class="base-form__group">
      <label class="base-form__label" for="formula">Formula:</label>
      <input class="base-form__text-input" placeholder="xdy + z" name="formula" value="{{lookup storedData (lookup storageKeys 2)}}">
    </div>
    <div class="base-form__group base-form__group--checkbox">
      <label class="base-form__label" for="isHeal">Is Heal:</label>
      <input class="base-form__checkbox" type="checkbox" name="isHeal" {{checked heal}}>
    </div>
    <div class="base-form__group base-form__group--right">
      <button type="submit" class="base-form__button base-form__button--primary">Damage</button>
      <button type="button" class="base-form__button" data-action="store">Store</button>
      <button type="button" class="base-form__button" data-action="close">Close</button>
    </div>
</div>