<div class="{{cssClass}} base-form effect-creator" autocomplete="off">
  {{> callout-box}}
  <div class="base-form__content">
    <div class="base-form__group">
      <label class="base-form__label" for="type">
        {{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Type"}}}:
      </label>
      <select class="base-form__select" id="type" name="type">
        {{#if (eq playerMode false)}}
          <option value="status" 
            {{#if (eq storedData.effect_type "status")}}selected{{/if}}>
            {{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Status"}}}
          </option>
        {{/if}}
        <option value="feature" 
          {{#if (eq storedData.effect_type "feature")}}selected{{/if}}>
          {{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Feature"}}}
        </option>
      </select>
    </div>
    <div class="base-form__group">
      <label class="base-form__label" for="name">
        {{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Name"}}}:
      </label>
      <input class="base-form__text-input" 
        autofocus 
        type="text" 
        id="name" 
        name="name" 
        placeholder="{{{localize "EVENTIDE_RP_SYSTEM.Forms.Placeholders.Name"}}}">
    </div>
    <div class="base-form__group">
      <label class="base-form__label" for="description">
        {{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Description"}}}:
      </label>
      <textarea class="base-form__textarea" 
        id="description" 
        name="description" 
        placeholder="{{{localize "EVENTIDE_RP_SYSTEM.Forms.Placeholders.Description"}}}"></textarea>
    </div>
    <div class="base-form__group">
      <label class="base-form__label" for="img">
        {{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Image"}}}:
      </label>
      <img
        class="base-form__image base-form__image--edit"
        src="{{storedData.effect_img}}"
        data-edit="img"
        data-action='onEditImage'
        data-target="img"
        title="Effect Image"
        name="displayImage"
        id="displayImage"
      />
      <input 
        class="base-form__hidden-input" 
        type="hidden" 
        name="img" 
        value="{{ifThen storedData.effect_img storedData.effect_img "icons/svg/stoned.svg"}}">
    </div>
    <div class="base-form__color-picker-with-hex color-picker-with-hex">
      <label class="color-picker-label" for="color-bgColor">{{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Background"}}}:</label>
      <div class="color-picker-container">
        <div class="color-preview" id="preview-bgColor" style="background-color: {{ifThen storedData.effect_bgColor storedData.effect_bgColor '#7B4874'}}"></div>
        <input type="color" class="color-picker" id="color-bgColor" name="bgColor" value="{{ifThen storedData.effect_bgColor storedData.effect_bgColor '#7B4874'}}">
        <input type="text" class="hex-input" id="hex-bgColor" placeholder="Hex color" value="{{ifThen storedData.effect_bgColor storedData.effect_bgColor '#7B4874'}}">
      </div>
    </div>
    <div class="base-form__color-picker-with-hex color-picker-with-hex">
      <label class="color-picker-label" for="color-textColor">{{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Text"}}}:</label>
      <div class="color-picker-container">
        <div class="color-preview" id="preview-textColor" style="background-color: {{ifThen storedData.effect_textColor storedData.effect_textColor '#ffffff'}}"></div>
        <input type="color" class="color-picker" id="color-textColor" name="textColor" value="{{ifThen storedData.effect_textColor storedData.effect_textColor '#ffffff'}}">
        <input type="text" class="hex-input" id="hex-textColor" placeholder="Hex color" value="{{ifThen storedData.effect_textColor storedData.effect_textColor '#FFFFFF'}}">
      </div>
    </div>
    <div class="base-form__color-picker-with-hex color-picker-with-hex">
      <label class="color-picker-label" for="color-iconTint">{{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.IconTint"}}}:</label>
      <div class="color-picker-container">
        <div class="color-preview" id="preview-iconTint" style="background-color: {{ifThen storedData.effect_iconTint storedData.effect_iconTint '#ffffff'}}"></div>
        <input type="color" class="color-picker" id="color-iconTint" name="iconTint" value="{{ifThen storedData.effect_iconTint storedData.effect_iconTint '#ffffff'}}">
        <input type="text" class="hex-input" id="hex-iconTint" placeholder="Hex color" value="{{ifThen storedData.effect_iconTint storedData.effect_iconTint '#FFFFFF'}}">
      </div>
    </div>
    <div class="base-form__header">{{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Effects"}}}</div>
    <div class="toggle-container">
      <div class="base-form__toggle-group">
        <label for="displayOnToken">
          {{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.DisplayOnToken"}}
        </label>
        <div class="toggle-switch-wrapper">
          <input 
            class="base-form__toggle-switch" 
            type="checkbox" 
            id="displayOnToken" 
            name="displayOnToken" 
            {{#if (eq storedData.effect_displayOnToken "true")}}checked{{/if}}>
          <label class="toggle-switch-display" for="displayOnToken"></label>
        </div>
      </div>
    </div>
    {{> character-effects}}
  </div>
  
  {{> macro-footer}}
</div>
