<div class="{{cssClass}} base-form" autocomplete="off">
  <header class="base-form__callout-box">
    {{#if (eq playerMode true)}}
      <div class="base-form__callout base-form__callout--information">
        <i class="fas fa-info-circle"></i>
        {{{localize "EVENTIDE_RP_SYSTEM.Forms.Callouts.Effect.PlayerMode" count=selectedArray.length}}}
      </div>
    {{/if}}
    {{#if (eq playerMode false)}}
      {{#if (eq targetArray.length 0)}}
        <div class="base-form__callout base-form__callout--information">
          <i class="fas fa-info-circle"></i>
          {{{localize "EVENTIDE_RP_SYSTEM.Forms.Callouts.Effect.NoTargets"}}}
        </div>
      {{else}}
        <div class="base-form__callout base-form__callout--information">
          <i class="fas fa-info-circle"></i>
          {{{localize "EVENTIDE_RP_SYSTEM.Forms.Callouts.Effect.WithTargets" count=targetArray.length}}}
        </div>
      {{/if}}
    {{/if}}
  </header>
  <div class="base-form__content">
    <div class="base-form__group">
      <label class="base-form__label" for="type">{{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Type"}}}:</label>
      <select class="base-form__select" id="type" name="type">
        {{#if (eq playerMode false)}}
          <option value="status" {{#if (eq storedData.effect_type "status")}}selected{{/if}}>{{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Status"}}}</option>
        {{/if}}
        <option value="feature" {{#if (eq storedData.effect_type "feature")}}selected{{/if}}>{{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Feature"}}}</option>
      </select>
    </div>
    <div class="base-form__group">
      <label class="base-form__label" for="name">{{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Name"}}}:</label>
      <input class="base-form__text-input" autofocus type="text" id="name" name="name" placeholder="{{{localize "EVENTIDE_RP_SYSTEM.Forms.Placeholders.Name"}}}">
    </div>
    <div class="base-form__group">
      <label class="base-form__label" for="description">{{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Description"}}}:</label>
      <textarea class="base-form__textarea" id="description" name="description" placeholder="{{{localize "EVENTIDE_RP_SYSTEM.Forms.Placeholders.Description"}}}"></textarea>
    </div>
    <div class="base-form__group">
      <label class="base-form__label" for="img">{{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Image"}}}:</label>
      <img
        class="base-form__image base-form__image--edit"
        src="{{storedData.effect_img}}"
        data-edit="img"
        data-action='onEditImage'
        data-target="img"
        title="Effect Image"
        name="displayImage"
        id="displayImage"
      />
      <input class="base-form__hidden-input" type="hidden" name="img" value="{{ifThen storedData.effect_img storedData.effect_img "icons/svg/stoned.svg"}}">
    </div>
    <div class="base-form__group">
      <label class="base-form__label" for="bgColor">{{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Background"}}}:</label>
      <input class="base-form__color-input" type="color" id="bgColor" name="bgColor" value="{{ifThen storedData.effect_bgColor storedData.effect_bgColor "#7B4874"}}">
    </div>
    <div class="base-form__group">
      <label class="base-form__label" for="textColor">{{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Text"}}}:</label>
      <input class="base-form__color-input" type="color" id="textColor" name="textColor" value="{{ifThen storedData.effect_textColor storedData.effect_textColor "#ffffff"}}">
    </div>
    <div class="base-form__group">
      <label class="base-form__label" for="iconTint">{{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.IconTint"}}}:</label>
      <input class="base-form__color-input" type="color" id="iconTint" name="iconTint" value="{{ifThen storedData.effect_iconTint storedData.effect_iconTint "#ffffff"}}">
    </div>
    <div class="base-form__header">{{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Effects"}}}</div>
    {{#each abilities}}
      <div class="base-form__group">
        <label class="base-form__label" for="{{lowercase this}}">{{{capitalize (localize (lookup @root.config.abilityAbbreviations this))}}}:</label>
        <input class="base-form__number-input" type="number" id="{{lowercase this}}" name="{{lowercase this}}" value="0">
        <select class="base-form__select" id="{{lowercase this}}-mode" name="{{lowercase this}}-mode">
          <option value="add">{{{localize "EVENTIDE_RP_SYSTEM.Forms.Modifications.Add"}}}</option>
          <option value="override">{{{localize "EVENTIDE_RP_SYSTEM.Forms.Modifications.Override"}}}</option>
          <option value="advantage">{{{localize "EVENTIDE_RP_SYSTEM.Forms.Modifications.Advantage"}}}</option>
          <option value="disadvantage">{{{localize "EVENTIDE_RP_SYSTEM.Forms.Modifications.Disadvantage"}}}</option>
        </select>
      </div>
    {{/each}}
    {{#each hiddenAbilities}}
      <div class="base-form__group">
        <label class="base-form__label" for="{{lowercase this}}">{{{capitalize (localize (lookup @root.config.hiddenAbilityAbbreviations this))}}}:</label>
        <input class="base-form__number-input" type="number" id="{{lowercase this}}" name="{{lowercase this}}" value="0">
        <select class="base-form__select" id="{{lowercase this}}-mode" name="{{lowercase this}}-mode">
          <option value="add">{{{localize "EVENTIDE_RP_SYSTEM.Forms.Modifications.Add"}}}</option>
          <option value="override">{{{localize "EVENTIDE_RP_SYSTEM.Forms.Modifications.Override"}}}</option>
        </select>
      </div>
    {{/each}}
  </div>
  
  <footer class="base-form__footer">
    <button type="submit" class="base-form__button base-form__button--primary">{{{ifThen targetArray.length (localize "EVENTIDE_RP_SYSTEM.Forms.Buttons.CreateAndApply") (localize "EVENTIDE_RP_SYSTEM.Forms.Buttons.Create")}}}</button>
  </footer>
</div>
