<div class="{{cssClass}} base-form" autocomplete="off">
  <div class="base-form__callout base-form__callout--information">
    <i class="fas fa-info-circle"></i>
    {{#if (eq playerMode true)}}
      You are using the effect creator in player mode. This can only be used to create features for tokens you control. You currently have <strong>{{selectedArray.length}} tokens(s)</strong> selected.
    {{/if}}
    {{#if (eq playerMode false)}}
      {{#if (eq targetArray.length 0)}}
        There are no targets selected. This will create either a status condition or feature (as selected) for the compendium only.
      {{else}}
        There are <strong>{{targetArray.length}} target(s)</strong> selected. This will create a status condition or feature (as selected) for each target and your compendium.
      {{/if}}
    {{/if}}
  </div>
  <div class="base-form__group">
    <label class="base-form__label" for="type">Type:</label>
    <select class="base-form__select" id="type" name="type">
      {{#if (eq playerMode false)}}
        <option value="status" {{#if (eq storedData.effect_type "status")}}selected{{/if}}>Status</option>
      {{/if}}
      <option value="feature" {{#if (eq storedData.effect_type "feature")}}selected{{/if}}>Feature</option>
    </select>
  </div>
  <div class="base-form__group">
    <label class="base-form__label" for="name">Name:</label>
    <input class="base-form__text-input" autofocus type="text" id="name" name="name" placeholder="Name">
  </div>
  <div class="base-form__group">
    <label class="base-form__label" for="description">Description:</label>
    <textarea class="base-form__textarea" id="description" name="description" placeholder="Description"></textarea>
  </div>
  <div class="base-form__group">
    <label class="base-form__label" for="img">Image:</label>
    <img
      class="base-form__image base-form__image--edit"
      src="{{storedData.effect_img}}"
      data-edit="img"
      data-action='onEditImage'
      title="Effect Image"
    />
    <input class="base-form__hidden-input" type="hidden" name="img" value="{{ifThen storedData.effect_img storedData.effect_img "icons/svg/stoned.svg"}}">
  </div>
  <div class="base-form__group">
    <label class="base-form__label" for="bgColor">Background Color:</label>
    <input class="base-form__color-input" type="color" id="bgColor" name="bgColor" value="{{ifThen storedData.effect_bgColor storedData.effect_bgColor "#7B4874"}}">
  </div>
  <div class="base-form__group">
    <label class="base-form__label" for="textColor">Text Color:</label>
    <input class="base-form__color-input" type="color" id="textColor" name="textColor" value="{{ifThen storedData.effect_textColor storedData.effect_textColor "#ffffff"}}">
  </div>
  <div class="base-form__group">
    <label class="base-form__label" for="iconTint">Icon Tint:</label>
    <input class="base-form__color-input" type="color" id="iconTint" name="iconTint" value="{{ifThen storedData.effect_iconTint storedData.effect_iconTint "#ffffff"}}">
  </div>
  <div class="base-form__header">Effects</div>
  {{#each abilities}}
    <div class="base-form__group">
      <label class="base-form__label" for="{{lowercase this}}">{{this}}:</label>
      <input class="base-form__number-input" type="number" id="{{lowercase this}}" name="{{lowercase this}}" value="0">
      <select class="base-form__select" id="{{lowercase this}}-mode" name="{{lowercase this}}-mode">
        <option value="add">Change</option>
        <option value="override">Override</option>
        <option value="advantage">Advantage</option>
        <option value="disadvantage">Disadvantage</option>
      </select>
    </div>
  {{/each}}
  {{#if (eq playerMode false)}}
    {{#each hiddenAbilities}}
      <div class="base-form__group">
        <label class="base-form__label" for="{{lowercase this}}">{{this}}:</label>
        <input class="base-form__number-input" type="number" id="{{lowercase this}}" name="{{lowercase this}}" value="0">
        <select class="base-form__select" id="{{lowercase this}}-mode" name="{{lowercase this}}-mode">
          <option value="add">Change</option>
          <option value="override">Override</option>
        </select>
      </div>
    {{/each}}
  {{/if}}
  <div class="base-form__group base-form__group--right">
    <button type="submit" class="base-form__button base-form__button--primary">{{ifThen targetArray.length "Create and Apply" "Create"}}</button>
  </div>
</div>
