<div class="{{cssClass}} erps-form effect-creator" autocomplete="off">
  {{> callout-box}}
  <div class="erps-form__content">
    <div class="erps-form__group">
      <label class="erps-form__label" for="type">
        {{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Type"}}}:
      </label>
      <select class="erps-select" id="type" name="type">
        {{#if (eq playerMode false)}}
          <option value="status" 
            {{#if (eq storedData.effect_type "status")}}selected{{/if}}>
            {{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Status"}}}
          </option>
        {{/if}}
        <option value="feature" 
          {{#if (eq storedData.effect_type "feature")}}selected{{/if}}>
          {{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Feature"}}}
        </option>
      </select>
    </div>
    <div class="erps-form__group">
      <label class="erps-form__label" for="name">
        {{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Name"}}}:
      </label>
      <input class="erps-input" 
        autofocus 
        type="text" 
        id="name" 
        name="name" 
        placeholder="{{{localize "EVENTIDE_RP_SYSTEM.Forms.Placeholders.Name"}}}">
    </div>
    <div class="erps-form__group">
      <label class="erps-form__label" for="description">
        {{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Description"}}}:
      </label>
      <textarea class="erps-textarea" 
        id="description" 
        name="description" 
        placeholder="{{{localize "EVENTIDE_RP_SYSTEM.Forms.Placeholders.Description"}}}"></textarea>
    </div>
    <div class="erps-form__group">
      <label class="erps-form__label" for="img">
        {{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Image"}}}:
      </label>
      <img
        class="erps-image-picker"
        src="{{storedData.effect_img}}"
        data-edit="img"
        data-action='onEditImage'
        data-target="img"
        title="Effect Image"
        name="displayImage"
        id="displayImage"
      />
      <input 
        class="erps-hidden-input" 
        type="hidden" 
        name="img" 
        value="{{ifThen storedData.effect_img storedData.effect_img "icons/svg/stoned.svg"}}">
    </div>
    {{> color-pickers type="effect"}}
    
    <div class="erps-form__header">{{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Effects"}}}</div>
    <div class="erps-form__group">
      <label class="erps-toggles erps-toggles--label-left">
        <input 
          class="erps-toggles__input" 
          type="checkbox" 
          id="displayOnToken" 
          name="displayOnToken" 
          {{#if storedData.effect_displayOnToken}}checked{{/if}}>
        <div class="erps-toggles__container">
          <span class="erps-toggles__track">
            <span class="erps-toggles__thumb"></span>
          </span>
          <span class="erps-toggles__label">
            {{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.DisplayOnToken"}}
          </span>
        </div>
      </label>
    </div>
    {{> character-effects}}
  </div>
  
  {{> macro-footer}}
</div>
