{{!-- Gear Creator Form --}}
<div class="{{cssClass}} erps-form gear-creator" autocomplete="off">
  {{> callout-box}}
  <div class="erps-form__content">
    <div class="gear-creator__upper-section">
      <div class="gear-creator__main-info">
        <div class="erps-form__group">
          <label class="erps-form__label" for="name">
            {{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Name"}}
          </label>
          <input 
            class="erps-input" 
            autofocus 
            type="text" 
            id="name" 
            name="name" 
            placeholder="{{localize "EVENTIDE_RP_SYSTEM.Forms.Placeholders.Name"}}">
        </div>

        <div class="erps-form__group">
          <label class="erps-form__label" for="description">
            {{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Description"}}
          </label>
          <textarea 
            class="erps-textarea" 
            id="description" 
            name="description" 
            placeholder="{{localize "EVENTIDE_RP_SYSTEM.Forms.Placeholders.Description"}}"></textarea>
        </div>
      </div>

      <div class="gear-creator__visual-info">
        <div class="erps-form__group gear-creator__image-group">
          <label class="erps-form__label" for="img">
            {{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Image"}}
          </label>
          <img
            class="erps-image-picker"
            src="{{storedData.gear_img}}"
            data-edit="img"
            data-action='onEditImage'
            data-target="img"
            title="{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Image"}}"
            name="displayImage"
            id="displayImage"
          />
          <input 
            class="erps-hidden-input" 
            type="hidden" 
            name="img" 
            value="{{ifThen storedData.gear_img storedData.gear_img "icons/svg/item-bag.svg"}}">
        </div>
        {{> color-pickers type="gear" stacked=true}}

        <div class="erps-form__group">
          <label class="erps-toggles erps-toggles--label-left" for="displayOnToken">
            <input 
              class="erps-toggles__input" 
              type="checkbox" 
              id="displayOnToken" 
              name="displayOnToken" 
              {{#if storedData.gear_displayOnToken}}checked{{/if}}>
            <div class="erps-toggles__container">
              <span class="erps-toggles__label">{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.DisplayOnToken"}}</span>
              <span class="erps-toggles__track">
                <span class="erps-toggles__thumb"></span>
              </span>
            </div>
          </label>
        </div>
      </div>
    </div>

    <div class="gear-creator__columns">
      <div class="gear-creator__column">
        <div class="erps-form__header">{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Attributes"}}</div>
        <div class="erps-form__group">
          <label class="erps-form__label" for="quantity">
            {{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Quantity"}}
          </label>
          <div class="erps-number-input">
            <button type="button" class="erps-number-input__button erps-number-input__button--decrement" data-action="decrement">−</button>
            <input class="erps-number-input__input" type="number" id="quantity" name="quantity" value="1">
            <button type="button" class="erps-number-input__button erps-number-input__button--increment" data-action="increment">+</button>
          </div>
        </div>

        <div class="erps-form__group">
          <label class="erps-form__label" for="weight">
            {{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Weight"}}
          </label>
          <div class="erps-number-input">
            <button type="button" class="erps-number-input__button erps-number-input__button--decrement" data-action="decrement">−</button>
            <input class="erps-number-input__input" type="number" id="weight" name="weight" value="0">
            <button type="button" class="erps-number-input__button erps-number-input__button--increment" data-action="increment">+</button>
          </div>
        </div>

        <div class="erps-form__group">
          <label class="erps-form__label" for="cost">
            {{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Cost"}}
          </label>
          <div class="erps-number-input">
            <button type="button" class="erps-number-input__button erps-number-input__button--decrement" data-action="decrement">−</button>
            <input class="erps-number-input__input" type="number" id="cost" name="cost" value="0">
            <button type="button" class="erps-number-input__button erps-number-input__button--increment" data-action="increment">+</button>
          </div>
        </div>

        <div class="erps-form__group">
          <label class="erps-toggles erps-toggles--label-left" for="targeted">
            <input 
              class="erps-toggles__input" 
              type="checkbox" 
              id="targeted" 
              name="targeted" 
              checked>
            <div class="erps-toggles__container">
              <span class="erps-toggles__label">{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Targeted"}}</span>
              <span class="erps-toggles__track">
                <span class="erps-toggles__thumb"></span>
              </span>
            </div>
          </label>
        </div>

        <div class="erps-form__group">
          <label class="erps-form__label" for="className">
            {{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.ClassName"}}
          </label>
          <select class="erps-select" id="className" name="className">
            {{#each classNames as |className|}}
              <option 
                value="{{lowercase className}}" 
                {{#if (eq (lowercase className) "other")}}selected{{/if}}
              >
                {{localize (lookup @root.config.classNames className)}}
              </option>
            {{/each}}
          </select>
        </div>

        <div class="erps-form__group">
          <label class="erps-toggles erps-toggles--label-left" for="equipped">
            <input 
              class="erps-toggles__input" 
              type="checkbox" 
              id="equipped" 
              name="equipped" 
              {{#if gearEquippedDefault}}checked{{/if}}>
            <div class="erps-toggles__container">
              <span class="erps-toggles__label">{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Equipped"}}</span>
              <span class="erps-toggles__track">
                <span class="erps-toggles__thumb"></span>
              </span>
            </div>
          </label>
        </div>

        {{#if isGM}}
          <div class="erps-form__group">
            <label class="erps-toggles erps-toggles--label-left" for="cursed">
              <input 
                class="erps-toggles__input" 
                type="checkbox" 
                id="cursed" 
                name="cursed">
              <div class="erps-toggles__container">
                <span class="erps-toggles__label">{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Cursed"}}</span>
                <span class="erps-toggles__track">
                  <span class="erps-toggles__thumb"></span>
                </span>
              </div>
            </label>
          </div>
        {{/if}}
      </div>

      <div class="gear-creator__column">
        <div class="erps-form__header">{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.RollSettings"}}</div>
        <div class="erps-form__group">
          <label class="erps-form__label" for="roll.type">
            {{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.RollType"}}
          </label>
          <select class="erps-select" id="roll.type" name="roll.type">
            {{#each rollTypes as |rollType rollTypeKey|}}
              <option value="{{lowercase rollType}}">{{rollType}}</option>
            {{/each}}
          </select>
        </div>

        <div class="erps-form__group">
          <label class="erps-form__label" for="roll.ability">
            {{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.RollAbility"}}
          </label>
          <select class="erps-select" id="roll.ability" name="roll.ability">
            {{#each abilities}}
              <option value="{{lowercase this}}">
                {{localize (lookup @root.config.abilityAbbreviations this)}}
              </option>
            {{/each}}
            <option value="unaugmented">
              {{localize "EVENTIDE_RP_SYSTEM.CombatOptions.Unaugmented"}}
            </option>
          </select>
        </div>

        <div class="erps-form__group">
          <label class="erps-form__label" for="roll.bonus">
            {{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.RollBonus"}}
          </label>
          <div class="erps-number-input">
            <button type="button" class="erps-number-input__button erps-number-input__button--decrement" data-action="decrement">−</button>
            <input 
              class="erps-number-input__input" 
              type="number" 
              id="roll.bonus" 
              name="roll.bonus" 
              value="0">
            <button type="button" class="erps-number-input__button erps-number-input__button--increment" data-action="increment">+</button>
          </div>
        </div>

        <div class="erps-form__group">
          <label class="erps-form__label" for="roll.diceAdjustments.advantage">
            {{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.RollAdvantage"}}
          </label>
          <div class="erps-number-input">
            <button type="button" class="erps-number-input__button erps-number-input__button--decrement" data-action="decrement">−</button>
            <input 
              class="erps-number-input__input" 
              type="number" 
              id="roll.diceAdjustments.advantage" 
              name="roll.diceAdjustments.advantage" 
              value="0">
            <button type="button" class="erps-number-input__button erps-number-input__button--increment" data-action="increment">+</button>
          </div>
        </div>

        <div class="erps-form__group">
          <label class="erps-form__label" for="roll.diceAdjustments.disadvantage">
            {{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.RollDisadvantage"}}
          </label>
          <div class="erps-number-input">
            <button type="button" class="erps-number-input__button erps-number-input__button--decrement" data-action="decrement">−</button>
            <input 
              class="erps-number-input__input"
              type="number" 
              id="roll.diceAdjustments.disadvantage" 
              name="roll.diceAdjustments.disadvantage" 
              value="0">
            <button type="button" class="erps-number-input__button erps-number-input__button--increment" data-action="increment">+</button>
          </div>
        </div>
      </div>

      <div class="gear-creator__column">
        <div class="erps-form__header">{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Effects"}}</div>
        {{> character-effects narrow=true}}
      </div>
    </div>
  </div>

  {{> macro-footer}}
</div>