<div class="{{cssClass}} base-form" autocomplete="off">
  <header class="base-form__callout-box">
    {{#if (eq playerMode true)}}
      <div class="base-form__callout base-form__callout--information">
        <i class="fas fa-info-circle"></i>
        {{{localize "EVENTIDE_RP_SYSTEM.Forms.Callouts.Gear.PlayerMode" count=selectedArray.length}}}
      </div>
    {{else}}
      {{#if (eq targetArray.length 0)}}
        <div class="base-form__callout base-form__callout--information">
          <i class="fas fa-info-circle"></i>
          {{{localize "EVENTIDE_RP_SYSTEM.Forms.Callouts.Gear.NoTargets"}}}
        </div>
      {{else}}
        <div class="base-form__callout base-form__callout--information">
          <i class="fas fa-info-circle"></i>
          {{{localize "EVENTIDE_RP_SYSTEM.Forms.Callouts.Gear.WithTargets" count=targetArray.length}}}
        </div>
      {{/if}}
    {{/if}}
  </header>
  <div class="base-form__content">
    <div class="gear-creator__upper-section">
      <div class="gear-creator__main-info">
        <div class="base-form__group">
          <label class="base-form__label" for="name">
            {{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Name"}}
          </label>
          <input 
            class="base-form__text-input" 
            autofocus 
            type="text" 
            id="name" 
            name="name" 
            placeholder="{{localize "EVENTIDE_RP_SYSTEM.Forms.Placeholders.Name"}}">
          </input>
        </div>

        <div class="base-form__group">
          <label class="base-form__label" for="description">
            {{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Description"}}
          </label>
          <textarea 
            class="base-form__textarea" 
            id="description" 
            name="description" 
            placeholder="{{localize "EVENTIDE_RP_SYSTEM.Forms.Placeholders.Description"}}"></textarea>
        </div>
      </div>

      <div class="gear-creator__visual-info">
        <div class="base-form__group gear-creator__image-group">
          <label class="base-form__label" for="img">
            {{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Image"}}
          </label>
          <img
            class="gear-creator__image base-form__image--edit"
            src="{{storedData.gear_img}}"
            data-edit="img"
            data-action='onEditImage'
            data-target="img"
            title="{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Image"}}"
            name="displayImage"
            id="displayImage"
          />
          <input 
            class="base-form__hidden-input" 
            type="hidden" 
            name="img" 
            value="{{ifThen storedData.gear_img storedData.gear_img "icons/svg/item-bag.svg"}}">
        </div>

          <div class="base-form__color-picker-with-hex color-picker-with-hex">
            <label class="color-picker-label" for="color-bgColor">{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Background"}}</label>
            <div class="color-picker-container">
              <div class="color-preview" id="preview-bgColor" style="background-color: {{ifThen storedData.gear_bgColor storedData.gear_bgColor '#7B4874'}}"></div>
              <input type="color" class="color-picker" id="color-bgColor" name="bgColor" value="{{ifThen storedData.gear_bgColor storedData.gear_bgColor '#7B4874'}}">
              <input type="text" class="hex-input" id="hex-bgColor" placeholder="Hex color" value="{{ifThen storedData.gear_bgColor storedData.gear_bgColor '#7B4874'}}">
            </div>
          </div>

          <div class="base-form__color-picker-with-hex color-picker-with-hex">
            <label class="color-picker-label" for="color-textColor">{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Text"}}</label>
            <div class="color-picker-container">
              <div class="color-preview" id="preview-textColor" style="background-color: {{ifThen storedData.gear_textColor storedData.gear_textColor '#ffffff'}}"></div>
              <input type="color" class="color-picker" id="color-textColor" name="textColor" value="{{ifThen storedData.gear_textColor storedData.gear_textColor '#ffffff'}}">
              <input type="text" class="hex-input" id="hex-textColor" placeholder="Hex color" value="{{ifThen storedData.gear_textColor storedData.gear_textColor '#FFFFFF'}}">
            </div>
          </div>

          <div class="base-form__color-picker-with-hex color-picker-with-hex">
            <label class="color-picker-label" for="color-iconTint">{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.IconTint"}}:</label>
            <div class="color-picker-container">
              <div class="color-preview" id="preview-iconTint" style="background-color: {{ifThen storedData.gear_iconTint storedData.gear_iconTint '#ffffff'}}"></div>
              <input type="color" class="color-picker" id="color-iconTint" name="iconTint" value="{{ifThen storedData.gear_iconTint storedData.gear_iconTint '#ffffff'}}">
              <input type="text" class="hex-input" id="hex-iconTint" placeholder="Hex color" value="{{ifThen storedData.gear_iconTint storedData.gear_iconTint '#FFFFFF'}}">
            </div>
          </div>

          <div class="base-form__toggle-group">
            <label for="displayOnToken">
              {{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.DisplayOnToken"}}
            </label>
            <div class="toggle-switch-wrapper">
              <input 
                class="base-form__toggle-switch" 
                type="checkbox" 
                id="displayOnToken" 
                name="displayOnToken" 
                {{#if storedData.gear_displayOnToken}}checked{{/if}}>
              <label class="toggle-switch-display" for="displayOnToken"></label>
            </div>
          </div>
      </div>
    </div>

    <div class="gear-creator__columns">
      <div class="gear-creator__column">
        <div class="base-form__header">{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Attributes"}}</div>
        <div class="base-form__group">
          <label class="base-form__label" for="quantity">
            {{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Quantity"}}
          </label>
          <input class="base-form__number-input" type="number" id="quantity" name="quantity" value="1">
        </div>

        <div class="base-form__group">
          <label class="base-form__label" for="weight">
            {{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Weight"}}
          </label>
          <input class="base-form__number-input" type="number" id="weight" name="weight" value="0">
        </div>

        <div class="base-form__group">
          <label class="base-form__label" for="cost">
            {{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Cost"}}
          </label>
          <input class="base-form__number-input" type="number" id="cost" name="cost" value="0">
        </div>

        <div class="base-form__toggle-group">
          <label for="targeted">
            {{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Targeted"}}
          </label>
          <div class="toggle-switch-wrapper">
            <input 
              class="base-form__toggle-switch" 
              type="checkbox" 
              id="targeted" 
              name="targeted" 
              checked>
            <label class="toggle-switch-display" for="targeted"></label>
          </div>
        </div>

        <div class="base-form__group">
          <label class="base-form__label" for="className">
            {{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.ClassName"}}
          </label>
          <select class="base-form__select" id="className" name="className">
            {{#each classNames as |className|}}
              <option 
                value="{{lowercase className}}" 
                {{#if (eq (lowercase className) "other")}}selected{{/if}}
              >
                {{localize (lookup @root.config.classNames className)}}
              </option>
            {{/each}}
          </select>
          </div>

        <div class="base-form__toggle-group">
          <label for="equipped">
            {{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Equipped"}}
          </label>
          <div class="toggle-switch-wrapper">
            <input 
              class="base-form__toggle-switch" 
              type="checkbox" 
              id="equipped" 
              name="equipped" 
              {{#if gearEquippedDefault}}checked{{/if}}>
            <label class="toggle-switch-display" for="equipped"></label>
          </div>
        </div>

        {{#if isGM}}
          <div class="base-form__toggle-group">
            <label for="cursed">
              {{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Cursed"}}
            </label>
            <div class="toggle-switch-wrapper">
              <input 
                class="base-form__toggle-switch" 
                type="checkbox" 
                id="cursed" 
                name="cursed">
              <label class="toggle-switch-display" for="cursed"></label>
            </div>
          </div>
        {{/if}}
      </div>

      <div class="gear-creator__column">
        <div class="base-form__header">{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.RollSettings"}}</div>
        <div class="base-form__group">
          <label class="base-form__label" for="roll.type">
            {{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.RollType"}}
          </label>
          <select class="base-form__select" id="roll.type" name="roll.type">
            {{#each rollTypes as |rollType rollTypeKey|}}
              <option value="{{lowercase rollType}}">{{rollType}}</option>
            {{/each}}
          </select>
        </div>

        <div class="base-form__group">
          <label class="base-form__label" for="roll.ability">
            {{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.RollAbility"}}
          </label>
          <select class="base-form__select" id="roll.ability" name="roll.ability">
            {{#each abilities}}
              <option value="{{lowercase this}}">
                {{localize (lookup @root.config.abilityAbbreviations this)}}
              </option>
            {{/each}}
            <option value="unaugmented">
              {{localize "EVENTIDE_RP_SYSTEM.CombatOptions.Unaugmented"}}
            </option>
          </select>
        </div>

        <div class="base-form__group">
          <label class="base-form__label" for="roll.bonus">
            {{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.RollBonus"}}
          </label>
          <input 
            class="base-form__number-input" 
            type="number" 
            id="roll.bonus" 
            name="roll.bonus" 
            value="0">
        </div>

        <div class="base-form__group">
          <label class="base-form__label" for="roll.diceAdjustments.advantage">
            {{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.RollAdvantage"}}
          </label>
          <input 
            class="base-form__number-input" 
            type="number" 
            id="roll.diceAdjustments.advantage" 
            name="roll.diceAdjustments.advantage" 
            value="0">
        </div>

        <div class="base-form__group">
          <label class="base-form__label" for="roll.diceAdjustments.disadvantage">
            {{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.RollDisadvantage"}}
          </label>
          <input 
            class="base-form__number-input" 
            type="number" 
            id="roll.diceAdjustments.disadvantage" 
            name="roll.diceAdjustments.disadvantage" 
            value="0">
        </div>
      </div>

      <div class="gear-creator__column">
        <div class="base-form__header">{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Effects"}}</div>
        {{#each abilities}}
          <div class="base-form__group gear-creator__effect-group">
            <label class="base-form__label" for="{{lowercase this}}">{{capitalize (localize (lookup @root.config.abilityAbbreviations this))}}</label>
            <input class="base-form__number-input gear-creator__effect-input" type="number" id="{{lowercase this}}" name="{{lowercase this}}" value="0">
            <select class="base-form__select gear-creator__effect-select" id="{{lowercase this}}-mode" name="{{lowercase this}}-mode">
              <option value="add">{{localize "EVENTIDE_RP_SYSTEM.Forms.Modifications.Add"}}</option>
              <option value="override">{{localize "EVENTIDE_RP_SYSTEM.Forms.Modifications.Override"}}</option>
              <option value="advantage">{{localize "EVENTIDE_RP_SYSTEM.Forms.Modifications.Advantage"}}</option>
              <option value="disadvantage">{{localize "EVENTIDE_RP_SYSTEM.Forms.Modifications.Disadvantage"}}</option>
            </select>
          </div>
        {{/each}}
        {{#each hiddenAbilities}}
          <div class="base-form__group gear-creator__effect-group">
            <label class="base-form__label" for="{{lowercase this}}">{{capitalize (localize (lookup @root.config.hiddenAbilityAbbreviations this))}}</label>
            <input class="base-form__number-input gear-creator__effect-input" type="number" id="{{lowercase this}}" name="{{lowercase this}}" value="0">
            <select class="base-form__select gear-creator__effect-select" id="{{lowercase this}}-mode" name="{{lowercase this}}-mode">
              <option value="add">{{localize "EVENTIDE_RP_SYSTEM.Forms.Modifications.Add"}}</option>
              <option value="override">{{localize "EVENTIDE_RP_SYSTEM.Forms.Modifications.Override"}}</option>
            </select>
          </div>
        {{/each}}
      </div>
    </div>
  </div>

  <footer class="base-form__footer">
    <button type="submit" class="base-form__button base-form__button--primary">{{ifThen targetArray.length (localize "EVENTIDE_RP_SYSTEM.Forms.Buttons.CreateAndApply") (localize "EVENTIDE_RP_SYSTEM.Forms.Buttons.Create")}}</button>
  </footer>
</div>