<div class="{{cssClass}}" autocomplete="off">
  <div>This script is to allow you to change the values
    on an existing status condition easily.
  </div>
  <div class="form-group">
    <label for="statusSelector">Status:</label>
    <select id="statusSelector" name="statusSelector">
      {{#each statuses as |status|}}
        <option value="{{status.id}}" {{#ifCond status.id "===" ../storedData.incrementTargetStatus_statusSelector}}selected{{/ifCond}}>{{status.name}}</option>
      {{/each}}
    </select>
  </div>
  <div class="form-group">
    <label for="addChange">Add Change:</label>
    <input autofocus type="number" id="addChange" name="addChange" value="{{ifThen storedData.incrementTargetStatus_addChange storedData.incrementTargetStatus_addChange "0"}}">
  </div>
  <div class="form-group">
    <label for="overrideChange">Override Change:</label>
    <input type="number" id="overrideChange" name="overrideChange" value="{{ifThen storedData.incrementTargetStatus_overrideChange storedData.incrementTargetStatus_overrideChange "0"}}">
  </div>
  <div class="form-group">
    <label for="advantageChange">Advantage Change:</label>
    <input type="number" id="advantageChange" name="advantageChange" value="{{ifThen storedData.incrementTargetStatus_advantageChange storedData.incrementTargetStatus_advantageChange "0"}}">
  </div>
  <div class="form-group">
    <label for="disadvantageChange">Disadvantage Change:</label>
    <input type="number" id="disadvantageChange" name="disadvantageChange" value="{{ifThen storedData.incrementTargetStatus_disadvantageChange storedData.incrementTargetStatus_disadvantageChange "0"}}">
  </div>
  <div class="form-group">
    <button type="submit">Increment</button>
    <button type="button" data-action="close">Close</button>
  </div>
</div>