<form autocomplete="off" name="form">
  <hr />
  <div class="form-group">
    <label><strong>Restore Resolve:</strong></label>
    <input type="checkbox" name="restoreResolve" checked="{{defaultOptions.restoreResolve}}">
  </div>
  <div class="form-group">
    <label><strong>Restore Power:</strong></label>
    <input type="checkbox" name="restorePower" checked="{{defaultOptions.restorePower}}">
  </div>
  <hr />
  <div class="form-group">
    <label><strong>Remove Statuses:</strong></label>
  </div>
  <div class="form-group">
    <label><u><strong>All</strong></u></label>
    <input type="checkbox" name="all">
  </div>
  {{#each statusEffects as |status|}}
    <div class="form-group">
      <label for="{{status.id}}">{{status.name}}</label>
      <input type="checkbox" name="{{status.id}}" id="{{status.id}}">
    </div>
  {{/each}}
</form>
