<div class="{{cssClass}} base-form" autocomplete="off">
  <header class="base-form__callout-box">
    <div class="base-form__callout base-form__callout--information">
      <i class="fas fa-info-circle"></i>
      {{localize "EVENTIDE_RP_SYSTEM.Forms.Callouts.Gear.RestoreTarget" target=actor.name}}
    </div>
  </header>
  <div class="base-form__content">
    <div class="base-form__group base-form__group--checkbox">
      <label class="base-form__label" for="restoreResolve">{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.RestoreResolve"}}</label>
      <div class="toggle-switch-wrapper">
        <input class="base-form__toggle-switch" autofocus type="checkbox" id="restoreResolve" name="restoreResolve" {{checked defaultOptions.restoreResolve}}>
        <label class="toggle-switch-display" for="restoreResolve"></label>
      </div>
    </div>
    <div class="base-form__group base-form__group--checkbox">
      <label class="base-form__label" for="restorePower">{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.RestorePower"}}</label>
      <div class="toggle-switch-wrapper">
        <input class="base-form__toggle-switch" type="checkbox" id="restorePower" name="restorePower" {{checked defaultOptions.restorePower}}>
        <label class="toggle-switch-display" for="restorePower"></label>
      </div>
    </div>
    <hr />
    <div class="base-form__group base-form__group--checkbox base-form__group--header">
      <label class="base-form__header">{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.RemoveStatuses"}}</label>
    </div>
    <div class="base-form__group base-form__group--checkbox">
      <label class="base-form__label" for="all">{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.All"}}</label>
      <div class="toggle-switch-wrapper">
        <input class="base-form__toggle-switch" type="checkbox" id="all" name="all">
        <label class="toggle-switch-display" for="all"></label>
      </div>
    </div>
    {{#each statusEffects as |status|}}
      <div class="base-form__group base-form__group--checkbox">
        <label class="base-form__label" for="{{status.id}}">{{status.name}}</label>
        <div class="toggle-switch-wrapper">
          <input class="base-form__toggle-switch" type="checkbox" name="{{status.id}}" id="{{status.id}}">
          <label class="toggle-switch-display" for="{{status.id}}"></label>
        </div>
      </div>
    {{/each}}
  </div>
  
  {{> macro-footer}}
</div>
