{{!-- Restore Target Form --}}
<div class="{{cssClass}} erps-form" autocomplete="off">
  <div class="erps-callouts">
    <div class="erps-callout erps-callout--information">
      <i class="fas fa-info-circle"></i>
      {{localize "EVENTIDE_RP_SYSTEM.Forms.Callouts.Gear.RestoreTarget" target=actor.name}}
    </div>
  </div>
  
  <div class="erps-form__content">
    <label class="erps-toggles erps-toggles--restore-row" for="restoreResolve">
      <input 
        class="erps-toggles__input" 
        autofocus 
        type="checkbox" 
        id="restoreResolve" 
        name="restoreResolve" 
        {{#if defaultOptions.restoreResolve}}checked{{/if}}>
      <div class="erps-toggles__container">
        <span class="erps-toggles__label">{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.RestoreResolve"}}</span>
        <span class="erps-toggles__track">
          <span class="erps-toggles__thumb"></span>
        </span>
      </div>
    </label>
    
    <label class="erps-toggles erps-toggles--restore-row" for="restorePower">
      <input 
        class="erps-toggles__input" 
        type="checkbox" 
        id="restorePower" 
        name="restorePower" 
        {{#if defaultOptions.restorePower}}checked{{/if}}>
      <div class="erps-toggles__container">
        <span class="erps-toggles__label">{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.RestorePower"}}</span>
        <span class="erps-toggles__track">
          <span class="erps-toggles__thumb"></span>
        </span>
      </div>
    </label>
    
    <hr class="erps-form__divider" />
    
    <div class="erps-form__header">{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.RemoveStatuses"}}</div>
    
    <label class="erps-toggles erps-toggles--restore-row" for="all">
      <input 
        class="erps-toggles__input" 
        type="checkbox" 
        id="all" 
        name="all">
      <div class="erps-toggles__container">
        <span class="erps-toggles__label">{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.All"}}</span>
        <span class="erps-toggles__track">
          <span class="erps-toggles__thumb"></span>
        </span>
      </div>
    </label>
    
    {{#each statusEffects as |status|}}
      <label class="erps-toggles erps-toggles--restore-row" for="{{status.id}}">
        <input 
          class="erps-toggles__input" 
          type="checkbox" 
          id="{{status.id}}" 
          name="{{status.id}}">
        <div class="erps-toggles__container">
          <span class="erps-toggles__label">{{status.name}}</span>
          <span class="erps-toggles__track">
            <span class="erps-toggles__thumb"></span>
          </span>
        </div>
      </label>
    {{/each}}
  </div>
  
  {{> macro-footer}}
</div>
