<div class="{{cssClass}}" autocomplete="off">
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" placeholder="Name">
  </div>
  <div class="form-group">
    <label for="description">Description:</label>
    <textarea id="description" name="description" placeholder="Description"></textarea>
  </div>
  <div class="form-group">
    <label for="img">Image:</label>
    <file-picker data-action="imagePick" id="img" name="img" type="image" value="{{ifThen storedData.status_img storedData.status_img "icons/svg/stoned.svg"}}" create="{displayMode: "tiles"}"></file-picker>
  </div>
  <div class="form-group">
    <label for="bgColor">Background Color:</label>
    <input type="color" id="bgColor" name="bgColor" value="{{ifThen storedData.status_bgColor storedData.status_bgColor "#7B4874"}}">
  </div>
  <div class="form-group">
    <label for="textColor">Text Color:</label>
    <input type="color" id="textColor" name="textColor" value="{{ifThen storedData.status_textColor storedData.status_textColor "#ffffff"}}">
  </div>
  <div class=".status-creator status-creator__header">Effects</div>
  {{#each abilities}}
    <div class="form-group">
      <label for="{{this.toLowerCase}}"> {{this}}:</label>
      <input type="number" id="{{this.toLowerCase}}" name="{{this.toLowerCase}}" value="0">
      <select id="{{this.toLowerCase}}-mode" name="{{this.toLowerCase}}-mode">
        <option value="add">Add</option>
        <option value="override">Override</option>
      </select>
    </div>
  {{/each}}
  {{#each hiddenAbilities}}
    <div class="form-group">
      <label for="{{this.toLowerCase}}"> {{this}}:</label>
      <input type="number" id="{{this.toLowerCase}}" name="{{this.toLowerCase}}" value="0">
      <select id="{{this.toLowerCase}}-mode" name="{{this.toLowerCase}}-mode">
        <option value="add">Add</option>
        <option value="override">Override</option>
      </select>
    </div>
  {{/each}}
  <button type="submit">{{ifThen targetArray.length "Create and Apply" "Create"}}</button>
</div>

