{{!-- Transformation Creator Form --}}
<div class="{{cssClass}} erps-form transformation-creator" autocomplete="off">
  {{> callout-box}}
  <div class="erps-form__content">
    <div class="erps-form__group">
      <label class="erps-form__label" for="name">
        {{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Name"}}:
      </label>
      <input 
        class="erps-input" 
        autofocus 
        type="text" 
        id="name" 
        name="name" 
        placeholder="{{localize "EVENTIDE_RP_SYSTEM.Forms.Placeholders.Name"}}">
    </div>

    <div class="erps-form__group">
      <label class="erps-form__label" for="description">
        {{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Description"}}:
      </label>
      <textarea 
        class="erps-textarea" 
        id="description" 
        name="description" 
        placeholder="{{localize "EVENTIDE_RP_SYSTEM.Forms.Placeholders.Description"}}"></textarea>
    </div>

    <div class="erps-form__group">
      <label class="erps-form__label" for="img">
        {{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Image"}}:
      </label>
      <img
        class="erps-image-picker"
        src="{{storedData.transformation_img}}"
        data-edit="img"
        data-action='onEditImage'
        data-target="img"
        title="{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Image"}}"
        name="displayImage"
        id="displayImage"
      />
      <input 
        class="erps-hidden-input" 
        type="hidden" 
        name="img" 
        value="{{ifThen storedData.transformation_img storedData.transformation_img "icons/svg/ice-aura.svg"}}">
    </div>

    <div class="erps-form__header">{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.TransformationAttributes"}}</div>
    <div class="erps-form__group">
      <label class="erps-form__label" for="size">
        {{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Size"}}:
      </label>
      <select class="erps-select" id="size" name="size">
        {{#each sizeOptions as |size|}}
          <option value="{{size.value}}">{{size.label}}</option>
        {{/each}}
      </select>
    </div>

    <div class="erps-form__group">
      <label class="erps-form__label" for="resolveAdjustment">
        {{localize "EVENTIDE_RP_SYSTEM.Item.Transformation.ResolveAdjustment"}}:
      </label>
      <div class="erps-number-input">
        <button type="button" class="erps-number-input__button erps-number-input__button--decrement" data-action="decrement">−</button>
        <input 
          class="erps-number-input__input"
          type="number" 
          id="resolveAdjustment" 
          name="resolveAdjustment" 
          data-dtype="Number"
          value="{{ifThen storedData.transformation_resolveAdjustment storedData.transformation_resolveAdjustment "0"}}">
        <button type="button" class="erps-number-input__button erps-number-input__button--increment" data-action="increment">+</button>
      </div>
    </div>

    <div class="erps-form__group">
      <label class="erps-form__label" for="powerAdjustment">
        {{localize "EVENTIDE_RP_SYSTEM.Item.Transformation.PowerAdjustment"}}:
      </label>
      <div class="erps-number-input">
        <button type="button" class="erps-number-input__button erps-number-input__button--decrement" data-action="decrement">−</button>
        <input 
          class="erps-number-input__input"
          type="number" 
          id="powerAdjustment" 
          name="powerAdjustment" 
          data-dtype="Number"
          value="{{ifThen storedData.transformation_powerAdjustment storedData.transformation_powerAdjustment "0"}}">
        <button type="button" class="erps-number-input__button erps-number-input__button--increment" data-action="increment">+</button>
      </div>
    </div>

    {{#if isGM}}
      <div class="erps-form__group erps-form__group--toggle">
        <label class="erps-form__label" for="cursed">
          {{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Cursed"}}
        </label>
        <div class="erps-toggles">
          <input 
            class="erps-toggles__input" 
            type="checkbox" 
            id="cursed" 
            name="cursed" 
            {{#if storedData.transformation_cursed}}checked{{/if}}>
          <label class="erps-toggles__label" for="cursed"></label>
        </div>
      </div>
    {{/if}}

    <div class="erps-form__section">
      <div class="erps-form__header">{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.CombatPowers"}}</div>
      <div class="erps-items-panel">
        {{#if embeddedCombatPowers.length}}
          <ol class="erps-items-panel__list erps-items-panel__list--three-column">
            <li class="erps-items-panel__item erps-items-panel__item--header">
              <div class="erps-items-panel__cell erps-items-panel__cell--image">{{localize 'Image'}}</div>
              <div class='erps-items-panel__cell erps-items-panel__cell--name'>{{localize 'Name'}}</div>
              <div class='erps-items-panel__cell erps-items-panel__cell--controls'>{{localize 'Controls'}}</div>
            </li>
            {{#each embeddedCombatPowers}}
              <li
                class="erps-items-panel__item"
                data-item-id="{{this.id}}"
                data-drag="true"
                data-document-class="Item"
              >
                <div class="erps-items-panel__cell erps-items-panel__cell--image">
                  <img
                    class="erps-items-panel__image"
                    src="{{this.img}}"
                    title="{{this.name}}"
                    width="24"
                    height="24"
                  />
                </div>
                <div class="erps-items-panel__cell erps-items-panel__cell--name">
                  <span class="erps-items-panel__name">{{this.name}}</span>
                </div>
                <div class="erps-items-panel__cell erps-items-panel__cell--controls">
                  <a 
                    class="erps-items-panel__control erps-items-panel__control--view" 
                    data-action="viewCombatPower" 
                    data-power-id="{{this.id}}" 
                    title="{{localize 'EVENTIDE_RP_SYSTEM.UI.View'}}"
                  >
                    <i class="fas fa-eye"></i>
                  </a>
                  <a 
                    class="erps-items-panel__control erps-items-panel__control--delete" 
                    data-action="removeCombatPower" 
                    data-power-id="{{this.id}}" 
                    title="{{localize 'EVENTIDE_RP_SYSTEM.UI.Remove'}}"
                  >
                    <i class="fas fa-trash"></i>
                  </a>
                </div>
              </li>
            {{/each}}
          </ol>
        {{else}}
          <div class="erps-items-panel__empty">{{localize "EVENTIDE_RP_SYSTEM.Item.Transformation.NoPowers"}}</div>
        {{/if}}

        <div class="erps-items-panel__drop-zone" data-drop-zone="combatPower">
          <p>{{localize "EVENTIDE_RP_SYSTEM.Item.Transformation.DropPowerHere"}}</p>
        </div>

        <div class="erps-items-panel__notes">{{localize "EVENTIDE_RP_SYSTEM.Item.Transformation.Notes"}}</div>
      </div>
    </div>

    <div class="erps-form__section">
      <div class="erps-form__header">{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.ActionCards"}}</div>
      <div class="erps-items-panel">
        {{#if embeddedActionCards.length}}
          <ol class="erps-items-panel__list erps-items-panel__list--three-column">
            <li class="erps-items-panel__item erps-items-panel__item--header">
              <div class="erps-items-panel__cell erps-items-panel__cell--image">{{localize 'Image'}}</div>
              <div class='erps-items-panel__cell erps-items-panel__cell--name'>{{localize 'Name'}}</div>
              <div class='erps-items-panel__cell erps-items-panel__cell--controls'>{{localize 'Controls'}}</div>
            </li>
            {{#each embeddedActionCards}}
              <li
                class="erps-items-panel__item"
                data-item-id="{{this.id}}"
                data-drag="true"
                data-document-class="Item"
              >
                <div class="erps-items-panel__cell erps-items-panel__cell--image">
                  <img
                    class="erps-items-panel__image"
                    src="{{this.img}}"
                    title="{{this.name}}"
                    width="24"
                    height="24"
                  />
                </div>
                <div class="erps-items-panel__cell erps-items-panel__cell--name">
                  <span class="erps-items-panel__name">{{this.name}}</span>
                </div>
                <div class="erps-items-panel__cell erps-items-panel__cell--controls">
                  <a
                    class="erps-items-panel__control erps-items-panel__control--view"
                    data-action="viewActionCard"
                    data-action-card-id="{{this.id}}"
                    title="{{localize 'EVENTIDE_RP_SYSTEM.UI.View'}}"
                  >
                    <i class="fas fa-eye"></i>
                  </a>
                  <a
                    class="erps-items-panel__control erps-items-panel__control--delete"
                    data-action="removeActionCard"
                    data-action-card-id="{{this.id}}"
                    title="{{localize 'EVENTIDE_RP_SYSTEM.UI.Remove'}}"
                  >
                    <i class="fas fa-trash"></i>
                  </a>
                </div>
              </li>
            {{/each}}
          </ol>
        {{else}}
          <div class="erps-items-panel__empty">{{localize "EVENTIDE_RP_SYSTEM.Item.Transformation.NoActionCards"}}</div>
        {{/if}}

        <div class="erps-items-panel__drop-zone" data-drop-zone="actionCard">
          <p>{{localize "EVENTIDE_RP_SYSTEM.Item.Transformation.DropActionCardHere"}}</p>
        </div>

        <div class="erps-items-panel__notes">{{localize "EVENTIDE_RP_SYSTEM.Item.Transformation.ActionCardNotes"}}</div>
      </div>
    </div>

    <div class="erps-form__header">{{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Effects"}}}</div>
    {{> character-effects}}
  </div>

  {{> macro-footer}}
</div>