{{! Action Cards Tab with Grouping Support }}
<section class='tab action-cards {{tab.cssClass}}' data-group='primary' data-tab='actionCards'>
  {{#if (and isTransformed hasTransformationActionCards)}}
    <div class="erps-transformation-indicator">
      <i class="fas fa-mask"></i>
      <span>{{localize "EVENTIDE_RP_SYSTEM.Actor.ActionCards.TransformationActionCards"}}</span>
    </div>
  {{/if}}

  {{! Determine which action cards to display (base or transformation) }}
  {{#if (gt transformationActionCards.length 0)}}
    {{! TRANSFORMATION ACTION CARDS WITH GROUPS }}

    {{! Ungrouped Transformation Action Cards }}
    {{#if (gt ungroupedTransformationActionCards.length 0)}}
      <div class="erps-action-card-ungrouped">
        <div class="erps-action-card-ungrouped__header">
          <span class="erps-action-card-ungrouped__title">{{localize "EVENTIDE_RP_SYSTEM.Actor.ActionCards.Ungrouped"}}</span>
          <span class="erps-action-card-ungrouped__count">({{ungroupedTransformationActionCards.length}})</span>
        </div>
        <div class="erps-action-card-ungrouped__content">
          <table class='erps-data-table erps-data-table--action-cards'>
            <thead class="erps-data-table__header">
              <tr class="erps-data-table__header-row">
                <th class="erps-data-table__header-cell erps-data-table__header-cell--name">
                  {{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Name"}}
                </th>
                <th class="erps-data-table__header-cell erps-data-table__header-cell--center">
                  {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.EmbeddedItem"}}
                </th>
                <th class="erps-data-table__header-cell erps-data-table__header-cell--center">
                  {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.Mode"}}
                </th>
                <th class="erps-data-table__header-cell erps-data-table__header-cell--controls">
                  <div class="erps-data-table__transformation-notice" title="{{localize 'EVENTIDE_RP_SYSTEM.Actor.ActionCards.TransformedLocked'}}">
                    <span>{{localize "EVENTIDE_RP_SYSTEM.Actor.ActionCards.Transformed"}}</span>
                    <i class="fas fa-lock"></i>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody class="erps-data-table__body">
              {{#each ungroupedTransformationActionCards as |item|}}
                {{> actor/partials/action-card-row item=item isTransformation=true}}
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    {{/if}}

    {{! Grouped Transformation Action Cards }}
    {{#each groupedTransformationActionCards as |group|}}
      <div class="erps-action-card-group {{#if group.collapsed}}erps-action-card-group--collapsed{{/if}}" data-group-id="{{group._id}}">
        <div class="erps-action-card-group__header" data-action="toggleGroupCollapse" data-group-id="{{group._id}}">
          <div class="erps-action-card-group__drag-handle" title="{{localize 'EVENTIDE_RP_SYSTEM.Actor.ActionCards.DragToReorder'}}">
            <i class="fas fa-grip-vertical"></i>
          </div>
          <div class="erps-action-card-group__collapse-toggle">
            <i class="fas fa-chevron-right"></i>
          </div>
          <span class="erps-action-card-group__name">{{group.name}}</span>
          <span class="erps-action-card-group__count">({{group.cards.length}})</span>
          <div class="erps-data-table__control-button erps-data-table__control-button--disabled erps-data-table__control-button--locked" title="{{localize 'EVENTIDE_RP_SYSTEM.Actor.ActionCards.TransformedLocked'}}">
            <i class="fas fa-lock"></i>
          </div>
        </div>
        <div class="erps-action-card-group__content">
          <table class='erps-data-table erps-data-table--action-cards'>
            <thead class="erps-data-table__header">
              <tr class="erps-data-table__header-row">
                <th class="erps-data-table__header-cell erps-data-table__header-cell--name">
                  {{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Name"}}
                </th>
                <th class="erps-data-table__header-cell erps-data-table__header-cell--center">
                  {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.EmbeddedItem"}}
                </th>
                <th class="erps-data-table__header-cell erps-data-table__header-cell--center">
                  {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.Mode"}}
                </th>
                <th class="erps-data-table__header-cell erps-data-table__header-cell--controls">
                  <div class="erps-data-table__transformation-notice" title="{{localize 'EVENTIDE_RP_SYSTEM.Actor.ActionCards.TransformedLocked'}}">
                    <span>{{localize "EVENTIDE_RP_SYSTEM.Actor.ActionCards.Transformed"}}</span>
                    <i class="fas fa-lock"></i>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody class="erps-data-table__body">
              {{#each group.cards as |item|}}
                {{> actor/partials/action-card-row item=item isTransformation=true}}
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    {{/each}}

    {{! Empty state for transformation cards }}
    {{#if (and (eq ungroupedTransformationActionCards.length 0) (eq groupedTransformationActionCards.length 0))}}
      <div class="erps-data-table__empty-message">
        <i class="fas fa-bolt"></i>
        <span>{{localize "EVENTIDE_RP_SYSTEM.Actor.Inventory.NoActionCards"}}</span>
      </div>
    {{/if}}
  {{else}}
    {{! BASE ACTION CARDS WITH GROUPS }}

    {{! Ungrouped Base Action Cards - Always Show }}
    <div class="erps-action-card-ungrouped" data-ungrouped-zone="true">
        <div class="erps-action-card-ungrouped__header">
          <span class="erps-action-card-ungrouped__title">{{localize "EVENTIDE_RP_SYSTEM.Actor.ActionCards.Ungrouped"}}</span>
          <span class="erps-action-card-ungrouped__count">({{ungroupedActionCards.length}})</span>
        </div>
        <div class="erps-action-card-ungrouped__content">
          <table class='erps-data-table erps-data-table--action-cards'>
            <thead class="erps-data-table__header">
              <tr class="erps-data-table__header-row">
                <th class="erps-data-table__header-cell erps-data-table__header-cell--name">
                  {{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Name"}}
                </th>
                <th class="erps-data-table__header-cell erps-data-table__header-cell--center">
                  {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.EmbeddedItem"}}
                </th>
                <th class="erps-data-table__header-cell erps-data-table__header-cell--center">
                  {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.Mode"}}
                </th>
                <th class="erps-data-table__header-cell erps-data-table__header-cell--controls">
                  {{#if @root.editable}}
                    <a
                      class="erps-data-table__create-button"
                      title="{{localize 'DOCUMENT.Create' type='Item'}}"
                      data-action="createDoc"
                      data-document-class="Item"
                      data-type="actionCard"
                    >
                      <i class="fas fa-plus"></i>
                      {{localize "DOCUMENT.New" type="item"}}
                    </a>
                  {{/if}}
                </th>
              </tr>
            </thead>
            <tbody class="erps-data-table__body">
              {{#each ungroupedActionCards as |item|}}
                {{> actor/partials/action-card-row item=item isTransformation=false}}
              {{/each}}
            </tbody>
          </table>
        </div>
    </div>

    {{! Grouped Base Action Cards }}
    {{#each groupedActionCards as |group|}}
      <div class="erps-action-card-group {{#if group.collapsed}}erps-action-card-group--collapsed{{/if}}" data-group-id="{{group.id}}">
        <div class="erps-action-card-group__header">
          <div class="erps-action-card-group__drag-handle" data-drag="true" data-document-class="Group" data-group-id="{{group._id}}" title="{{localize 'EVENTIDE_RP_SYSTEM.Actor.ActionCards.DragToReorder'}}">
            <i class="fas fa-grip-vertical"></i>
          </div>
          <a class="erps-action-card-group__collapse-toggle" data-action="toggleGroupCollapse" data-group-id="{{group._id}}">
            <i class="fas fa-chevron-right"></i>
          </a>
          <input
            type="text"
            class="erps-action-card-group__name"
            value="{{group.name}}"
            data-group-id="{{group.id}}"
            placeholder="{{localize 'EVENTIDE_RP_SYSTEM.Actor.ActionCards.GroupNamePlaceholder'}}"
            {{#unless @root.editable}}disabled{{/unless}}
          />
          <span class="erps-action-card-group__count">({{group.cards.length}})</span>
          {{#if @root.editable}}
            <a class="erps-action-card-group__delete-button" data-action="deleteGroup" data-group-id="{{group.id}}" title="{{localize 'EVENTIDE_RP_SYSTEM.Actor.ActionCards.DeleteGroup'}}">
              <i class="fas fa-trash"></i>
            </a>
          {{/if}}
        </div>
        <div class="erps-action-card-group__content">
          <table class='erps-data-table erps-data-table--action-cards'>
            <thead class="erps-data-table__header">
              <tr class="erps-data-table__header-row">
                <th class="erps-data-table__header-cell erps-data-table__header-cell--name">
                  {{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Name"}}
                </th>
                <th class="erps-data-table__header-cell erps-data-table__header-cell--center">
                  {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.EmbeddedItem"}}
                </th>
                <th class="erps-data-table__header-cell erps-data-table__header-cell--center">
                  {{localize "EVENTIDE_RP_SYSTEM.Item.ActionCard.Mode"}}
                </th>
                <th class="erps-data-table__header-cell erps-data-table__header-cell--controls">
                  Controls
                </th>
              </tr>
            </thead>
            <tbody class="erps-data-table__body">
              {{#each group.cards as |item|}}
                {{> actor/partials/action-card-row item=item isTransformation=false}}
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    {{/each}}

    {{! Empty state for base cards }}
    {{#if (and (eq ungroupedActionCards.length 0) (eq groupedActionCards.length 0))}}
      <div class="erps-data-table__empty-message">
        <i class="fas fa-bolt"></i>
        <span>{{localize "EVENTIDE_RP_SYSTEM.Actor.Inventory.NoActionCards"}}</span>
      </div>
    {{/if}}

    {{! Drop zone for creating action cards from items }}
    {{#if @root.editable}}
      <div class="erps-items-panel__drop-zone erps-items-panel__drop-zone--action-cards" data-drop-zone="actionCard">
        <div class="erps-items-panel__drop-zone-content">
          <i class="fas fa-bolt"></i>
          <p>{{localize "EVENTIDE_RP_SYSTEM.Actor.ActionCards.DropItemHere"}}</p>
          <small>{{localize "EVENTIDE_RP_SYSTEM.Actor.ActionCards.DropHelpText"}}</small>
        </div>
      </div>
    {{/if}}
  {{/if}}
</section>
