{{! Secondary stats row }}
  <div class='resources grid grid-4col'>
    <div class='erps-stat-box erps-stat-box--neutral'>
      <header class='erps-stat-box__upper'>
        <h4 class='erps-stat-box__label'>{{localize "EVENTIDE_RP_SYSTEM.UI.DicePool"}}</h4>
      </header>
      <div class='erps-stat-box__lower' aria-label="{{localize 'EVENTIDE_RP_SYSTEM.AriaLabels.DicePoolValue'}}">
        <span class="erps-stat-box__value" title="{{localize 'EVENTIDE_RP_SYSTEM.UI.AvailableDice'}}">
          {{system.hiddenAbilities.dice.total}}
        </span>
      </div>
    </div>

    <div class='erps-stat-box erps-stat-box--neutral'>
      <header class='erps-stat-box__upper'>
        <h4 class='erps-stat-box__label'>{{localize "EVENTIDE_RP_SYSTEM.UI.FailRange"}}</h4>
      </header>
      <div class='erps-stat-box__lower' aria-label="{{localize 'EVENTIDE_RP_SYSTEM.AriaLabels.FailRangeValue'}}">
        <span class="erps-stat-box__value" title="{{localize 'EVENTIDE_RP_SYSTEM.UI.FailMinimum'}}">
          {{system.hiddenAbilities.fmin.total}}
        </span>
        <span class="erps-stat-box__separator">-</span>
        <span class="erps-stat-box__value" title="{{localize 'EVENTIDE_RP_SYSTEM.UI.FailMaximum'}}">
          {{system.hiddenAbilities.fmax.total}}
        </span>
      </div>
    </div>

    <div class='erps-stat-box erps-stat-box--neutral'>
      <header class='erps-stat-box__upper'>
        <h4 class='erps-stat-box__label'>{{localize "EVENTIDE_RP_SYSTEM.UI.CritRange"}}</h4>
      </header>
      <div class='erps-stat-box__lower' aria-label="{{localize 'EVENTIDE_RP_SYSTEM.AriaLabels.CriticalRangeValue'}}">
        <span class="erps-stat-box__value" title="{{localize 'EVENTIDE_RP_SYSTEM.UI.CriticalMinimum'}}">
          {{system.hiddenAbilities.cmin.total}}
        </span>
        <span class="erps-stat-box__separator">-</span>
        <span class="erps-stat-box__value" title="{{localize 'EVENTIDE_RP_SYSTEM.UI.CriticalMaximum'}}">
          {{system.hiddenAbilities.cmax.total}}
        </span>
      </div>
    </div>

    <div class='erps-stat-box {{statTotalColorClass}}'>
      <header class='erps-stat-box__upper'>
        <h4 class='erps-stat-box__label'>{{localize "EVENTIDE_RP_SYSTEM.UI.StatTotal"}}</h4>
      </header>
      <div class='erps-stat-box__lower' aria-label="{{localize 'EVENTIDE_RP_SYSTEM.AriaLabels.TotalStatPointsValue'}}">
        <span class="erps-stat-box__value" title="{{localize 'EVENTIDE_RP_SYSTEM.UI.TotalStatPoints'}}">
          {{system.statTotal.baseValue}}
        </span>
      </div>
    </div>
  </div>
