<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns.  --}}
      <div class="resources grid grid-3col">

        {{!-- "flex-group-center" is also defined in the _grid.scss file
        and it will add a small amount of padding, a border, and will
        center all of its child elements content and text. --}}
        <div class="resource flex-group-center">
          <label for="system.resolve.value" class="resource-label">Resolve</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.resolve.value" value="{{system.resolve.value}}" data-dtype="Number"/>
          <span> / </span>
          <input type="text" name="system.resolve.max" value="{{system.resolve.max}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.power.value" class="resource-label">Power</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.power.value" value="{{system.power.value}}" data-dtype="Number"/>
          <span> / </span>
          <input type="text" name="system.power.max" value="{{system.power.max}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.attributes.level.value" class="resource-label">Level</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.attributes.level.value" value="{{system.attributes.level.value}}" data-dtype="Number"/>
          </div>
        </div>

      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="features">Features</a>
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="statuses">Statuses</a>
    <a class="item" data-tab="items">Items</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Features Tab --}}
    <div class="tab features" data-group="primary" data-tab="features">
      <section class="grid grid-3col">
        <aside class="sidebar">
          <div class="abilities grid-2col">

            {{#each system.abilities as |ability key|}}
            <section class="eventide-ability-{{key}}-box eventide-ability-row">
            <div class="ability gridrow">
              <div class="ability-info flex-group-center">
                <label for="system.abilities.{{key}}.value" class="resource-label rollable flexlarge align-left" data-type="{{key}}" data-roll="d@hiddenAbilities.dice.total+@abilities.{{key}}.total" data-label="{{localize (lookup @root.config.abilities key)}}">
                  {{localize (lookup @root.config.abilities key)}}
                </label>
                <input type="text" name="system.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number"/>
              </div>
            </div>
            <div class="ability gridrow">
              <div class="ability-stats flex-group-center">
                <div class="ability-total rollable" data-type="{{key}}" data-roll="d@hiddenAbilities.dice.total+@abilities.{{key}}.total" data-label="{{localize (lookup @root.config.abilities key)}}">
                  {{numberFormat ability.total decimals=0 sign=true}}
                </div>
                {{#if ability.override}}
                <div class="ability-override flex-group-center">
                  <i class="fa-solid fa-road-barrier" style="color: red"></i>
                </div>
                {{else}}
                <div class="ability-override flex-group-center"><i class="fa-solid fa-road" style="color: green"></i></div>
                {{/if}}
              </div>
            </div>
            </section>
            {{/each}}
          </div>
        </aside>

        {{!-- For the main features list, span the right two columns --}}
        <section class="main grid-span-2">
          {{!-- This is a Handlebars partial. They're stored in the `/parts` folder next to this sheet, and defined in module/helpers/templates.mjs --}}
          {{> "systems/eventide-rp-system/templates/actor/parts/actor-features.hbs"}}
        </section>

      </section>
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- Editors must receive enriched text data from getData to properly handle rolls --}}
      {{editor enrichedBiography target="system.biography" engine="prosemirror" button=true editable=editable}}
    </div>

    {{!-- Statuses Tab --}}
    <div class="tab statuses" data-group="primary" data-tab="statuses">
      {{> "systems/eventide-rp-system/templates/actor/parts/actor-statuses.hbs"}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
       {{> "systems/eventide-rp-system/templates/actor/parts/actor-items.hbs"}}
    </div>

  </section>
</form>


