{{! Effects Tab }}
<section
  class='tab effects flexcol {{tab.cssClass}}'
  data-group='primary'
  data-tab='effects'
>
  {{#each effects as |section sid|}}
    <div class="eventide-sheet-data-section__header">
      <h3 class="eventide-sheet-data-section__title">{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Effects"}}</h3>
    </div>

    <table class='erps-data-table erps-data-table--effects'>
      <thead class='erps-data-table__header'>
        <tr class='erps-data-table__header-row'>
          <th class='erps-data-table__header-cell erps-data-table__header-cell--name'>{{localize 'EVENTIDE_RP_SYSTEM.Forms.Sections.Name'}}</th>
          <th class='erps-data-table__header-cell erps-data-table__header-cell--center'>{{localize 'EVENTIDE_RP_SYSTEM.Effect.Source'}}</th>
          <th class='erps-data-table__header-cell erps-data-table__header-cell--center'>{{localize 'EFFECT.TabDuration'}}</th>
          <th class='erps-data-table__header-cell erps-data-table__header-cell--controls'>
            <a
              class='erps-data-table__create-button'
              data-action='createDoc'
              data-document-class='ActiveEffect'
              data-origin="{{@root.actor.uuid}}"
              data-img="icons/svg/aura.svg"
              {{#if (eq section.type "inactive")}}
                data-disabled="true"
              {{else if (eq section.type "temporary")}}
                data-duration.rounds="1"
              {{/if}}
              title='{{localize "DOCUMENT.Create" type='Effect'}}'
              onclick='event.stopPropagation();'
            >
              <i class='fas fa-plus'></i>
              {{localize 'DOCUMENT.New' type='Effect'}}
            </a>
          </th>
        </tr>
      </thead>
      <tbody class='erps-data-table__body'>
        {{#each section.effects as |effect|}}
          <tr
            class='erps-data-table__row{{#if effect.disabled}} erps-data-table__row--disabled{{/if}}'
            data-effect-id='{{effect.id}}'
            data-parent-id='{{effect.parent.id}}'
            data-document-class='ActiveEffect'
            data-drag="true"
          >
            <td class='erps-data-table__cell erps-data-table__cell--name'>
              <div class='erps-data-table__name-content'>
                <img src='{{effect.img}}' height="24" width="24"/>
                <span>{{effect.name}}</span>
              </div>
            </td>
            <td class='erps-data-table__cell erps-data-table__cell--center'>{{effect.sourceName}}</td>
            <td class='erps-data-table__cell erps-data-table__cell--center'>{{effect.duration.label}}</td>
            <td class='erps-data-table__cell erps-data-table__cell--controls'>
              <div class='erps-data-table__controls'>
                {{#if @root.editable}}
                  <a
                    class='erps-data-table__control-button erps-data-table__control-button--equip{{#if effect.disabled}} erps-data-table__control-button--disabled{{/if}}'
                    data-action='toggleEffect'
                    data-effect-id='{{effect.id}}'
                    data-parent-id='{{effect.parent.id}}'
                    title='{{localize "EVENTIDE_RP_SYSTEM.Effect.Toggle"}}'
                    onclick='event.stopPropagation();'
                  >
                    <i class='fas {{#if effect.disabled}}fa-check{{else}}fa-times{{/if}}'></i>
                  </a>
                {{/if}}
                <a
                  class='erps-data-table__control-button erps-data-table__control-button--edit'
                  data-action='viewDoc'
                  data-effect-id='{{effect.id}}'
                  data-parent-id='{{effect.parent.id}}'
                  title='{{localize "DOCUMENT.Update" type='Effect'}}'
                  onclick='event.stopPropagation();'
                >
                  <i class='fas fa-edit'></i>
                </a>
                {{#if @root.editable}}
                  <a
                    class='erps-data-table__control-button erps-data-table__control-button--delete'
                    data-action='deleteDoc'
                    data-effect-id='{{effect.id}}'
                    data-parent-id='{{effect.parent.id}}'
                    title='{{localize "DOCUMENT.Delete" type='Effect'}}'
                    onclick='event.stopPropagation();'
                  >
                    <i class='fas fa-trash'></i>
                  </a>
                {{/if}}
              </div>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/each}}
</section>
