{{! Features Tab }}
<section
  class='tab features {{tab.cssClass}}'
  data-group='primary'
  data-tab='features'
>
  <section class='grid grid-5col'>
    <aside class='sidebar'>
      {{! The grid classes are defined in scss/global/_grid.scss. To use,
          use both the "grid" and "grid-Ncol" class where "N" can be any number
          from 1 to 12 and will create that number of columns.  }}
      <div class='abilities flexcol'>
        {{#each system.abilities as |ability key|}}
          <section class="eventide-ability-{{key}}-box eventide-ability-row">
            <div class="ability gridrow">
              <div class='ability flexrow flex-group-center'>
                <label
                  class='resource-label rollable flexlarge align-center'
                  data-action='roll'
                  data-type="{{key}}"
                  data-roll='{{lookup ../formulas key}}'
                  data-label='{{localize (lookup @root.config.abilities key)}}'
                >{{localize (lookup @root.config.abilities key)}}</label>
              </div>
              <div class='ability flexrow flex-group-center'>
                <input
                  type='text'
                  name='system.abilities.{{key}}.value'
                  value='{{ability.value}}'
                  class="ability-score align-center"
                  data-dtype='Number'
                />
              </div>
              <div class='ability gridrow'>
                <div
                  class='ability-total rollable align-center'
                  data-action='roll'
                  data-type="{{key}}"
                  data-roll='{{lookup ../formulas key}}'
                  data-label='{{localize (lookup @root.config.abilities key)}}'
                >Total: {{numberFormat ability.total decimals=0 sign=true}}</div>
                <div class="ability-override">
                {{#if ability.override}}
                  <i class="fas fa-lock" style="color: red"></i>
                  <span style="color: white"> Capped</span>
                {{else}}
                  <i class="fas fa-unlock-alt" style="color: #4CAF50"></i>
                  <span style="color: white"> Uncapped</span>
                {{/if}}
                </div>
              </div>
            </div>
          </section>
        {{/each}}
      </div>
    </aside>

    {{! For the main features list, span the right two columns }}
    <section class='main grid-span-4'>
      <ol class='items-list'>
        <li class='item flexrow items-header'>
          <div class='item-name'>{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Name"}}</div>
          <div class='item-controls'>
            {{#if @root.editable}}
              <a
                class='item-control item-create'
                title='Create item'
                data-action='createDoc'
                data-document-class='Item'
                data-type='feature'
              >
                <i class='fas fa-plus'></i>
                {{localize 'DOCUMENT.New' type='feature'}}
              </a>
            {{/if}}
          </div>
        </li>
        {{#each features as |item id|}}
          <li
            class='item flexrow'
            data-item-id='{{item._id}}'
            data-drag='true'
            data-document-class='Item'
          >
            <div class='item-name'>
              <div class='item-image'>
                <a class='rollable' data-roll-type='item' data-action='roll'>
                  <img
                    src='{{item.img}}'
                    title='{{item.name}}'
                    width='24'
                    height='24'
                  />
                </a>
              </div>
              <div>{{item.name}}</div>
            </div>
            <div class='item-controls'>
              <a
                class='item-control item-edit'
                title='{{localize "DOCUMENT.Update" type='feature'}}'
                data-action='viewDoc'
              >
                <i class='fas fa-edit'></i>
              </a>
              {{#if @root.editable}}
                <a
                  class='item-control item-delete'
                  title='{{localize "DOCUMENT.Delete" type='feature'}}'
                  data-action='deleteDoc'
                >
                  <i class='fas fa-trash'></i>
                </a>
              {{/if}}
            </div>
          </li>
        {{/each}}
      </ol>
    </section>
  </section>
</section>