{{! Sheet Header }}
<header class='sheet-header sheet-header--actor'>
  <img
    class='profile-img'
    src='{{actor.img}}'
    data-edit='img'
    data-action='onEditImage'
    title='{{actor.name}}'
    height='100'
    width='100'
  />
  <div class='header-fields'>
    <div class='document-name flexrow'>
      <input
        name='name'
        type='text'
        value='{{actor.name}}'
        placeholder='{{localize "EVENTIDE_RP_SYSTEM.Forms.Placeholders.Name"}}'
      />
      {{#if actor.flags.eventide-rp-system.activeTransformation}}
        <div class="transformation-header">
          <label class="transformation-header__label">{{localize 'EVENTIDE_RP_SYSTEM.Actor.Attributes.Transformation.label'}}:</label>
          <div class="transformation-header__details">
            <span class="transformation-header__name">{{actor.flags.eventide-rp-system.activeTransformationName}}</span>
            {{#if editable}}
              <a class="transformation-header__dismiss" data-action="removeTransformation" title="{{localize 'EVENTIDE_RP_SYSTEM.Actor.Attributes.Transformation.Remove'}}">
                <i class="fas fa-undo"></i>
              </a>
            {{/if}}
          </div>
        </div>
      {{/if}}
    </div>
    
    {{! The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns.  }}
    <div class='resources grid grid-3col'>

      {{! "flex-group-center" is also defined in the _grid.scss file
        and it will add a small amount of padding, a border, and will
        center all of its child elements content and text. }}
      <div class='resource flex-group-center'>
        <label for='system.resolve.value' class='resource-label'>
          {{localize 'EVENTIDE_RP_SYSTEM.Actor.Attributes.Resolve.Value.label'}}
        </label>
        <div class='resource-content flexrow flex-center flex-between'>
          <input
            type='text'
            name='system.resolve.value'
            value='{{system.resolve.value}}'
            data-dtype='Number'
          />
          <span> / </span>
          <input
            type='text'
            name='system.resolve.max'
            value='{{system.resolve.max}}'
            data-dtype='Number'
          />
        </div>
      </div>

      <div class='resource flex-group-center'>
        <label for='system.power.value' class='resource-label'>
          {{localize 'EVENTIDE_RP_SYSTEM.Actor.Attributes.Power.Value.label'}}
        </label>
        <div class='resource-content flexrow flex-center flex-between'>
          <input
            type='text'
            name='system.power.value'
            value='{{system.power.value}}'
            data-dtype='Number'
          />
          <span> / </span>
          <input
            type='text'
            name='system.power.max'
            value='{{system.power.max}}'
            data-dtype='Number'
          />
        </div>
      </div>

      <div class='resource flex-group-center'>
        {{#if (eq actor.type 'character')}}
          <label class='resource-label'>
            {{localize 'EVENTIDE_RP_SYSTEM.Actor.Attributes.Level.label'}}
          </label>
          <div class='resource-content flexrow flex-center flex-between'>
            <input
              type='text'
              name='system.attributes.level.value'
              value='{{system.attributes.level.value}}'
              data-dtype='Number'
            />
          </div>
        {{/if}}
        {{#if (eq actor.type 'npc')}}
          <label class='resource-label'>
            {{localize 'EVENTIDE_RP_SYSTEM.Actor.Attributes.CR.label'}} / {{localize 'EVENTIDE_RP_SYSTEM.Actor.Attributes.XP.label'}}
          </label>
          <div class='resource-content flexrow flex-center flex-between'>
            <input
              type='text'
              name='system.cr'
              value='{{system.cr}}'
              data-dtype='Number'
            />
            <span></span>
            <input
              type='text'
              disabled='true'
              name='system.xp'
              value='{{system.xp}}'
              data-dtype='Number'
            />
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</header>