{{! Sheet Header }}
<header class='eventide-sheet__header eventide-sheet__header--actor'>
  <div class="grid grid-8col">
    <div class="flexcol grid-span-2">
      <img
        class='eventide-profile-image--actor {{#if actor.flags.eventide-rp-system.activeTransformation}}eventide-profile-image--disabled{{/if}}'
        src='{{actor.img}}'
        {{#unless actor.flags.eventide-rp-system.activeTransformation}}
        data-edit='img'
        data-action='onEditImage'
        {{/unless}}
        title='{{#if actor.flags.eventide-rp-system.activeTransformation}}{{localize "EVENTIDE_RP_SYSTEM.Actor.Errors.ActiveTransformation"}}{{else}}{{actor.name}}{{/if}}'
      />

      <div class="eventide-sheet__toggle-group">
        <label class="erps-toggles erps-toggles--small erps-toggles--label-left"
               title="{{localize "EVENTIDE_RP_SYSTEM.Actor.Controls.AutoTokenUpdate.hint"}}">
          <input type="checkbox"
                 class="erps-toggles__input"
                 name="actor.flags.eventide-rp-system.autoTokenUpdate"
                 id="actor.flags.eventide-rp-system.autoTokenUpdate"
                 {{checked actor.flags.eventide-rp-system.autoTokenUpdate}}
                 data-action="toggleAutoTokenUpdate">
          <div class="erps-toggles__container">
            <span class="erps-toggles__label">{{localize "EVENTIDE_RP_SYSTEM.Actor.Controls.AutoTokenUpdate.label"}}</span>
            <span class="erps-toggles__track">
              <span class="erps-toggles__thumb"></span>
            </span>
          </div>
        </label>
      </div>
    </div>
    <div class='header-fields grid-span-4'>
      <div class='document-name flexrow'>
        <input
          name='name'
          type='text'
          class='eventide-sheet__character-name'
          value='{{actor.name}}'
          placeholder='{{localize "EVENTIDE_RP_SYSTEM.Forms.Placeholders.Name"}}'
        />
      </div>

      {{> actor-primary-resources}}

      {{> actor-secondary-resources}}

      </div>

    {{> actor-abilities}}
  </div>

  {{> actor-status}}
</header>
