{{! Sheet Header }}
<header class='sheet-header sheet-header--actor eventide-actor__header' data-header-theme="{{userSheetTheme}}">
  <div class="grid grid-8col">
    <div class="flexcol grid-span-2">
      <img
        class='eventide-profile-image {{#if actor.flags.eventide-rp-system.activeTransformation}}eventide-profile-image--disabled{{/if}}'
        src='{{actor.img}}'
        {{#unless actor.flags.eventide-rp-system.activeTransformation}}
        data-edit='img'
        data-action='onEditImage'
        {{/unless}}
        title='{{#if actor.flags.eventide-rp-system.activeTransformation}}{{localize "EVENTIDE_RP_SYSTEM.Actor.Errors.ActiveTransformation"}}{{else}}{{actor.name}}{{/if}}'
      />

      <div class="eventide-actor__toggle-group">
        <label class="erps-toggles erps-toggles--small erps-toggles--label-left"
               data-toggle-theme="{{userSheetTheme}}"
               title="{{localize "EVENTIDE_RP_SYSTEM.Actor.Controls.AutoTokenUpdate.hint"}}">
          <input type="checkbox"
                 class="erps-toggles__input"
                 name="actor.flags.eventide-rp-system.autoTokenUpdate"
                 id="actor.flags.eventide-rp-system.autoTokenUpdate"
                 {{#if actor.flags.eventide-rp-system.autoTokenUpdate}}checked{{/if}}
                 data-action="toggleAutoTokenUpdate">
          <div class="erps-toggles__container">
            <span class="erps-toggles__label">{{localize "EVENTIDE_RP_SYSTEM.Actor.Controls.AutoTokenUpdate.label"}}</span>
            <span class="erps-toggles__track">
              <span class="erps-toggles__thumb"></span>
            </span>
          </div>
        </label>
      </div>
    </div>
    <div class='header-fields grid-span-4'>
      <div class='document-name flexrow' data-name-theme="{{userSheetTheme}}">
        <input
          name='name'
          type='text'
          class='eventide-actor__character-name'
          value='{{actor.name}}'
          placeholder='{{localize "EVENTIDE_RP_SYSTEM.Forms.Placeholders.Name"}}'
        />
      </div>

      {{> actor-primary-resources}}

      {{> actor-secondary-resources}}

      </div>

    {{> actor-abilities}}
  </div>

  {{> actor-status}}
</header>
