{{! Statuses Tab }}
<section class='tab statuses {{tab.cssClass}}' data-group='primary' data-tab='statuses'>
  <ol class='items-panel__list items-panel__list--spanning'>
  <li class='items-panel__list-item items-panel__header'>
    <div class='items-panel__name items-panel__header-cell'>{{localize 'EVENTIDE_RP_SYSTEM.Forms.Sections.Name'}}</div>
    <div class='items-panel__controls items-panel__header-cell'>
      {{#if @root.editable }}
        <a
          class='items-panel__list-item item-create'
          title='{{localize "DOCUMENT.Create" type='Item'}}'
          data-action='createDoc'
          data-document-class='Item'
          data-type='status'
        >
          <i class='fas fa-plus'></i>
          {{localize 'DOCUMENT.New' type='Status'}}
        </a>
      {{/if}}
      </div>
    </li>
    {{#each statuses as |item id|}}
      <li
        class='items-panel__list-item items-panel__list-cell'
        data-item-id='{{item._id}}'
        data-drag='true'
        data-document-class='Item'
      >
        <div class='items-panel__name items-panel__list-cell'>
          <div class='items-panel__image'>
            <a class='rollable' data-roll-type='item' data-action='roll'>
              <img
                src='{{item.img}}'
                title='{{item.name}}'
                width='24'
                height='24'
              />
            </a>
          </div>
          <div>{{item.name}}</div>
        </div>
        <div class='items-panel__controls items-panel__list-cell'>
          <a
            class='items-panel__control item-edit'
            title='{{localize "DOCUMENT.Update" type='Status'}}'
            data-action='viewDoc'
          >
            <i class='fas fa-edit'></i>
          </a>
          {{#if @root.editable}}
            <a
              class='item-panel__control item-delete'
              title='{{localize "DOCUMENT.Delete" type='Status'}}'
              data-action='deleteDoc'
            >
              <i class='fas fa-trash'></i>
            </a>
          {{/if}}
        </div>
      </li>
    {{/each}}
  </ol>

</section>