{{!-- AC Check Results --}}
{{#if acCheck}}
  <div class="chat-card__effects chat-card__effects--ac-check">
    <div class="chat-card__effects--title">{{localize "EVENTIDE_RP_SYSTEM.Messages.Sections.ACCheck"}}</div>
    {{#each targetRollData as |target|}}
      <div class="chat-card__effects--name">
        <span>{{this.name}}:</span>
        <div>
          {{#each this.abilities as |ability key|}}
            {{#if (gte target.compare ability.ac)}}
              <span class="chat-card__effects--hit">{{ability.abbr}}</span>
            {{else}}
              <span class="chat-card__effects--miss">{{ability.abbr}}</span>
            {{/if}}
          {{/each}}
        </div>
      </div>
    {{/each}}
  </div>
{{/if}}