{{!-- Header always shows with item styling --}}
<div class="chat-card">
  <div class="chat-card__header" style="{{style}}">
    <div class="chat-card__header--status chat-card__header--image">
      <img src="{{img}}" class="chat-card__image--primary" /> 
      <div>{{name}}</div>
    </div>
    <div class="chat-card__header--subheader">({{localize "EVENTIDE_RP_SYSTEM.Messages.Sections.Cost"}}: {{system.cost}})
    {{#if className}}
      Type: {{className}}
    {{/if}}
    </div>
  </div>
  
  <div class="chat-card__combat-roll">
      {{> roll-info}}
      <div class="chat-card__combat-roll--result">
        <span class="chat-card__value chat-card__value--power">{{roll.total}}</span>
      </div>
    </div>
    {{> card-ac-check}}

  {{#if system.description}}
    <div class="chat-card__description">
      {{#if system.rollActorName}}
        <div class="chat-card__description--header">{{actor.name}}. . . </div> 
      {{/if}}
      {{{system.description}}}
    </div>
  {{/if}}

</div>