<div class="chat-card">
  <div class="chat-card__header chat-card__header--transfer chat-card__header--image">
    <img src="{{item.img}}" class="chat-card__image--primary" /> 
    <div>{{item.name}} : {{localize "EVENTIDE_RP_SYSTEM.Messages.Sections.Transferred"}}</div>
  </div>
  <div class="chat-card__description">
    <div class="chat-card__description--header">{{sourceActor.name}} → {{destActor.name}}</div> 
    {{localize "EVENTIDE_RP_SYSTEM.Messages.Sections.Transferred"}} {{quantity}} {{item.name}}{{#ifCond quantity ">" 1}}s{{/ifCond}}
    {{#if description}}
    <hr class="chat-card__hr">
    <div class="chat-card__description--text">{{description}}</div>
    {{/if}}
  </div>
</div>
