<div class="chat-card">
  <div class="chat-card__header chat-card__header--restore">
    <i class="fa-solid fa-notes-medical"></i> {{localize "EVENTIDE_RP_SYSTEM.Messages.Sections.Restoration"}}
  </div>
  <div class="chat-card__description">
    <div class="chat-card__description--header">{{actor.name}}. . . </div> 
    {{localize "EVENTIDE_RP_SYSTEM.Messages.Sections.Restored"}}
  </div>
  <hr class="chat-card__hr" />
  <div class="chat-card__effects">
    <div class="chat-card__effects--title">{{localize "EVENTIDE_RP_SYSTEM.Messages.Sections.Restored"}}</div>
    {{#if resolve}}
      <div><i class="fa-regular fa-heart-pulse"></i> {{localize "EVENTIDE_RP_SYSTEM.Messages.Sections.Resolve"}}</div>
    {{/if}}
    {{#if power}}
      <div><i class="fa-duotone fa-solid fa-bolt-lightning"></i> {{localize "EVENTIDE_RP_SYSTEM.Messages.Sections.Power"}}</div>
    {{/if}}
    {{#if all}}
      <div><i class="fa-solid fa-globe"></i> {{localize "EVENTIDE_RP_SYSTEM.Messages.Sections.All"}}</div>
    {{else}}
      {{#each statuses}}
        <div><img src="{{this.img}}" class="chat-card__image--secondary" /> {{this.name}}</div>
      {{/each}}
    {{/if}}
  </div>
</div>