<div class="chat-card">
  <div class="chat-card__header {{pickedCardClass}}
    {{#if item.img}}chat-card__header--image{{/if}}"
    {{#if (or bgColor textColor)}} style="{{#if bgColor}}background-color: {{bgColor}};{{/if}}{{#if textColor}} color: {{textColor}};{{/if}}"
    {{/if}}>
    {{#if item.img}}
      <img src="{{item.img}}" class="chat-card__image--primary" alt="{{item.name}}" title="Click to enlarge" />
      <div>{{label}}</div>
    {{else}}
      <i class="{{pickedIcon}}"></i> {{label}}
    {{/if}}
  </div>

  {{> roll-info cardClass="combat-roll" cardType="combat-roll"}}
  {{> card-ac-check}}


  {{#if description}}
    <div class="chat-card__description">
      <div class="chat-card__description--header">{{actor.name}}. . . </div>
      {{{description}}}
    </div>
  {{/if}}
</div>
