<div class="chat-card">
  <div class="chat-card__header {{pickedCardClass}}">
    <i class="{{pickedIcon}}"></i> {{label}}
  </div>
  
  {{> roll-info cardClass="combat-roll" cardType="combat-roll"}}
  {{> card-ac-check}}
  {{#if description}}
    <div class="chat-card__description">
      <div class="chat-card__description--header">{{actor.name}}. . . </div>
      {{{description}}}
    </div>
  {{/if}}
</div>