<div class="chat-card">
  <div class="chat-card__header {{pickedCardClass}}">
    <i class="{{pickedIcon}}"></i> {{label}}
  </div>
  
  <div class="chat-card__combat-roll">
    {{> roll-info}}
    <div class="chat-card__combat-roll--result">
      <span class="chat-card__value chat-card__value--{{pickedType}}">{{roll.total}}</span>
    </div>
  </div>
  {{> card-ac-check}}
  {{#if description}}
    <div class="chat-card__description">
      <div class="chat-card__description--header">{{actor.name}}. . . </div>
      {{{description}}}
    </div>
  {{/if}}
</div>