<div class="chat-card{{#ifCond resolveSection "&&" powerSection}} chat-card--multi-roll{{/ifCond}}">
  <div class="chat-card__header {{pickedCardClass}}
    {{#if item.img}}chat-card__header--image{{/if}}"
    {{#if (or bgColor textColor)}} style="{{#if bgColor}}background-color: {{bgColor}};{{/if}}{{#if textColor}} color: {{textColor}};{{/if}}"
    {{/if}}>
    {{#if item.img}}
      <img src="{{item.img}}" class="chat-card__image--primary" alt="{{item.name}}" title="Click to enlarge" />
      <div>{{label}}</div>
    {{else}}
      <i class="{{pickedIcon}}"></i> {{label}}
    {{/if}}
  </div>

  {{#if resolveSection}}
    {{> roll-info cardClass="combat-roll" cardType="combat-roll" roll=resolveSection.roll pickedType=resolveSection.pickedType overhealing=resolveSection.overhealing hasRoll=true sectionLabel=(localize "EVENTIDE_RP_SYSTEM.Messages.Sections.ResolveDamage")}}
  {{else}}
    {{> roll-info cardClass="combat-roll" cardType="combat-roll" overhealing=overhealing}}
  {{/if}}
  {{#if powerSection}}
    {{> roll-info cardClass="combat-roll" cardType="combat-roll" roll=powerSection.roll pickedType=powerSection.pickedType overhealing=powerSection.overhealing hasRoll=true sectionLabel=(localize "EVENTIDE_RP_SYSTEM.Messages.Sections.PowerDamage")}}
  {{/if}}
  {{> card-ac-check}}


  {{#if description}}
    <div class="chat-card__description">
      {{#if label}}
        <div class="chat-card__description--header">{{actor.name}}. . . </div>
      {{/if}}
      {{{description}}}
    </div>
  {{/if}}
</div>
