<div class="chat-card">
<div class="chat-card__header chat-card__header--status chat-card__header--image" style="{{style}}">
  <img src="{{item.img}}" class="chat-card__image--primary" alt="{{item.name}}" title="Click to enlarge" />
  <div>{{item.name}}</div>
</div>
{{#if item.system.description}}
  <div class="chat-card__description">
    {{#if item.system.rollActorName}}
      <div class="chat-card__description--header">{{item.actor.name}}. . . </div>
    {{/if}}
    {{{item.system.description}}}
  </div>
{{/if}}
{{#if context}}
  <div class="chat-card__context">
    <i class="fas fa-info-circle"></i>
    {{context}}
  </div>
{{/if}}
{{> card-effects}}
</div>
