<div class="chat-card">
  <header class="chat-card__header chat-card__header--transformation{{#if isApplying}}-remove{{/if}} chat-card__header--image">
    <img src="{{transformation.img}}" class="chat-card__image--primary" alt="{{transformation.name}}" title="Click to enlarge" />
    <div>{{transformation.name}}</div>
  </header>

  <div class="chat-card__description">
    <div class="chat-card__description--header">{{actor.name}}. . . </div>
    {{#if (and transformation.system.description isApplying)}} {{!-- Apply with description --}}
      <p>{{{enrichedDescription}}}</p>
    {{/if}}
    {{#if (and (eq transformation.system.description "") isApplying)}} {{!-- Apply without description --}}
      <p>transforms into {{transformation.name}}!</p>
    {{/if}}
    {{#if (not isApplying)}} {{!-- Remove --}}
      <p>reverts from "{{transformation.name}}" back to normal form.</p>
    {{/if}}
  </div>
</div> 