<section class="tab effects {{tab.cssClass}}" data-group="primary" data-tab="characterEffects">
  <div class="eventide-sheet__scrollable-container">
    {{#if (not (eq item.type "transformation"))}}
    <div class="grid grid-cols-2">
    <div>
    <label class="erps-toggles erps-toggles--label-above">
      <input
        type="checkbox"
        class="erps-toggles__input"
        name="effect.displayOnToken"
        id="effect.displayOnToken"
        {{#if activeEffect.duration.seconds}}checked{{/if}}
        data-action="toggleEffectDisplay"
      />
      <div class="erps-toggles__container">
        <span class="erps-toggles__label" title="{{localize 'EVENTIDE_RP_SYSTEM.UI.TokenDisplayTooltip'}}">
          Icon Displayed On Token
        </span>
        <span class="erps-toggles__track">
          <span class="erps-toggles__thumb"></span>
        </span>
      </div>
    </label>

  </div>
  <div>
    {{> erps-color-picker name="iconTint" labelPosition="above" value=iconTint label=(localize "EVENTIDE_RP_SYSTEM.Forms.Sections.IconTint") placeholder="#000000"}}
  </div>

  </div>
  {{/if}}

    {{! Regular Effects Section }}
    <div class="eventide-item-sheet__effects-section">
      <h3 class="eventide-item-sheet__effects-section-header">
        Regular Effects ({{characterEffects.regularEffects.length}})
      </h3>

      <table class="erps-data-table erps-data-table--effects erps-data-table--flush-top">
        <thead class="erps-data-table__header">
          <tr class="erps-data-table__header-row">
            <th class="erps-data-table__header-cell erps-data-table__header-cell--center">Attribute</th>
            <th class="erps-data-table__header-cell erps-data-table__header-cell--center">Mode</th>
            <th class="erps-data-table__header-cell erps-data-table__header-cell--center">Value</th>
            <th class="erps-data-table__header-cell erps-data-table__header-cell--controls">
              {{#if @root.editable}}
                <button
                  type="button"
                  class="erps-data-table__create-button"
                  data-action="newCharacterEffect"
                  data-type="abilities"
                  data-ability="acro"
                  title="{{localize 'EVENTIDE_RP_SYSTEM.UI.AddNewEffect'}}"
                >
                  <i class="fas fa-plus"></i> Add Effect
                </button>
              {{/if}}
            </th>
          </tr>
        </thead>
        <tbody>
          {{#each characterEffects.regularEffects}}
            <tr class="erps-data-table__row">
              <td class="erps-data-table__cell erps-data-table__cell--center">
                <select
                  class="erps-select"
                  name="characterEffects.regularEffects.{{@index}}.ability"
                  data-index="{{@index}}"
                  data-type="visible"
                >
                  {{#each ../config.abilities as |label key|}}
                    <option value="{{key}}" {{#if (eq ../ability key)}}selected{{/if}}>
                      {{localize label}}
                    </option>
                  {{/each}}
                </select>
              </td>

              <td class="erps-data-table__cell erps-data-table__cell--center">
                <select
                  class="erps-select"
                  name="characterEffects.regularEffects.{{@index}}.mode"
                  data-index="{{@index}}"
                  data-type="visible"
                >
                  {{#if (eq ../item.type "transformation")}}
                    <option value="transformOverride" {{#if (eq mode "transformOverride")}}selected{{/if}}>Transform Override</option>
                    <option value="transformChange" {{#if (eq mode "transformChange")}}selected{{/if}}>Transform Change</option>
                  {{else}}
                    <option value="add" {{#if (eq mode "add")}}selected{{/if}}>Add</option>
                    <option value="override" {{#if (eq mode "override")}}selected{{/if}}>Override</option>
                    <option value="advantage" {{#if (eq mode "advantage")}}selected{{/if}}>Advantage</option>
                    <option value="disadvantage" {{#if (eq mode "disadvantage")}}selected{{/if}}>Disadvantage</option>
                    <option value="AC" {{#if (eq mode "ac.change")}}selected{{/if}}>AC Only</option>
                  {{/if}}
                </select>
              </td>

              <td class="erps-data-table__cell erps-data-table__cell--center">
                <div class="erps-number-input">
                  <button
                    type="button"
                    class="erps-number-input__button erps-number-input__button--decrement"
                  >
                    <i class="fas fa-minus"></i>
                  </button>
                  <input
                    type="number"
                    class="erps-number-input__input"
                    name="characterEffects.regularEffects.{{@index}}.value"
                    value="{{value}}"
                    step="1"
                    data-index="{{@index}}"
                    data-type="visible"
                  >
                  <button
                    type="button"
                    class="erps-number-input__button erps-number-input__button--increment"
                  >
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
              </td>

              <td class="erps-data-table__cell erps-data-table__cell--controls">
                {{#if @root.editable}}
                  <div class="erps-data-table__controls">
                    <button
                      type="button"
                      class="erps-data-table__control-button erps-data-table__control-button--delete"
                      data-action="deleteCharacterEffect"
                      data-index="{{@index}}"
                      data-type="regularEffects"
                      title="{{localize 'EVENTIDE_RP_SYSTEM.UI.RemoveEffect'}}"
                    >
                      <i class="fas fa-trash"></i>
                    </button>
                  </div>
                {{/if}}
              </td>
            </tr>
          {{/each}}
          {{#unless characterEffects.regularEffects.length}}
            <tr class="erps-data-table__row">
              <td colspan="4" class="erps-data-table__cell erps-data-table__cell--center" style="font-style: italic; opacity: 0.7;">
                No regular effects configured
              </td>
            </tr>
          {{/unless}}
        </tbody>
      </table>
    </div>

    {{! Hidden Effects Section }}
    {{#if (not (eq item.type "transformation"))}}
    {{#if isGM}}
      <div class="eventide-item-sheet__effects-section eventide-item-sheet__effects-section--hidden">
        <h3 class="eventide-item-sheet__effects-section-header">
          Hidden Effects ({{characterEffects.hiddenEffects.length}})
        </h3>

        <table class="erps-data-table erps-data-table--effects erps-data-table--flush-top">
          <thead class="erps-data-table__header">
            <tr class="erps-data-table__header-row">
              <th class="erps-data-table__header-cell erps-data-table__header-cell--center">Attribute</th>
              <th class="erps-data-table__header-cell erps-data-table__header-cell--center">Mode</th>
              <th class="erps-data-table__header-cell erps-data-table__header-cell--center">Value</th>
              <th class="erps-data-table__header-cell erps-data-table__header-cell--controls">
                {{#if @root.editable}}
                  <button
                    type="button"
                    class="erps-data-table__create-button"
                    data-action="newCharacterEffect"
                    data-type="hiddenAbilities"
                    data-ability="dice"
                    title="{{localize 'EVENTIDE_RP_SYSTEM.UI.AddNewHiddenEffect'}}"
                  >
                    <i class="fas fa-plus"></i> {{localize "EVENTIDE_RP_SYSTEM.UI.AddEffect"}}
                  </button>
                {{/if}}
              </th>
            </tr>
          </thead>
          <tbody>
            {{#each characterEffects.hiddenEffects}}
              <tr class="erps-data-table__row erps-data-table__row--hidden">
                <td class="erps-data-table__cell erps-data-table__cell--center">
                  <select
                    class="erps-select"
                    name="characterEffects.hiddenEffects.{{@index}}.ability"
                    data-index="{{@index}}"
                    data-type="hiddenEffects"
                  >
                    {{#each ../config.hiddenAbilities as |label key|}}
                      <option value="{{key}}" {{#if (eq ../ability key)}}selected{{/if}}>
                        {{localize label}}
                      </option>
                    {{/each}}
                  </select>
                </td>

                <td class="erps-data-table__cell erps-data-table__cell--center">
                  <select
                    class="erps-select"
                    name="characterEffects.hiddenEffects.{{@index}}.mode"
                    data-index="{{@index}}"
                    data-type="hiddenEffects"
                  >
                    <option value="add" {{#if (eq mode "add")}}selected{{/if}}>Add</option>
                    <option value="override" {{#if (eq mode "override")}}selected{{/if}}>Override</option>
                  </select>
                </td>

                <td class="erps-data-table__cell erps-data-table__cell--center">
                  <div class="erps-number-input">
                    <button
                      type="button"
                      class="erps-number-input__button erps-number-input__button--decrement"
                    >
                      <i class="fas fa-minus"></i>
                    </button>
                    <input
                      type="number"
                      class="erps-number-input__input"
                      name="characterEffects.hiddenEffects.{{@index}}.value"
                      value="{{value}}"
                      step="1"
                      data-index="{{@index}}"
                      data-type="hiddenEffects"
                    >
                    <button
                      type="button"
                      class="erps-number-input__button erps-number-input__button--increment"
                    >
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
                </td>

                <td class="erps-data-table__cell erps-data-table__cell--controls">
                  {{#if @root.editable}}
                    <div class="erps-data-table__controls">
                      <button
                        type="button"
                        class="erps-data-table__control-button erps-data-table__control-button--delete"
                        data-action="deleteCharacterEffect"
                        data-index="{{@index}}"
                        data-type="hiddenEffects"
                        title="{{localize 'EVENTIDE_RP_SYSTEM.UI.RemoveEffect'}}"
                      >
                        <i class="fas fa-trash"></i>
                      </button>
                    </div>
                  {{/if}}
                </td>
              </tr>
            {{/each}}
            {{#unless characterEffects.hiddenEffects.length}}
              <tr class="erps-data-table__row">
                <td colspan="4" class="erps-data-table__cell erps-data-table__cell--center" style="font-style: italic; opacity: 0.7;">
                  No hidden effects configured
                </td>
              </tr>
            {{/unless}}
          </tbody>
        </table>
      </div>
    {{else if hiddenEffects.length}}
      <div class="eventide-item-sheet__effects-section eventide-item-sheet__effects-section--hidden">
        <h3 class="eventide-item-sheet__effects-section-header">
          Hidden Effects ({{characterEffects.hiddenEffects.length}})
        </h3>

        <table class="erps-data-table erps-data-table--effects erps-data-table--flush-top">
          <thead class="erps-data-table__header">
            <tr class="erps-data-table__header-row">
              <th class="erps-data-table__header-cell erps-data-table__header-cell--center">Attribute</th>
              <th class="erps-data-table__header-cell erps-data-table__header-cell--center">Mode</th>
              <th class="erps-data-table__header-cell erps-data-table__header-cell--center">Value</th>
              <th class="erps-data-table__header-cell erps-data-table__header-cell--controls">
                <div class="erps-data-table__transformation-notice">
                  <i class="fas fa-eye-slash"></i>
                  <span>Hidden from Players</span>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            {{#each characterEffects.hiddenEffects}}
              <tr class="erps-data-table__row erps-data-table__row--hidden">
                <td class="erps-data-table__cell erps-data-table__cell--center">
                  <select
                    class="erps-select"
                    name="characterEffects.hiddenEffects.{{@index}}.ability"
                    data-index="{{@index}}"
                    data-type="hidden"
                    disabled
                  >
                    {{#each ../config.hiddenAbilities as |label key|}}
                      <option value="{{key}}" {{#if (eq ../ability key)}}selected{{/if}}>
                        {{localize label}}
                      </option>
                    {{/each}}
                  </select>
                </td>

                <td class="erps-data-table__cell erps-data-table__cell--center">
                  <select
                    class="erps-select"
                    name="characterEffects.hiddenEffects.{{@index}}.mode"
                    data-index="{{@index}}"
                    data-type="hidden"
                    disabled
                  >
                    <option value="add" {{#if (eq ../mode "change")}}selected{{/if}}>Add</option>
                    <option value="override" {{#if (eq ../mode "override")}}selected{{/if}}>Override</option>
                  </select>
                </td>

                <td class="erps-data-table__cell erps-data-table__cell--center">
                  <div class="erps-number-input">
                    <button type="button" class="erps-number-input__button erps-number-input__button--decrement" disabled>
                      <i class="fas fa-minus"></i>
                    </button>
                    <input
                      type="number"
                      class="erps-number-input__input"
                      name="characterEffects.hiddenEffects.{{@index}}.value"
                      value="{{value}}"
                      step="1"
                      data-index="{{@index}}"
                      data-type="hidden"
                      disabled
                    >
                    <button type="button" class="erps-number-input__button erps-number-input__button--increment" disabled>
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
                </td>

                <td class="erps-data-table__cell erps-data-table__cell--controls">
                  <div class="erps-data-table__controls">
                    <i class="fas fa-eye-slash" title="{{localize 'EVENTIDE_RP_SYSTEM.UI.HiddenEffect'}}" style="opacity: 0.7;"></i>
                  </div>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    {{/if}}
    {{/if}}

    {{! Settings Effects Section }}
    <div class="eventide-item-sheet__effects-section">
      <h3 class="eventide-item-sheet__effects-section-header">
        Settings Effects ({{characterEffects.overrideEffects.length}})
      </h3>

      <table class="erps-data-table erps-data-table--effects erps-data-table--flush-top">
        <thead class="erps-data-table__header">
          <tr class="erps-data-table__header-row">
            <th class="erps-data-table__header-cell erps-data-table__header-cell--center">Attribute</th>
            <th class="erps-data-table__header-cell erps-data-table__header-cell--center">Mode</th>
            <th class="erps-data-table__header-cell erps-data-table__header-cell--center">Value</th>
            <th class="erps-data-table__header-cell erps-data-table__header-cell--controls">
              {{#if @root.editable}}
                <button
                  type="button"
                  class="erps-data-table__create-button"
                  data-action="newCharacterEffect"
                  data-type="overrideAbilities"
                  data-ability="powerOverride"
                  title="{{localize 'EVENTIDE_RP_SYSTEM.UI.AddNewEffect'}}"
                >
                  <i class="fas fa-plus"></i> Add Effect
                </button>
              {{/if}}
            </th>
          </tr>
        </thead>
        <tbody>
          {{#each characterEffects.overrideEffects}}
            <tr class="erps-data-table__row">
              <td class="erps-data-table__cell erps-data-table__cell--center">
                <select
                  class="erps-select"
                  name="characterEffects.overrideEffects.{{@index}}.ability"
                  data-index="{{@index}}"
                  data-type="overrideEffects"
                >
                  {{#each ../config.overrideAbilities as |label key|}}
                    <option value="{{key}}" {{#if (eq ../ability key)}}selected{{/if}}>
                      {{localize label}}
                    </option>
                  {{/each}}
                </select>
              </td>

              <td class="erps-data-table__cell erps-data-table__cell--center">
                <select
                  class="erps-select"
                  name="characterEffects.overrideEffects.{{@index}}.mode"
                  data-index="{{@index}}"
                  data-type="overrideEffects"
                >
                  <option value="override" {{#if (eq mode "override")}}selected{{/if}}>Override</option>
                </select>
              </td>

              <td class="erps-data-table__cell erps-data-table__cell--center">
                <div class="erps-number-input">
                  <button
                    type="button"
                    class="erps-number-input__button erps-number-input__button--decrement"
                  >
                    <i class="fas fa-minus"></i>
                  </button>
                  <input
                    type="number"
                    class="erps-number-input__input"
                    name="characterEffects.overrideEffects.{{@index}}.value"
                    value="{{value}}"
                    step="1"
                    data-index="{{@index}}"
                    data-type="overrideEffects"
                  >
                  <button
                    type="button"
                    class="erps-number-input__button erps-number-input__button--increment"
                  >
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
              </td>

              <td class="erps-data-table__cell erps-data-table__cell--controls">
                {{#if @root.editable}}
                  <div class="erps-data-table__controls">
                    <button
                      type="button"
                      class="erps-data-table__control-button erps-data-table__control-button--delete"
                      data-action="deleteCharacterEffect"
                      data-index="{{@index}}"
                      data-type="overrideEffects"
                      title="{{localize 'EVENTIDE_RP_SYSTEM.UI.RemoveEffect'}}"
                    >
                      <i class="fas fa-trash"></i>
                    </button>
                  </div>
                {{/if}}
              </td>
            </tr>
          {{/each}}
          {{#unless characterEffects.overrideEffects.length}}
            <tr class="erps-data-table__row">
              <td colspan="4" class="erps-data-table__cell erps-data-table__cell--center" style="font-style: italic; opacity: 0.7;">
                No settings effects configured
              </td>
            </tr>
          {{/unless}}
        </tbody>
      </table>
    </div>
  </div>
</section>
