{{! Description Tab }}
<section
  class='tab description {{tab.cssClass}}'
  data-group='primary'
  data-tab='description'
>
  {{! Editors must receive enriched text data from getData to properly handle rolls, UUID links, etc. }}
  {{#if editable}}
    {{#if (or isEmbedded isTransformationActionCard)}}
      {{!-- Embedded combat powers and transformation action cards CANNOT be in collaboration mode. --}}
      <prose-mirror
        name="system.description"
        value="{{system.description}}"
        toggled="true"
      >
        {{{enrichedDescription}}}
      </prose-mirror>
    {{else}}
      <prose-mirror
        name="system.description"
        data-document-u-u-i-d="{{item.uuid}}"
        value="{{system.description}}"
        collaborate="true"
        toggled="true"
      >
        {{{enrichedDescription}}}
      </prose-mirror>
    {{/if}}
  {{else}}
    {{{enrichedDescription}}}
  {{/if}}
</section>
