<header class='eventide-sheet__header eventide-sheet__header--item'>
  <img
    class='eventide-profile-image'
    src='{{item.img}}'
    data-edit='img'
    data-action='onEditImage'
    title='{{item.name}}'
  />
  <div class='eventide-sheet__header-fields'>
    <div>
      <input
        name='name'
        type='text'
        class="erps-input"
        value='{{item.name}}'
        placeholder='{{localize "EVENTIDE_RP_SYSTEM.Forms.Placeholders.Name"}}'
      />
    </div>
    {{#if (eq item.type 'gear')}}
      <div class='grid grid-4col'>
        <div>
          <label class='erps-input-label'>
            {{localize 'EVENTIDE_RP_SYSTEM.Item.Inventory.Quantity.label'}}
          </label>
          <input
            type="number"
            class="erps-input"
            name="system.quantity"
            value="{{system.quantity}}"
            data-dtype="Number"
          />
        </div>
        <div>
          <label class='erps-input-label'>
            {{localize 'EVENTIDE_RP_SYSTEM.Item.Inventory.Weight.label'}}
          </label>
          <input
            type="number"
            class="erps-input"
            name="system.weight"
            value="{{system.weight}}"
            data-dtype="Number"
          />
        </div>
        <div>
          <label class='erps-input-label'>
            {{localize 'EVENTIDE_RP_SYSTEM.Item.Inventory.Cost.label'}}
          </label>
          <input
            type="number"
            class="erps-input"
            name="system.cost"
            value="{{system.cost}}"
            data-dtype="Number"
          />
        </div>
        <div>
          <label class="erps-input-label">
            {{localize 'EVENTIDE_RP_SYSTEM.Forms.Sections.ClassName'}}
          </label>
          <select name="system.className" class="erps-select">
            {{#each @root.config.classNames as |name key|}}
              <option
                value="{{key}}"
                {{#if (eq ../system.className key)}}selected{{/if}}
              >
                {{localize (lookup @root.config.classNames key)}}
              </option>
            {{/each}}
          </select>
        </div>
      </div>
    {{/if}}
    <div class="grid grid-2-col">
      {{#if (eq item.type 'combatPower')}}
        <div class="grid-span-2">
          <label class='erps-input-label'>
            {{localize 'EVENTIDE_RP_SYSTEM.Item.Inventory.Cost.label'}}
          </label>
          <input
            type="number"
            class="erps-input"
            name="system.cost"
            value="{{system.cost}}"
            data-dtype="Number"
          />
        </div>
      {{/if}}
      {{#if (not (eq item.type 'transformation'))}}
        <div>
          {{> erps-color-picker
            name="system.textColor"
            value=system.textColor
            labelPosition="above"
            label=(localize "EVENTIDE_RP_SYSTEM.Item.Colors.TextColor.label")
            placeholder=(localize "EVENTIDE_RP_SYSTEM.Item.Colors.TextColor.placeholder")
          }}
        </div>
        <div>
          {{> erps-color-picker
            name="system.bgColor"
            value=system.bgColor
            labelPosition="above"
            label=(localize "EVENTIDE_RP_SYSTEM.Item.Colors.BgColor.label")
            placeholder=(localize "EVENTIDE_RP_SYSTEM.Item.Colors.BgColor.placeholder")
          }}
        </div>
      {{/if}}
    </div>
    <div class="grid grid-3col">
      {{#if (not (eq item.type 'transformation'))}}
      <div class="eventide-sheet__toggle-group">
        <label class="erps-toggles erps-toggles--label-left">
          <input
            type="checkbox"
            class="erps-toggles__input"
            name="system.rollActorName"
            id="system.rollActorName"
            {{checked system.rollActorName}}
          />
          <div class="erps-toggles__container">
            <span class="erps-toggles__label" title='{{localize "EVENTIDE_RP_SYSTEM.Item.Descriptors.RollActorName.label"}}'>
              {{localize "EVENTIDE_RP_SYSTEM.Item.Descriptors.RollActorName.label"}}
            </span>
            <span class="erps-toggles__track">
              <span class="erps-toggles__thumb"></span>
            </span>
          </div>
        </label>
      </div>
      {{else}}
      {{#if isGM}}
          <div class="eventide-sheet__toggle-group">
            <label class="erps-toggles erps-toggles--label-left">
              <input
                type="checkbox"
                class="erps-toggles__input"
                name="system.cursed"
                id="system.cursed"
                {{checked system.cursed}}
              />
              <div class="erps-toggles__container">
                <span class="erps-toggles__label" title='{{localize "EVENTIDE_RP_SYSTEM.Item.Inventory.Cursed.label"}}'>
                  {{localize "EVENTIDE_RP_SYSTEM.Item.Inventory.Cursed.label"}}
                </span>
                <span class="erps-toggles__track">
                  <span class="erps-toggles__thumb"></span>
                </span>
              </div>
            </label>
          </div>
        {{/if}}
      {{/if}}
      {{#if (eq item.type 'gear')}}
        <div class="eventide-sheet__toggle-group">
          <label class="erps-toggles erps-toggles--label-left">
            <input
              type="checkbox"
              class="erps-toggles__input"
              name="system.equipped"
              id="system.equipped"
              {{checked system.equipped}}
              {{#if (lte system.quantity 0)}}disabled{{/if}}
            />
            <div class="erps-toggles__container">
              <span class="erps-toggles__label" title='{{localize "EVENTIDE_RP_SYSTEM.Item.Inventory.Equipped.label"}}'>
                {{localize "EVENTIDE_RP_SYSTEM.Item.Inventory.Equipped.label"}}
              </span>
              <span class="erps-toggles__track">
                <span class="erps-toggles__thumb"></span>
              </span>
            </div>
          </label>
        </div>
        {{#if isGM}}
          <div class="eventide-sheet__toggle-group">
            <label class="erps-toggles erps-toggles--label-left">
              <input
                type="checkbox"
                class="erps-toggles__input"
                name="system.cursed"
                id="system.cursed"
                {{checked system.cursed}}
              />
              <div class="erps-toggles__container">
                <span class="erps-toggles__label" title='{{localize "EVENTIDE_RP_SYSTEM.Item.Inventory.Cursed.label"}}'>
                  {{localize "EVENTIDE_RP_SYSTEM.Item.Inventory.Cursed.label"}}
                </span>
                <span class="erps-toggles__track">
                  <span class="erps-toggles__thumb"></span>
                </span>
              </div>
            </label>
          </div>
        {{/if}}
      {{/if}}
    </div>
  </div>
</header>
