<header class='sheet-header'>
  <img
    class='profile-img'
    src='{{item.img}}'
    data-edit='img'
    data-action='onEditImage'
    title='{{item.name}}'
  />
  <div class='header-fields'>
    <div class='document-name'>
      <input name='name' type='text' value='{{item.name}}' placeholder='Name' />
    </div>
    {{! You may prefer to have a separate header file instead of this if statement}}
    <div class="form-group">
      <label class="checkbox">
        <input type="checkbox" name="system.rollActorName" {{checked system.rollActorName}}/>
        {{localize "EVENTIDE_RP_SYSTEM.Item.Base.FIELDS.rollActorName.label"}}
      </label>
    </div>
    {{#if (eq item.type 'gear')}}
      <div class='grid grid-2col'>
        <div class='resource'>
          <label class='resource-label'>{{localize 'EVENTIDE_RP_SYSTEM.Item.Gear.FIELDS.quantity.label'}}</label>
          <input
            type='text'
            name='system.quantity'
            value='{{system.quantity}}'
            data-dtype='Number'
          />
        </div>
        <div class='resource'>
          <label class='resource-label'>{{localize 'EVENTIDE_RP_SYSTEM.Item.Gear.FIELDS.weight.label'}}</label>
          <input
            type='text'
            name='system.weight'
            value='{{system.weight}}'
            data-dtype='Number'
          />
        </div>
      </div>
    {{/if}}
    {{#if (or (eq item.type 'status') (eq item.type 'feature'))}}
      <div class="grid grid-2col">
        <color-picker name="system.textColor" value="{{item.system.textColor}}" placeholder="{{localize 'EVENTIDE_RP_SYSTEM.Item.Status.FIELDS.textColor.placeholder'}}">
          <input type="text" placeholder="{{localize 'EVENTIDE_RP_SYSTEM.Item.Status.FIELDS.textColor.placeholder'}}" name="system.textColor" data-edit="system.textColor"/>
          <input type="color">
        </color-picker>
        <color-picker name="system.bgColor" value="{{item.system.bgColor}}" placeholder="{{localize 'EVENTIDE_RP_SYSTEM.Item.Status.FIELDS.bgColor.placeholder'}}">
          <input type="text" placeholder="{{localize 'EVENTIDE_RP_SYSTEM.Item.Status.FIELDS.bgColor.placeholder'}}" name="system.bgColor" data-edit="system.bgColor"/>
          <input type="color">
        </color-picker>
      </div>
    {{/if}}
    {{#if (eq item.type 'combatPower')}}
      <div class="grid grid-2col">
        <div class='resource grid-span-2'>
          <label class='resource-label'>{{localize 'EVENTIDE_RP_SYSTEM.Item.CombatPower.FIELDS.cost.label'}}</label>
          <input type="text" name="system.cost" value="{{system.cost}}" data-dtype="Number" />
        </div>
        <div class='resource'>
          <label class='resource-label'>{{localize 'EVENTIDE_RP_SYSTEM.Item.CombatPower.FIELDS.textColor.label'}}</label>
          <color-picker name="system.textColor" value="{{system.textColor}}" placeholder="{{localize 'EVENTIDE_RP_SYSTEM.Item.CombatPower.FIELDS.textColor.placeholder'}}">
            <input type="text" placeholder="{{localize 'EVENTIDE_RP_SYSTEM.Item.CombatPower.FIELDS.textColor.placeholder'}}" name="system.textColor" data-edit="system.textColor"/>
            <input type="color">
          </color-picker>
        </div>
        <div class='resource'>
          <label class='resource-label'>{{localize 'EVENTIDE_RP_SYSTEM.Item.CombatPower.FIELDS.bgColor.label'}}</label>
          <color-picker name="system.bgColor" value="{{system.bgColor}}" placeholder="{{localize 'EVENTIDE_RP_SYSTEM.Item.CombatPower.FIELDS.bgColor.placeholder'}}">
            <input type="text" placeholder="{{localize 'EVENTIDE_RP_SYSTEM.Item.CombatPower.FIELDS.bgColor.placeholder'}}" name="system.bgColor" data-edit="system.bgColor"/>
            <input type="color">
          </color-picker>
        </div>
      </div>
    {{/if}}
  </div>
</header>