<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header grid grid-3col">
    <img class="profile-img flex-group-center" width="50px" height="50px" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </div>
    <div class="flexcol flex-group-center">
      <color-picker name="system.textColor" value="{{item.system.textColor}}" placeholder="Text Color">
        <input type="text" placeholder="Text Color" name="system.textColor" data-edit="system.textColor"/>
        <input type="color">
      </color-picker>
      <color-picker name="system.bgColor" value="{{item.system.bgColor}}" placeholder="Background Color">
        <input type="text" placeholder="Background Color" name="system.bgColor" data-edit="system.bgColor"/>
        <input type="color">
      </color-picker>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{!-- Editors must receive enriched text data from getData to properly handle rolls --}}
      {{editor enrichedDescription target="system.description" engine="prosemirror" button=true editable=editable}}
    </div>

    {{!-- Effects Tab --}}
    <div class="tab effects" data-group="primary" data-tab="effects">
      {{> "systems/eventide-rp-system/templates/item/parts/item-effects.hbs"}}
    </div>
  </section>

</form>
